/* 게시글 없을 때 */
.noticeZero {
    border-bottom: 1px solid var(--gray-color);
    text-align: center;
}

/* 등록버튼 */
.defaultBtn {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

/* 목록 화면 버튼 */
.listBtn {
    width: 100%;
}

/* 검색 */
.table-head {
    margin-bottom: 0px !important;
}

.table-body {
    margin: 0px !important;
    padding: 10px;
    cursor: pointer;
}

.table-body:hover {
    background: var(--gray-color);
    /* margin: 0px !important; */
}

.search button {
    border: none;
    background: transparent;
    margin: 0 10px;
    color: #c7c5c5;
}

/* 다운로드버튼 */
.fileUploadForm a {
    color: black;
}

/************************** 등록 화면 */
/* 등록 화면 버튼 */
.insBtn {
    width: 59%;
}

.margin10 {
    margin-left: 10px;
}

.insertForm div:nth-child(1) {
    margin-right: 55px;
}

.ins-css.insertForm {
    display: flex;
}

/* 등록 라벨 */
.ins-css.insertForm div {
    margin: 0 !important;
    display: flex;
    align-items: center;
    width: 100px;
}

/* 버튼있는 input */
.inputBtn {
    width: 452px;
    margin-right: 10px !important;
}

/* 첨부파일 버튼 */
.fileType {
    position: relative;
    width: 48px;
}

span.fileSelect {
    position: absolute;
    top: -4px;
    left: 0;
    width: 89px;
    overflow: hidden;
}

span.fileSelect input {
    width: 89px;
    opacity: 0;
}

/* 업로드파일 리스트 기본 높이 */
table.preview {
    height: 50px;
}

/* 첨부파일 버튼 */
.btnBoarder {
    background: transparent;
    border: none;
}

/* 첨부파일 */
.fileUploadForm {
    margin-top: 50px !important;
}

.fa-solid, .fas::before {
    margin-right: 10px !important;
}

.colorGray {
    color: #bbb;
    margin-left: 10px;
}

table.default-line {
    width: 100%;
}

table.default-line td {
    padding: 10px;
}

table.default-line td:nth-child(1) {
    width: 95%;
}

.insertCombo {
    display: flex;
}

/* 에디터 */
.default-line.smarteditorDetail {
    min-height: 500px;
    padding: 15px;
    overflow: auto;
    height: auto;
    overflow-y: hidden;
}

/* 상세 */
.ins-css.detailForm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ins-css.detailForm div {
    margin: 0 20px 0 15px;
}