* {
    /* border: 1px solid green; */
}

body {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 200px;
    justify-content: start;
    padding: 10px 10px 0px 10px;
    margin: 0;
}

#registrationNumArea {
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 255px;
}
#registrationNumArea > input {
    width: 160px;
}
table {
    display: none;
    margin-top: 10px;
    border: 1px solid var(--main5-color);
}
table th {
    text-align: left;
    width: 100px;
    height: 20px;
    padding-left: 5px;
    border: 1px solid var(--main5-color);
}
table td {
    width: 128px;
    padding: 5px;
    line-height: 18px;
    border: 1px solid var(--main5-color);
}

.btnDiv {
    display: none;
    justify-content: center;
    margin-top: 10px;
}
.btnDiv > :nth-child(1) {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

/* 스크롤바 */ /* yoon 0626 추가 */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 14px; /* 스크롤바 너비 */
}

::-webkit-scrollbar-track {
    background: #e2e7ec /* 트랙 배경 */
}

::-webkit-scrollbar-thumb {
    background: #82A6CB; /* 스크롤바 색상 */
    border-radius: 5px; /* 스크롤바 모서리 둥글게 */
}

::-webkit-scrollbar-thumb:hover {
    background: #E5F2FE; /* 스크롤바 호버 시 색상 */
}

/* Firefox */
* {
    scrollbar-width: thin; /* 스크롤바 너비 */
    scrollbar-color: #82A6CB #e2e7ec; /* 스크롤바 색상 및 트랙 배경 */
}

/* IE, Edge (Old versions) */
body {
    -ms-overflow-style: none; /* 기본 스크롤바 스타일 제거 */
}
body::-webkit-scrollbar {
    display: none; /* 기본 스크롤바 숨김 */
}