<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.attendance.model.mapper.AttendanceMapper">
	
	<!-- 출근 확인 -->
	<select id="arrivalCheck">
		SELECT COUNT(*) FROM ATTENDENCE 
		WHERE EMP_CODE = #{empCode}
		AND TO_CHAR(ATTENDANCE_TIME, 'YYYY-MM-DD') = '${date}'
	</select>
	
	<!-- 출근 기록 저장 -->
	<insert id="arrivalrecord">
		INSERT INTO ATTENDENCE VALUES(
			SEQ_ATTENDENCE.NEXTVAL,
			TO_DATE('${dateTime}', 'YYYY-MM-DD HH24:MI:SS'),
			NULL,
			#{empCode},
			NULL
		)
	</insert>
	
	<!-- 당일 출근 기록 조회 -->
	<select id="selectArrivalTime">
		SELECT TO_CHAR(ATTENDANCE_TIME, 'HH24:MI:SS') "arrivalTime"
		FROM ATTENDENCE 
		WHERE EMP_CODE = #{empCode}
		AND TO_CHAR(ATTENDANCE_TIME, 'YYYY-MM-DD') = '${date}'
	</select>
	
	<!-- 퇴근 기록 저장 -->
	<insert id="departureRecord">
		UPDATE ATTENDENCE SET
		OFF_TIME = TO_DATE('${dateTime}', 'YYYY-MM-DD HH24:MI:SS')
		WHERE EMP_CODE = #{empCode}
		AND TO_CHAR(ATTENDANCE_TIME, 'YYYY-MM-DD') = '${date}'
	</insert>
	
	<!-- 당일 퇴근 기록 조회 -->
	<select id="selectDepartureTime">
		SELECT TO_CHAR(OFF_TIME, 'HH24:MI:SS') "departureTime"
		FROM ATTENDENCE 
		WHERE EMP_CODE = #{empCode}
		AND TO_CHAR(ATTENDANCE_TIME, 'YYYY-MM-DD') = '${date}'
	</select>
	
</mapper>