<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.admin.authority.model.mapper.AuthorityManageMapper">

	<!-- 사원 수 조회 -->
	<select id="getAuthorityListCount">
		SELECT 
			 COUNT(*)
		FROM EMPLOYEE E
		LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
		LEFT JOIN DEPARTMENT D ON T.DEPT_NO = D.DEPT_NO
		LEFT JOIN "POSITION" P ON E.POSITION_NO = P.POSITION_NO 
		WHERE E.COM_NO = #{comNo}
		<if test="deptNo > 0">
		AND D.DEPT_NO = #{deptNo}
		</if>
		<if test="teamNo > 0">
		AND E.TEAM_NO = #{teamNo}
		</if>
		<if test="empName != null">
		AND EMP_LAST_NAME || EMP_FIRST_NAME like '%' ||  #{empName} || '%'
		</if>
	</select>
	
	<!-- 사원별 권한 목록 조회 -->
	<select id="authorityList">
		SELECT 
			 EMP_CODE
			,D.DEPT_NM 
			,T.TEAM_NM 
			,EMP_LAST_NAME
			,EMP_FIRST_NAME
			,P.POSITION_NM 
			,EMP_EMAIL
			, DECODE( (SELECT COUNT(*) FROM AUTHORITY_MEMBER WHERE EMP_CODE = E.EMP_CODE AND AUTHORITY_NO = 1), 0, 'N', 'Y' ) AS ATTENDANCE_YN
			, DECODE( (SELECT COUNT(*) FROM AUTHORITY_MEMBER WHERE EMP_CODE = E.EMP_CODE AND AUTHORITY_NO = 2), 0, 'N', 'Y' ) AS FUNCTION_YN
			, DECODE( (SELECT COUNT(*) FROM AUTHORITY_MEMBER WHERE EMP_CODE = E.EMP_CODE AND AUTHORITY_NO = 3), 0, 'N', 'Y' ) AS TEAM_BOARD_YN
			,D.DEPT_NO 
			,EMP_NO
			,EMP_ID
			,E.COM_NO
			,E.TEAM_NO
			,P.POSITION_NO
			,GENERAL_MANAGER
		FROM EMPLOYEE E
		LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
		LEFT JOIN DEPARTMENT D ON T.DEPT_NO = D.DEPT_NO
		LEFT JOIN "POSITION" P ON E.POSITION_NO = P.POSITION_NO 
		WHERE E.COM_NO = #{comNo}
		<if test="deptNo > 0">
		AND D.DEPT_NO = #{deptNo}
		</if>
		<if test="teamNo > 0">
		AND E.TEAM_NO = #{teamNo}
		</if>
		<if test="empName != null">
		AND EMP_LAST_NAME || EMP_FIRST_NAME like '%' ||  #{empName} || '%'
		</if>
		ORDER BY DEPT_NO, TEAM_NO, "LEVEL", EMP_CODE
	</select>
	
	<!-- 사원 권한 조회 -->
	<select id="authorityDetail">
		SELECT 
			 AUTHORITY_MEMBER_NO
			,AUTHORITY_NO
			,EMP_CODE
		FROM AUTHORITY_MEMBER
		WHERE EMP_CODE = #{empCode}
	</select>
	
	<!-- 사원 권한 삭제 -->
	<delete id="authorityDelete" parameterType="list">
	    DELETE FROM AUTHORITY_MEMBER
	    WHERE (EMP_CODE, AUTHORITY_NO) IN (
	    <foreach collection="list" item="authority" open="(" separator="),(" close=")">
	        ${authority.empCdoe}, ${authority.authorityNo}
	    </foreach>
	    )
	</delete>
	
	<!-- 사원 권한 등록 -->
	<insert id="authorityInsert" parameterType="list">
		INSERT INTO AUTHORITY_MEMBER
		
		<foreach collection="list" item="authority" 
			open="(" close=")" separator=" UNION ">
			SELECT 
				  NEXT_AUTHORITY_MEMBER()
				, #{authority.authorityNo}
				, #{authority.empCdoe}
			FROM DUAL
		</foreach>
	</insert>
</mapper>
