<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.edsm.model.mapper.EdsmMapper">

	<!-- 자주찾는 결재 목록 -->
	<select id="draftKeepList">
		SELECT 
			 DRAFT_NO
			,DRAFT_TITLE
			,COM_NO
			,DRAFT_FLAG
			,'N' KEEP_YN
		FROM DRAFT
		WHERE COM_NO = #{comNo}
		<![CDATA[AND DRAFT_FLAG <= 6]]>
		UNION 
		SELECT 
			 DRAFT_NO
			,DRAFT_TITLE
			,COM_NO
			,DRAFT_FLAG
			,KEEP_YN
		FROM DRAFT
		JOIN DRAFT_KEEP USING (DRAFT_NO)
		WHERE EMP_CODE = #{empCode}
		AND KEEP_YN = 'Y'
		ORDER BY DRAFT_FLAG, DRAFT_NO
	</select>
	
	<!-- 자주쓰는 결재 수정 -->
	<update id="draftKeepUpdate">
		UPDATE DRAFT_KEEP SET
			KEEP_YN = #{keepYn}
		WHERE DRAFT_NO = #{draftNo}
		AND EMP_CODE = #{empCode}
	</update>
	
	<!-- 자주쓰는결재 등록 -->
	<insert id="draftKeepInsert">
		INSERT INTO DRAFT_KEEP VALUES(
			 SEQ_DRAFT_KEEP.NEXTVAL
			,#{draftNo}
			,#{empCode}
			,DEFAULT
		)
	</insert>
	
	<!-- 전자결재 등록 -->
	<insert id="edsmRequest" useGeneratedKeys="true" parameterType="Edsm">
		<selectKey order="BEFORE" resultType="_int" keyProperty="edsmNo">
			SELECT SEQ_EDSM.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO EDSM
		VALUES(
			 #{edsmNo}
			,#{edsmTitle}
			,#{edsmContent}
			,DEFAULT
			,DEFAULT
			,#{empCode}
			,DEFAULT
			,#{draftNo}
		)
	</insert>
	
	<!-- 전자결재 다중 파일 등록 -->
	<insert id="edsmFileInsert" parameterType="list">
		INSERT INTO EDSM_FILE
		
		<foreach collection="list" item="file"
			open="(" close=")" separator=" UNION ">
			SELECT
				 NEXT_EDSM_FILE()
				,#{file.filePath}
				,#{file.fileOriginName}
				,#{file.fileRename}
				,SYSDATE
				,#{file.fileOrder}
				,#{file.edsmNo}
			FROM DUAL
		</foreach>
	</insert>
	
	<!-- 결재자 다중 등록 -->
	<insert id="approverInsert" parameterType="list">
		INSERT INTO APPROVER
		
		<foreach collection="list" item="approver"
			open="(" close=")" separator=" UNION ">
			SELECT
				 NEXT_APPROVER()
				,#{approver.approverFlag}
				,#{approver.empCode}
				,NULL
				,NULL
				,#{approver.edsmNo}
				,NULL
			FROM DUAL
		</foreach>
	</insert>
	
	<!-- 결재인, 참조인 검색 -->
	<select id="employeeSearch">
		SELECT 
			 E.EMP_CODE
			,E.EMP_ID
			,T.TEAM_NM
			,E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS EMP_FIRST_NAME
			,P."POSITION_NM"
		FROM EMPLOYEE E
		LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
		LEFT JOIN "POSITION" P ON E.POSITION_NO  = P."POSITION_NO"
		WHERE E.COM_NO = #{comNo}
		ORDER BY T.TEAM_NO, P."LEVEL"
	</select>
	
	<!-- 결재인, 참조인 검색 찾기 -->
	<select id="edsmSerach">
		SELECT
		* FROM (
			SELECT 
				 E.EMP_CODE
				,E.EMP_ID
				,T.TEAM_NM
				,E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS EMP_FIRST_NAME
				,P."POSITION_NM"
			FROM EMPLOYEE E
			LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
			LEFT JOIN "POSITION" P ON E.POSITION_NO  = P."POSITION_NO"
			WHERE E.COM_NO = #{comNo}
			ORDER BY T.TEAM_NO, P."LEVEL"
		)
		WHERE 1=1
		AND (EMP_ID LIKE '%' || #{empFirstName} || '%'
		OR TEAM_NM LIKE '%' || #{empFirstName} || '%'
		OR EMP_FIRST_NAME LIKE '%' || #{empFirstName} || '%'
		OR POSITION_NM LIKE '%' || #{empFirstName} || '%')
	</select>
	
	<!-- 전자결재 내역 조회 
		EDSM_FLAG : 1.승인, 2반려, 3회수, 4.신청, 5.확인, 6.1차, 7.2차
	-->
	<select id="edsmHistory">
		SELECT 
			 EDSM_NO
			,DRAFT_NM
			,EDSM_TITLE
			,E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS APPROVER_NAME
			,P.POSITION_NM 
			,EDSM_FLAG
			,DRAFT_FLAG
			,ROW_NUM
			,APPROVER_NO 
			,APPROVER_CODE
			,REJECTED
			,E.COM_NO 
			,E.POSITION_NO
			,APPROVER_LEVEL
			,APPROVE_FLAG
			,EDSM_WRITE_DATE
			,EDSM_DEL_FL
			,Z.EMP_CODE
			,EDSM_FLAG
			,DRAFT_NO
			,(SELECT COUNT(*) FROM EDSM_FILE WHERE EDSM_NO = #{edsmNo}) AS FILE_CNT
		FROM (
			SELECT 
				 E.EDSM_NO
				,D.DRAFT_FLAG
				,DECODE(D.DRAFT_FLAG, '2', '협조문', '3', '품의서', '4', '지출결의서','5', '경조사 신청서', '6', '회의록', '기안서') AS DRAFT_NM
				,E.EDSM_TITLE
				,ROW_NUMBER() OVER (PARTITION BY E.EDSM_NO ORDER BY A.APPROVER_NO) AS ROW_NUM
				,ROW_NUMBER() OVER (PARTITION BY E.EDSM_NO ORDER BY A.APPROVER_NO) AS APPROVER_LEVEL
				,A.APPROVER_NO 
				,A.EMP_CODE AS APPROVER_CODE
				,A.PROGRESS_FLAG
				,A.APPROVE_FLAG
				,A.REJECTED
				,E.EDSM_WRITE_DATE
				,E.EDSM_DEL_FL
				,E.EMP_CODE
				,E.EDSM_FLAG
				,E.DRAFT_NO
			FROM EDSM E
			JOIN DRAFT D ON E.DRAFT_NO = D.DRAFT_NO
			JOIN APPROVER A ON (E.EDSM_NO = A.EDSM_NO AND APPROVER_FLAG  = 1 AND (APPROVE_FLAG != 1 OR APPROVE_FLAG IS NULL) )
			WHERE E.EMP_CODE = #{empCode}
			AND E.EDSM_DEL_FL = 'N'
			ORDER BY EDSM_NO, APPROVER_NO
		) Z
		JOIN EMPLOYEE E ON Z.APPROVER_CODE = E.EMP_CODE
		JOIN COMPANY C ON E.COM_NO = C.COM_NO 
		JOIN "POSITION" P ON E.POSITION_NO  = P.POSITION_NO 
		WHERE ROW_NUM = 1
		<choose> 
			<when test='key != "0" and key != null and key != "1"'> 
				AND DRAFT_FLAG = #{key}
			</when>
			<when test='key == "1"'> <!-- 기안서 -->
				AND DRAFT_FLAG IN ('1','7')
			</when>
		</choose>
		ORDER BY EDSM_NO DESC
	</select>
	
	<select id="edsmConfirm">
		<!-- 첫 번째 CTE 정의 -->
		WITH RankedApprovers1 AS (
		    SELECT 
		        ROW_NUMBER() OVER (PARTITION BY EDSM_NO ORDER BY APPROVER_NO) AS ROW_NUM,
		        EMP_CODE,
		        APPROVER_NO,
		        EDSM_NO
		    FROM APPROVER
		    WHERE APPROVER_FLAG = 1
		      AND (APPROVE_FLAG != 1 OR APPROVE_FLAG IS NULL)
		),
		
		<!-- 두 번째 CTE 정의 -->
		RankedApprovers2 AS (
		    SELECT 
		        ROW_NUMBER() OVER (PARTITION BY EDSM_NO ORDER BY APPROVER_NO DESC) AS ROW_NUM,
		        EMP_CODE,
		        APPROVER_NO,
		        APPROVE_FLAG,
		        EDSM_NO
		    FROM APPROVER
		    WHERE APPROVER_FLAG = 1
		),
		
		<!-- 메인 쿼리 정의 -->
		FinalApprovers AS (
		    SELECT 
		        EDSM_NO,
		        EMP_CODE
		    FROM RankedApprovers1
		    WHERE ROW_NUM = 1
		
		    UNION
		
		    SELECT 
		        EDSM_NO,
		        EMP_CODE
		    FROM RankedApprovers2
		    WHERE ROW_NUM = 1 AND APPROVE_FLAG = 1
		)
		
		SELECT 
			 Z.EDSM_NO
			,Z.DRAFT_NM
			,Z.EDSM_TITLE
			,Z.EMP_NAME
			,Z.POSITION_NM
			,Z.APPROVER_CODE
			,EMP.EMP_LAST_NAME || EMP.EMP_FIRST_NAME AS APPROVER_NAME
			,P.POSITION_NM 
			,Z.APPROVE_FLAG
			,Z.EDSM_WRITE_DATE
			,Z.EDSM_DEL_FL
			,Z.EMP_CODE
			,Z.EDSM_FLAG
			,Z.DRAFT_NO
			,Z.APPROVER_FLAG
		FROM (
		SELECT 
		    E.EDSM_NO,
		    DECODE(D.DRAFT_FLAG, '2', '협조문', '3', '품의서', '4', '지출결의서', '5', '경조사 신청서', '6', '회의록', '기안서') AS DRAFT_NM,
		    E.EDSM_TITLE,
		    EMP.EMP_LAST_NAME || EMP.EMP_FIRST_NAME AS EMP_NAME,
		    P.POSITION_NM,
		    (
		        SELECT EMP_CODE
		        FROM FinalApprovers
		        WHERE EDSM_NO = E.EDSM_NO
		    ) AS APPROVER_CODE,
		    A.APPROVE_FLAG,
		    E.EDSM_WRITE_DATE,
		    E.EDSM_DEL_FL,
		    E.EMP_CODE,
		    E.EDSM_FLAG,
		    E.DRAFT_NO,
		    A.APPROVER_FLAG
		FROM EDSM E
		JOIN DRAFT D ON E.DRAFT_NO = D.DRAFT_NO
		JOIN EMPLOYEE EMP ON E.EMP_CODE = EMP.EMP_CODE
		JOIN "POSITION" P ON EMP.POSITION_NO = P.POSITION_NO
		JOIN APPROVER A ON E.EDSM_NO = A.EDSM_NO
		WHERE A.EMP_CODE = #{empCode}
		  AND E.EDSM_DEL_FL = 'N'
		ORDER BY E.EDSM_NO DESC
		) Z
		JOIN EMPLOYEE EMP ON Z.APPROVER_CODE = EMP.EMP_CODE
		JOIN "POSITION" P ON EMP.POSITION_NO  = P.POSITION_NO
	</select>
	
	<!-- 결재자 조회 -->
	<select id="approverList">
		SELECT
			 APPROVER_NO
			,APPROVER_FLAG
			,A.EMP_CODE
			,E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS APPROVER_NAME
			,P.POSITION_NM 
			,PROGRESS_FLAG
			,APPROVE_FLAG
			,EDSM_NO
			,ROW_NUMBER() OVER (PARTITION BY EDSM_NO ORDER BY APPROVER_NO) AS ROW_NUM
		FROM APPROVER A
		JOIN EMPLOYEE E ON A.EMP_CODE  = E.EMP_CODE
		<!-- JOIN COMPANY C ON E.COM_NO = C.COM_NO  -->
		JOIN "POSITION" P ON E.POSITION_NO  = P.POSITION_NO 
		WHERE EDSM_NO = #{edsmNo}
		AND APPROVER_FLAG = 1
		ORDER BY APPROVER_NO
	</select>
	
	<!-- 참조자 조회 -->
	<select id="referrerList">
		SELECT NVL( LISTAGG(E.EMP_LAST_NAME || E.EMP_FIRST_NAME, ', ') WITHIN GROUP (ORDER BY A.APPROVER_NO), 'N') AS APPROVER_NAME
		FROM APPROVER A
		JOIN EMPLOYEE E ON A.EMP_CODE = E.EMP_CODE
		WHERE EDSM_NO = #{edsmNo}
		AND APPROVER_FLAG = 2
	</select>
	
	<select id="edsmDetail">
		SELECT 
			 EDSM_NO
			,EDSM_TITLE
			,EDSM_CONTENT
			,EDSM_WRITE_DATE
			,EDSM_DEL_FL
			,EMP_CODE
			,EDSM_FLAG
			,DRAFT_NO
			,(SELECT COUNT(*) FROM EDSM_FILE WHERE EDSM_NO = #{edsmNo}) AS FILE_CNT
		FROM EDSM
		WHERE EDSM_NO = #{edsmNo}
	</select>
	
	<select id="edsmFileList">
		SELECT 
			 FILE_NO
			,FILE_PATH
			,FILE_ORIGIN_NAME
			,FILE_RENAME
			,FILE_UPLOAD_DATE
			,FILE_ORDER
			,EDSM_NO
		FROM EDSM_FILE
		WHERE EDSM_NO = #{edsmNo}
	</select>
	
	<!-- 전자결재 삭제 -->
	<update id="edsmDelete">
		UPDATE EDSM SET
			EDSM_DEL_FL = 'Y'
		WHERE EDSM_NO = #{edsmNo}
	</update>
	
	<!-- 결재자 진행중 수정 -->
	<update id="approverUpdate">
		UPDATE APPROVER SET
			PROGRESS_FLAG = '1'
		WHERE EDSM_NO = #{edsmNo}
		AND EMP_CODE = #{empCode}
	</update>
	
	<!-- 전자결재 구분키 변경 -->
	<update id="edsmFlagUpdate">
		UPDATE EDSM SET
			EDSM_FLAG = #{edsmFlag}
		WHERE EDSM_NO = #{edsmNo}
	</update>
	
	<!-- 전자결재 반려 -->
	<update id="edsmRejected">
		UPDATE APPROVER SET
			 PROGRESS_FLAG = '2'
			,APPROVE_FLAG = '2'
			,REJECTED = #{rejected}
		WHERE EDSM_NO = #{edsmNo}
		AND EMP_CODE = #{empCode}
	</update>

</mapper>
