<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.edsm.model.mapper.EdsmMapper">

	<!-- 자주찾는 결재 목록 -->
	<select id="draftKeepList">
		SELECT 
			 DRAFT_NO
			,DRAFT_TITLE
			,COM_NO
			,DRAFT_FLAG
			,'N' KEEP_YN
		FROM DRAFT
		WHERE COM_NO = #{comNo}
		<![CDATA[AND DRAFT_FLAG <= 6]]>
		UNION 
		SELECT 
			 DRAFT_NO
			,DRAFT_TITLE
			,COM_NO
			,DRAFT_FLAG
			,KEEP_YN
		FROM DRAFT
		JOIN DRAFT_KEEP USING (DRAFT_NO)
		WHERE EMP_CODE = #{empCode}
		AND KEEP_YN = 'Y'
		ORDER BY DRAFT_FLAG, DRAFT_NO
	</select>
	
	<!-- 자주쓰는 결재 수정 -->
	<update id="draftKeepUpdate">
		UPDATE DRAFT_KEEP SET
			KEEP_YN = #{keepYn}
		WHERE DRAFT_NO = #{draftNo}
		AND EMP_CODE = #{empCode}
	</update>
	
	<!-- 자주쓰는결재 등록 -->
	<insert id="draftKeepInsert">
		INSERT INTO DRAFT_KEEP VALUES(
			 SEQ_DRAFT_KEEP.NEXTVAL
			,#{draftNo}
			,#{empCode}
			,DEFAULT
		)
	</insert>
	
	<!-- 전자결재 등록 -->
	<insert id="edsmRequest" useGeneratedKeys="true" parameterType="Edsm">
		<selectKey order="BEFORE" resultType="_int" keyProperty="edsmNo">
			SELECT SEQ_EDSM.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO EDSM
		VALUES(
			 #{edsmNo}
			,#{edsmTitle}
			,#{edsmContent}
			,DEFAULT
			,DEFAULT
			,#{empCode}
			,DEFAULT
			,#{draftNo}
		)
	</insert>
	
	<!-- 전자결재 다중 파일 등록 -->
	<insert id="edsmFileInsert" parameterType="list">
		INSERT INTO EDSM_FILE
		
		<foreach collection="list" item="file"
			open="(" close=")" separator=" UNION ">
			SELECT
				 NEXT_EDSM_FILE()
				,#{file.filePath}
				,#{file.fileOriginName}
				,#{file.fileRename}
				,SYSDATE
				,#{file.fileOrder}
				,#{file.edsmNo}
			FROM DUAL
		</foreach>
	</insert>
	
	<!-- 결재자 다중 등록 -->
	<insert id="approverInsert" parameterType="list">
		INSERT INTO APPROVER
		
		<foreach collection="list" item="approver"
			open="(" close=")" separator=" UNION ">
			SELECT
				 NEXT_APPROVER()
				,#{approver.approverFlage}
				,#{approver.empCode}
				,NULL
				,NULL
				,#{approver.edsmNo}
			FROM DUAL
		</foreach>
	</insert>
	
	<!-- 결재인, 참조인 검색 -->
	<select id="employeeSearch">
		SELECT 
			 E.EMP_CODE
			,E.EMP_ID
			,T.TEAM_NM
			,E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS EMP_FIRST_NAME
			,P."POSITION_NM"
		FROM EMPLOYEE E
		LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
		LEFT JOIN "POSITION" P ON E.POSITION_NO  = P."POSITION_NO"
		WHERE E.COM_NO = #{comNo}
		ORDER BY T.TEAM_NO, P."LEVEL"
	</select>
	
	<!-- 결재인, 참조인 검색 찾기 -->
	<select id="edsmSerach">
		SELECT
		* FROM (
			SELECT 
				 E.EMP_CODE
				,E.EMP_ID
				,T.TEAM_NM
				,E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS EMP_FIRST_NAME
				,P."POSITION_NM"
			FROM EMPLOYEE E
			LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
			LEFT JOIN "POSITION" P ON E.POSITION_NO  = P."POSITION_NO"
			WHERE E.COM_NO = #{comNo}
			ORDER BY T.TEAM_NO, P."LEVEL"
		)
		WHERE 1=1
		AND (EMP_ID LIKE '%' || #{empFirstName} || '%'
		OR TEAM_NM LIKE '%' || #{empFirstName} || '%'
		OR EMP_FIRST_NAME LIKE '%' || #{empFirstName} || '%'
		OR POSITION_NM LIKE '%' || #{empFirstName} || '%')
	</select>

</mapper>
