<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.mail.model.mapper.MailMapper"> 

	<!-- 메일 목록 조회 -->
	 <select id="mailList">
		SELECT 
		    M.MAIL_NO,
		    M.MAIL_TITLE,
		    M.MAIL_CONTENT,
		    TO_CHAR(M.MAIL_WRITE_DATE, 'YY-MM-DD HH24:MI') AS MAIL_WRITE_DATE,
		    M.MAIL_FLAG,
		    M.EMP_CODE AS SENDER_EMP_CODE,
		    M.READ_FL,
		    SENDER.EMP_ID AS senderMail,
		    SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME AS sender,
		    SENDER_TEAM.TEAM_NM AS senderTeamNm,
		    R.EMP_CODE AS RECIPIENT_EMP_CODE,
		    RECIPIENT.EMP_ID AS recipientMail,
		    RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME AS recipient,
		    RECIPIENT_TEAM.TEAM_NM AS recipientTeamNm,
		    REF_EMP.EMP_CODE AS REFERENCE_EMP_CODE,
		    REF_EMP.EMP_ID AS refererMail,
		    REF_EMP.EMP_LAST_NAME || REF_EMP.EMP_FIRST_NAME AS referer,
		    REF_TEAM.TEAM_NM AS refererTeamNm
		FROM 
		    MAIL M
		LEFT JOIN 
		    RECIPIENT R ON M.MAIL_NO = R.MAIL_NO AND R.REFERENCE_FL = '1'
		LEFT JOIN 
		    EMPLOYEE SENDER ON M.EMP_CODE = SENDER.EMP_CODE
		LEFT JOIN 
		    TEAM SENDER_TEAM ON SENDER.TEAM_NO = SENDER_TEAM.TEAM_NO
		LEFT JOIN 
		    COMPANY ON SENDER.COM_NO = COMPANY.COM_NO
		LEFT JOIN 
		    EMPLOYEE RECIPIENT ON R.EMP_CODE = RECIPIENT.EMP_CODE
		LEFT JOIN 
		    TEAM RECIPIENT_TEAM ON RECIPIENT.TEAM_NO = RECIPIENT_TEAM.TEAM_NO
		LEFT JOIN 
		    DEPARTMENT SENDER_DEPT ON SENDER_TEAM.DEPT_NO = SENDER_DEPT.DEPT_NO
		LEFT JOIN 
		    RECIPIENT REF ON M.MAIL_NO = REF.MAIL_NO AND REF.REFERENCE_FL = '2'
		LEFT JOIN 
		    EMPLOYEE REF_EMP ON REF.EMP_CODE = REF_EMP.EMP_CODE
		LEFT JOIN 
			TEAM REF_TEAM ON REF_TEAM.TEAM_NO = RECIPIENT.TEAM_NO AND REF.REFERENCE_FL ='2'
		LEFT JOIN 
		    DEPARTMENT RECIPIENT_DEPT ON RECIPIENT_TEAM.DEPT_NO = RECIPIENT_DEPT.DEPT_NO
		WHERE 
		    (R.EMP_CODE = #{empCode} OR M.EMP_CODE = #{empCode})
		    <if test='mailQuery != null'>
			    <choose>
			        <when test='key == "1"'> <!-- 제목 -->
			            AND MAIL_TITLE LIKE '%' || #{mailQuery} || '%'
			        </when>
			        <when test='key == "2"'> <!-- 내용 -->
			            AND MAIL_CONTENT LIKE '%' || #{mailQuery} || '%'
			        </when>
			        <otherwise> <!-- 발신자 / 수신자 -->
			            AND (
			                SENDER_DEPT.DEPT_NM || ' ' || SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME LIKE '%' || #{mailQuery} || '%' 
			                OR
			                RECIPIENT_DEPT.DEPT_NM || ' ' || RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME LIKE '%' || #{mailQuery} || '%' 
			            )    
			        </otherwise>
			    </choose>
			</if>
		ORDER BY 
		    M.MAIL_WRITE_DATE DESC
	</select>
	
	<!-- 메일 개수 조회 -->
	<select id="listCount">
	   SELECT COUNT(*)
		FROM MAIL M
		LEFT JOIN 
		    RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
		LEFT JOIN 
		    EMPLOYEE SENDER ON M.EMP_CODE = SENDER.EMP_CODE
		LEFT JOIN 
		    TEAM SENDER_TEAM ON SENDER.TEAM_NO = SENDER_TEAM.TEAM_NO
		LEFT JOIN 
		    EMPLOYEE RECIPIENT ON R.EMP_CODE = RECIPIENT.EMP_CODE
		LEFT JOIN 
		    TEAM RECIPIENT_TEAM ON RECIPIENT.TEAM_NO = RECIPIENT_TEAM.TEAM_NO
		LEFT JOIN 
		    DEPARTMENT SENDER_DEPT ON SENDER_TEAM.DEPT_NO = SENDER_DEPT.DEPT_NO
		LEFT JOIN 
		    DEPARTMENT RECIPIENT_DEPT ON RECIPIENT_TEAM.DEPT_NO = RECIPIENT_DEPT.DEPT_NO
		WHERE (M.EMP_CODE = #{empCode} OR R.EMP_CODE = #{empCode})
		<if test='mailQuery != null'>
		    <choose>
		        <when test='key == "1"'> <!-- 제목 -->
		            AND MAIL_TITLE LIKE '%' || #{query} || '%'
		        </when>
		        <when test='key == "2"'> <!-- 내용 -->
		            AND MAIL_CONTENT LIKE '%' || #{query} || '%'
		        </when>
		        <otherwise> <!-- 발신자 / 수신자 -->
		            AND (
		                SENDER_DEPT.DEPT_NM || ' ' || SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		                OR
		                RECIPIENT_DEPT.DEPT_NM || ' ' || RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		            )    
		        </otherwise>
		    </choose>
		</if>
	</select>
	
	<select id="mailCount">
		SELECT COUNT(*)
	    FROM MAIL M
	    LEFT JOIN RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
	    WHERE (M.EMP_CODE = #{empCode} OR R.EMP_CODE = #{empCode})
	</select>
	
	<!--  안 읽은 메일 개수 조회 -->
	<select id="noReadCount">
	    SELECT NVL(SUM(CASE WHEN READ_FL = '1' THEN 1 ELSE 0 END), 0)
	    FROM MAIL M
	    LEFT JOIN RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
	    WHERE (M.EMP_CODE = #{empCode} OR R.EMP_CODE = #{empCode})
	    
	</select>
	
	<!-- 메일 상세 조회 -->
	<select id="mailDetail">
		SELECT 
		    M.MAIL_NO,
		    M.MAIL_TITLE,
		    M.MAIL_CONTENT,
		    TO_CHAR(M.MAIL_WRITE_DATE, 'YY-MM-DD HH24:MI') AS MAIL_WRITE_DATE,
		    M.MAIL_FLAG,
		    M.EMP_CODE AS SENDER_EMP_CODE,
		    SENDER.EMP_ID AS senderMail,
		    SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME AS sender,
		    SENDER_TEAM.TEAM_NM AS senderTeamNm,
		    COMPANY.DOMAIN AS senderDomain,
		    R.EMP_CODE AS RECIPIENT_EMP_CODE,
		    RECIPIENT.EMP_ID AS recipientMail,
		    RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME AS recipient,
		    RECIPIENT_TEAM.TEAM_NM AS recipientTeamNm,
		    MAIL_FILE.FILE_NO,
		    MAIL_FILE.FILE_PATH,
		    MAIL_FILE.FILE_ORIGIN_NAME,
		    MAIL_FILE.FILE_RENAME,
		    MAIL_FILE.FILE_UPLOAD_DATE,
		    MAIL_FILE.FILE_ORDER,
		    REF_EMP.EMP_CODE AS refererEmpCode,
		    REF_EMP.EMP_ID AS refererMail,
		    REF_EMP.EMP_LAST_NAME || REF_EMP.EMP_FIRST_NAME AS referer,
		    REF_TEAM.TEAM_NM AS refererTeamNm
		FROM 
		    MAIL M
		LEFT JOIN 
		    RECIPIENT R ON M.MAIL_NO = R.MAIL_NO AND R.REFERENCE_FL = '1'
		LEFT JOIN 
		    EMPLOYEE SENDER ON M.EMP_CODE = SENDER.EMP_CODE
		LEFT JOIN 
		    TEAM SENDER_TEAM ON SENDER.TEAM_NO = SENDER_TEAM.TEAM_NO
		LEFT JOIN 
		    COMPANY ON SENDER.COM_NO = COMPANY.COM_NO
		LEFT JOIN 
		    EMPLOYEE RECIPIENT ON R.EMP_CODE = RECIPIENT.EMP_CODE
		LEFT JOIN 
		    TEAM RECIPIENT_TEAM ON RECIPIENT.TEAM_NO = RECIPIENT_TEAM.TEAM_NO
		LEFT JOIN 
		    DEPARTMENT SENDER_DEPT ON SENDER_TEAM.DEPT_NO = SENDER_DEPT.DEPT_NO
		LEFT JOIN 
		    MAIL_FILE ON M.MAIL_NO = MAIL_FILE.MAIL_NO
		LEFT JOIN 
		    RECIPIENT REF ON M.MAIL_NO = REF.MAIL_NO AND REF.REFERENCE_FL = '2'
		LEFT JOIN 
		    EMPLOYEE REF_EMP ON REF.EMP_CODE = REF_EMP.EMP_CODE
		LEFT JOIN 
			TEAM REF_TEAM ON REF_TEAM.TEAM_NO = RECIPIENT.TEAM_NO AND REF.REFERENCE_FL ='2'
		LEFT JOIN 
		    DEPARTMENT RECIPIENT_DEPT ON RECIPIENT_TEAM.DEPT_NO = RECIPIENT_DEPT.DEPT_NO
		WHERE 
		    M.MAIL_NO = #{mailNo}
	</select>
	
	<!-- 파일 리스트 조회 - 상세
	<select id="getMailFiles" parameterType="int" resultType="MailFile">
	    SELECT * 
	    FROM 
	        MAIL_FILE
	    WHERE 
	        MAIL_NO = #{mailNo}
	    ORDER BY 
	        FILE_ORDER
	</select> -->
	
	<!-- 상세 파일리스트 조회 -->
	<select id="fileList">
		SELECT *
		FROM MAIL_FILE
		WHERE MAIL_NO = #{mailNo}
		ORDER BY FILE_ORDER
	</select>
	
	<!-- 보낸 메일함 목록 조회 -->
	<select id="sentMailList">
		SELECT 
		   M.MAIL_NO,
		    M.MAIL_TITLE,
		    M.MAIL_CONTENT,
		    TO_CHAR(M.MAIL_WRITE_DATE, 'YY-MM-DD HH24:MI') AS MAIL_WRITE_DATE,
		    M.MAIL_FLAG,
		    M.READ_FL,
		    M.EMP_CODE AS SENDER_EMP_CODE,
		    SENDER.EMP_ID AS senderMail,
		    SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME AS sender,
		    SENDER_TEAM.TEAM_NM AS senderTeamNm,
		    COMPANY.DOMAIN AS senderDomain,
		    R.EMP_CODE AS RECIPIENT_EMP_CODE,
		    RECIPIENT.EMP_ID AS recipientMail,
		    RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME AS recipient,
		    RECIPIENT_TEAM.TEAM_NM AS recipientTeamNm,
		    MAIL_FILE.FILE_NO,
		    MAIL_FILE.FILE_PATH,
		    MAIL_FILE.FILE_ORIGIN_NAME,
		    MAIL_FILE.FILE_RENAME,
		    MAIL_FILE.FILE_UPLOAD_DATE,
		    MAIL_FILE.FILE_ORDER,
		    REF_EMP.EMP_CODE AS refererEmpCode,
		    REF_EMP.EMP_ID AS refererMail,
		    REF_EMP.EMP_LAST_NAME || REF_EMP.EMP_FIRST_NAME AS referer,
		    REF_TEAM.TEAM_NM AS refererTeamNm
		FROM 
		    MAIL M
		LEFT JOIN 
		    RECIPIENT R ON M.MAIL_NO = R.MAIL_NO AND R.REFERENCE_FL = '1'
		LEFT JOIN 
		    EMPLOYEE SENDER ON M.EMP_CODE = SENDER.EMP_CODE
		LEFT JOIN 
		    TEAM SENDER_TEAM ON SENDER.TEAM_NO = SENDER_TEAM.TEAM_NO
		LEFT JOIN 
		    COMPANY ON SENDER.COM_NO = COMPANY.COM_NO
		LEFT JOIN 
		    EMPLOYEE RECIPIENT ON R.EMP_CODE = RECIPIENT.EMP_CODE
		LEFT JOIN 
		    TEAM RECIPIENT_TEAM ON RECIPIENT.TEAM_NO = RECIPIENT_TEAM.TEAM_NO
		LEFT JOIN 
		    DEPARTMENT SENDER_DEPT ON SENDER_TEAM.DEPT_NO = SENDER_DEPT.DEPT_NO
		LEFT JOIN 
		    MAIL_FILE ON M.MAIL_NO = MAIL_FILE.MAIL_NO
		LEFT JOIN 
		    RECIPIENT REF ON M.MAIL_NO = REF.MAIL_NO AND REF.REFERENCE_FL = '2'
		LEFT JOIN 
		    EMPLOYEE REF_EMP ON REF.EMP_CODE = REF_EMP.EMP_CODE
		LEFT JOIN 
			TEAM REF_TEAM ON REF_TEAM.TEAM_NO = RECIPIENT.TEAM_NO AND REF.REFERENCE_FL ='2'
		LEFT JOIN 
		    DEPARTMENT RECIPIENT_DEPT ON RECIPIENT_TEAM.DEPT_NO = RECIPIENT_DEPT.DEPT_NO
		WHERE 
		    M.EMP_CODE = #{empCode}
		    <if test='mailQuery != null'>
		    <choose>
		        <when test='key == "1"'> <!-- 제목 -->
		            AND MAIL_TITLE LIKE '%' || #{query} || '%'
		        </when>
		        <when test='key == "2"'> <!-- 내용 -->
		            AND MAIL_CONTENT LIKE '%' || #{query} || '%'
		        </when>
		        <otherwise> <!-- 발신자 / 수신자 -->
		            AND (
		                SENDER_DEPT.DEPT_NM || ' ' || SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		                OR
		                RECIPIENT_DEPT.DEPT_NM || ' ' || RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		            )    
		        </otherwise>
		    </choose>
		</if>
		ORDER BY 
		    M.MAIL_WRITE_DATE DESC
	</select>
	
	<!-- 보낸 메일함 개수 조회 -->
	<select id="sentMailCount">
	    SELECT NVL(COUNT(*), 0)
	    FROM MAIL M
	    LEFT JOIN RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
	    WHERE M.EMP_CODE = #{empCode} 
	</select>
	
	<!-- 받은 메일 안 읽은 메일 개수 조회 -->
	<select id="sentMailNoReadCount">
	    SELECT NVL(SUM(CASE WHEN READ_FL = '1' THEN 1 ELSE 0 END), 0)
	    FROM MAIL M
	    LEFT JOIN RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
	    WHERE M.EMP_CODE = #{empCode}
	</select>
	
	<!-- 받은 메일함 목록 조회 -->
	<select id="inMailList">
		SELECT 
		    M.MAIL_NO,
		    M.MAIL_TITLE,
		    M.MAIL_CONTENT,
		    TO_CHAR(M.MAIL_WRITE_DATE, 'YY-MM-DD HH24:MI') AS MAIL_WRITE_DATE,
		    M.MAIL_FLAG,
		    M.READ_FL,
		    M.EMP_CODE AS SENDER_EMP_CODE,
		    SENDER.EMP_ID AS senderMail,
		    SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME AS sender,
		    SENDER_TEAM.TEAM_NM AS senderTeamNm,
		    COMPANY.DOMAIN AS senderDomain,
		    R.EMP_CODE AS RECIPIENT_EMP_CODE,
		    RECIPIENT.EMP_ID AS recipientMail,
		    RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME AS recipient,
		    RECIPIENT_TEAM.TEAM_NM AS recipientTeamNm,
		    MAIL_FILE.FILE_NO,
		    MAIL_FILE.FILE_PATH,
		    MAIL_FILE.FILE_ORIGIN_NAME,
		    MAIL_FILE.FILE_RENAME,
		    MAIL_FILE.FILE_UPLOAD_DATE,
		    MAIL_FILE.FILE_ORDER,
		    REF_EMP.EMP_CODE AS refererEmpCode,
		    REF_EMP.EMP_ID AS refererMail,
		    REF_EMP.EMP_LAST_NAME || REF_EMP.EMP_FIRST_NAME AS referer,
		    REF_TEAM.TEAM_NM AS refererTeamNm
		FROM 
		    MAIL M
		LEFT JOIN 
		    RECIPIENT R ON M.MAIL_NO = R.MAIL_NO AND R.REFERENCE_FL = '1'
		LEFT JOIN 
		    EMPLOYEE SENDER ON M.EMP_CODE = SENDER.EMP_CODE
		LEFT JOIN 
		    TEAM SENDER_TEAM ON SENDER.TEAM_NO = SENDER_TEAM.TEAM_NO
		LEFT JOIN 
		    COMPANY ON SENDER.COM_NO = COMPANY.COM_NO
		LEFT JOIN 
		    EMPLOYEE RECIPIENT ON R.EMP_CODE = RECIPIENT.EMP_CODE
		LEFT JOIN 
		    TEAM RECIPIENT_TEAM ON RECIPIENT.TEAM_NO = RECIPIENT_TEAM.TEAM_NO
		LEFT JOIN 
		    DEPARTMENT SENDER_DEPT ON SENDER_TEAM.DEPT_NO = SENDER_DEPT.DEPT_NO
		LEFT JOIN 
		    MAIL_FILE ON M.MAIL_NO = MAIL_FILE.MAIL_NO
		LEFT JOIN 
		    RECIPIENT REF ON M.MAIL_NO = REF.MAIL_NO AND REF.REFERENCE_FL = '2'
		LEFT JOIN 
		    EMPLOYEE REF_EMP ON REF.EMP_CODE = REF_EMP.EMP_CODE
		LEFT JOIN 
			TEAM REF_TEAM ON REF_TEAM.TEAM_NO = RECIPIENT.TEAM_NO AND REF.REFERENCE_FL ='2'
		LEFT JOIN 
		    DEPARTMENT RECIPIENT_DEPT ON RECIPIENT_TEAM.DEPT_NO = RECIPIENT_DEPT.DEPT_NO
		WHERE 
		    R.EMP_CODE = #{empCode}
		    <if test='mailQuery != null'>
		    <choose>
		        <when test='key == "1"'> <!-- 제목 -->
		            AND MAIL_TITLE LIKE '%' || #{query} || '%'
		        </when>
		        <when test='key == "2"'> <!-- 내용 -->
		            AND MAIL_CONTENT LIKE '%' || #{query} || '%'
		        </when>
		        <otherwise> <!-- 발신자 / 수신자 -->
		            AND (
		                SENDER_DEPT.DEPT_NM || ' ' || SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		                OR
		                RECIPIENT_DEPT.DEPT_NM || ' ' || RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		            )    
		        </otherwise>
		    </choose>
		</if>
		ORDER BY 
		    M.MAIL_WRITE_DATE DESC
	</select>
	
	<!-- 받은 메일함 개수 조회 -->
	<select id="inMailCount">
	    SELECT NVL(COUNT(*), 0)
	    FROM MAIL M
	    LEFT JOIN RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
	    WHERE R.EMP_CODE = #{empCode} 
	</select>
	
	<!-- 받은 메일 안 읽은 메일 개수 조회 -->
	<select id="inMailNoReadCount">
	    SELECT NVL(SUM(CASE WHEN READ_FL = '1' THEN 1 ELSE 0 END), 0)
	    FROM MAIL M
	    LEFT JOIN RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
	    WHERE R.EMP_CODE = #{empCode}
	</select>
	
	<!-- 보낸 메일함 개수 조회 -->
	<select id="sentListCount">
	   SELECT COUNT(*)
		FROM MAIL M
		LEFT JOIN 
		    RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
		LEFT JOIN 
		    EMPLOYEE SENDER ON M.EMP_CODE = SENDER.EMP_CODE
		LEFT JOIN 
		    TEAM SENDER_TEAM ON SENDER.TEAM_NO = SENDER_TEAM.TEAM_NO
		LEFT JOIN 
		    EMPLOYEE RECIPIENT ON R.EMP_CODE = RECIPIENT.EMP_CODE
		LEFT JOIN 
		    TEAM RECIPIENT_TEAM ON RECIPIENT.TEAM_NO = RECIPIENT_TEAM.TEAM_NO
		LEFT JOIN 
		    DEPARTMENT SENDER_DEPT ON SENDER_TEAM.DEPT_NO = SENDER_DEPT.DEPT_NO
		LEFT JOIN 
		    DEPARTMENT RECIPIENT_DEPT ON RECIPIENT_TEAM.DEPT_NO = RECIPIENT_DEPT.DEPT_NO
		WHERE M.EMP_CODE = #{empCode}
		<if test='mailQuery != null'>
		    <choose>
		        <when test='key == "1"'> <!-- 제목 -->
		            AND MAIL_TITLE LIKE '%' || #{query} || '%'
		        </when>
		        <when test='key == "2"'> <!-- 내용 -->
		            AND MAIL_CONTENT LIKE '%' || #{query} || '%'
		        </when>
		        <otherwise> <!-- 발신자 / 수신자 -->
		            AND (
		                SENDER_DEPT.DEPT_NM || ' ' || SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		                OR
		                RECIPIENT_DEPT.DEPT_NM || ' ' || RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		            )    
		        </otherwise>
		    </choose>
		</if>
	</select>
	
	<!-- 빋은 메일함 개수 조회 -->
	<select id="inListCount">
	   SELECT COUNT(*)
		FROM MAIL M
		LEFT JOIN 
		    RECIPIENT R ON M.MAIL_NO = R.MAIL_NO
		LEFT JOIN 
		    EMPLOYEE SENDER ON M.EMP_CODE = SENDER.EMP_CODE
		LEFT JOIN 
		    TEAM SENDER_TEAM ON SENDER.TEAM_NO = SENDER_TEAM.TEAM_NO
		LEFT JOIN 
		    EMPLOYEE RECIPIENT ON R.EMP_CODE = RECIPIENT.EMP_CODE
		LEFT JOIN 
		    TEAM RECIPIENT_TEAM ON RECIPIENT.TEAM_NO = RECIPIENT_TEAM.TEAM_NO
		LEFT JOIN 
		    DEPARTMENT SENDER_DEPT ON SENDER_TEAM.DEPT_NO = SENDER_DEPT.DEPT_NO
		LEFT JOIN 
		    DEPARTMENT RECIPIENT_DEPT ON RECIPIENT_TEAM.DEPT_NO = RECIPIENT_DEPT.DEPT_NO
		WHERE R.EMP_CODE = #{empCode}
		<if test='mailQuery != null'>
		    <choose>
		        <when test='key == "1"'> <!-- 제목 -->
		            AND MAIL_TITLE LIKE '%' || #{query} || '%'
		        </when>
		        <when test='key == "2"'> <!-- 내용 -->
		            AND MAIL_CONTENT LIKE '%' || #{query} || '%'
		        </when>
		        <otherwise> <!-- 발신자 / 수신자 -->
		            AND (
		                SENDER_DEPT.DEPT_NM || ' ' || SENDER.EMP_LAST_NAME || SENDER.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		                OR
		                RECIPIENT_DEPT.DEPT_NM || ' ' || RECIPIENT.EMP_LAST_NAME || RECIPIENT.EMP_FIRST_NAME LIKE '%' || #{query} || '%' 
		            )    
		        </otherwise>
		    </choose>
		</if>
	</select>
	
	<!-- 사원 검색 -->
	<select id="employeeSearch">
		SELECT 
			 E.EMP_CODE,
			 E.EMP_ID,
			 T.TEAM_NM,
			 E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS EMP_NAME,
			 P."POSITION_NM"
		FROM EMPLOYEE E
		LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
		LEFT JOIN "POSITION" P ON E.POSITION_NO  = P."POSITION_NO"
		WHERE E.COM_NO = #{comNo}
		ORDER BY T.TEAM_NO, P."LEVEL"
	</select>
	
	<!-- 사원 검색 찾기 -->
	<select id="employeeListSearch">
		SELECT * 
		FROM (
			SELECT 
				 E.EMP_CODE,
				 E.EMP_ID,
				 T.TEAM_NM,
				 E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS EMP_NAME,
				 P."POSITION_NM"
			FROM EMPLOYEE E
			LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
			LEFT JOIN "POSITION" P ON E.POSITION_NO  = P."POSITION_NO"
			WHERE E.COM_NO = #{comNo}
			ORDER BY T.TEAM_NO, P."LEVEL"
		)
		WHERE 1=1
		AND (EMP_ID LIKE '%' || #{empName} || '%'
		OR TEAM_NM LIKE '%' || #{empName} || '%'
		OR EMP_NAME LIKE '%' || #{empName} || '%'
		OR POSITION_NM LIKE '%' || #{empName} || '%')
	</select>
	
	<!-- 메일 보내기 -->
	<insert id="sendMail" useGeneratedKeys="true" parameterType="Mail">
	<selectKey order="BEFORE" resultType="_int" keyProperty="mailNo">
		SELECT SEQ_MAIL.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO MAIL
		(MAIL_NO, MAIL_TITLE, MAIL_CONTENT, MAIL_WRITE_DATE, MAIL_FLAG, EMP_CODE, READ_FL)
		VALUES (
			#{mailNo}, 
			#{mailTitle}, 
			#{mailContent}, 
			DEFAULT, 
			DEFAULT, 
			#{empCode}, 
			DEFAULT
		)
	</insert>
	
	<!-- 수신자 리스트 -->
	<insert id="recipientList" parameterType="list">
	    INSERT INTO RECIPIENT (RECIPIENT_NO, EMP_CODE, MAIL_NO, REFERENCE_FL)
	    <foreach collection="list" item="recipient" separator=" UNION ALL ">
	        SELECT
	            NEXT_RECIPIENT_NO(),
	            #{recipient.empCode},
	            #{recipient.mailNo},
	            #{recipient.referenceFl}
	        FROM DUAL
	    </foreach>
	</insert>

	<!-- 메일 파일 insert -->
	<insert id="mailFileInsert" parameterType="list">
		INSERT INTO MAIL_FILE
		
		<foreach collection="list" item="file"
			open="(" close=")" separator=" UNION ">
			SELECT
				 NEXT_MAIL_FILE()
				,#{file.filePath}
				,#{file.fileOriginName}
				,#{file.fileRename}
				,SYSDATE
				,#{file.fileOrder}
				,#{file.mailNo}
			FROM DUAL
		</foreach>
	</insert>
	
	
	
</mapper>

	





















