<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.reservation.model.mapper.ReservationMapper">

	<!-- 회의실 예약 -->
	<insert id="reservationInsert">
		INSERT INTO RESERVE_INFO VALUES(
			SEQ_RESERVE_INFO.NEXTVAL, #{reserveInfoTitle},
			#{reserveInfoColor}, #{empCode},
			#{meetingRoomNo}, #{reserveInfoStart},
			#{reserveInfoEnd}, #{teamShare},
			#{deptShare}, #{comShare}, #{comNo}
		)
	</insert>
	
	<!-- 회의실 예약 목록 조회 -->
	<select id="selectReserveInfoList">
		SELECT
		r.RESERVE_INFO_NO, 
	    r.RESERVE_INFO_TITLE, 
	    r.RESERVE_INFO_START, 
	    r.RESERVE_INFO_END, 
	    r.RESERVE_INFO_COLOR, 
	    r.EMP_CODE,
	    r.TEAM_SHARE, 
	    r.DEPT_SHARE, 
	    r.COM_SHARE, 
	    r.MEETING_ROOM_NO, 
	    r.COM_NO,
	    m.MEETING_ROOM_NM
	FROM 
	    RESERVE_INFO r
	JOIN 
	    MEETING_ROOM m ON r.MEETING_ROOM_NO = m.MEETING_ROOM_NO
	WHERE 
	    r.COM_NO = #{comNo}
	</select>
	
	<!-- deptNo으로 deptNm 조회 -->
	<select id="selectDeptNm">
		SELECT DEPT_NM FROM DEPARTMENT WHERE DEPT_NO = #{deptNo}
	</select>
	
	<!-- teamNo로 teamNm 조회 -->
	<select id="selectTeamNm">
		SELECT TEAM_NM FROM TEAM WHERE TEAM_NO = #{teamNo}
	</select>
	
	<!-- 회의실 이용 시간 체크 (시간 겹치면 0 이상) -->
	<select id="checkMeetingRoom">
		SELECT COUNT(*)
		FROM RESERVE_INFO
		WHERE MEETING_ROOM_NO = #{meetingRoomNo}
		AND #{reserveInfoStart} &lt; RESERVE_INFO_END
		AND #{reserveInfoEnd} &gt; RESERVE_INFO_START
	</select>
</mapper>
