<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.survey.model.mapper.SurveyMapper"> 

<!-- 로그인한 사원의 회사에서 전체 대상 설문인 것들 중 기한 안 지난것 조회 -->
<select id="entireTargetSurvey">
	SELECT 
    S.SURVEY_NO, 
    S.EMP_CODE, 
    S.SURVEY_MAIN_TITLE, 
    S.SURVEY_ENTIRE_TARGET_FL, 
    S.SURVEY_START_DATE AS SURVEY_START_DATE_DATE, 
    S.SURVEY_END_DATE + 1 AS SURVEY_END_DATE_DATE, 
    E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS FULL_NAME 
	FROM SURVEY S 
	LEFT JOIN EMPLOYEE E ON S.EMP_CODE = E.EMP_CODE 
	WHERE S.SURVEY_ENTIRE_TARGET_FL = 'Y' 
	AND S.SURVEY_END_DATE + 1 >= SYSDATE
	AND S.COM_NO = #{comNo}
</select>

<!-- 전체 대상 설문이 아닌 설문 중 현재 로그인한 사원을 대상으로 하는 설문을 가져온다 -->
<select id="receiveSurvey">
	SELECT 
	S.SURVEY_NO, 
	S.EMP_CODE, 
	S.SURVEY_MAIN_TITLE, 
	S.SURVEY_ENTIRE_TARGET_FL, 
	S.SURVEY_START_DATE SURVEY_START_DATE_DATE, 
	S.SURVEY_END_DATE + 1 SURVEY_END_DATE_DATE
	FROM SURVEY_TARGET ST
	LEFT JOIN SURVEY S ON (ST.SURVEY_NO = S.SURVEY_NO)
	WHERE ST.EMP_CODE = #{empCode}
	AND S.SURVEY_END_DATE + 1 >= SYSDATE	
	ORDER BY S.SURVEY_END_DATE DESC
</select>

<!-- 사원의 풀네임 조회 -->
<select id="findEmpFullName">
	SELECT EMP_LAST_NAME || EMP_FIRST_NAME
	FROM EMPLOYEE 
	WHERE EMP_CODE = #{empCode2}	
</select>



<!-- 특정 설문과 관련된 소제목들의 기본키를 모두 조회 -->
<select id="findSurveySubNo">
	SELECT SURVEY_SUB_NO FROM SURVEY_SUB
	WHERE SURVEY_NO = #{surveyNo}
</select>



<!-- 설문에 응답한 적이 있는지를 확인 -->
<select id="answerCount">
	SELECT COUNT(*) FROM  SURVEY_ANSWER
	WHERE SURVEY_SUB_NO = #{firstSurveySubNo}
	AND EMP_CODE = #{empCode}
</select>

<!-- 회사 기본키 가져오기 -->
<select id="findComNo">
	SELECT COM_NO FROM EMPLOYEE
	WHERE EMP_CODE = #{empCode}
</select>

<!-- 특정 설문의 대상자에 특정사원이 포함되어 있는지 확인 -->
<select id="countForValidate">
	SELECT COUNT(*)  FROM SURVEY_TARGET 
	WHERE EMP_CODE = #{empCode}
	AND SURVEY_NO = #{surveyNo}
</select>


<!-- 설문 답변 테이블(SURVEY_ANSWER) 에서 해당 소제목에 해당하는 EMP_CODE 가 존재하는지 확인 -->
<select id="checkAlreadyWrite">
	SELECT COUNT(*) FROM SURVEY_ANSWER
	WHERE EMP_CODE = #{empCode}
	AND SURVEY_SUB_NO = #{surveySubNo}
</select>

<!-- 특정 설문 조회 시작 -->
	<select id="getSurvey">
		SELECT 
	    SURVEY_NO, 
	    EMP_CODE, 
	    SURVEY_MAIN_TITLE,
	    SURVEY_ENTIRE_TARGET_FL,
	    TO_CHAR(SURVEY_START_DATE, 'YYYY"년" MM"월" DD"일"') AS SURVEY_START_DATE,
	    TO_CHAR(SURVEY_END_DATE, 'YYYY"년" MM"월" DD"일"') AS SURVEY_END_DATE,
	    TOTAL_RESPONSE_COUNT
		FROM SURVEY 
		WHERE SURVEY_NO = #{surveyNo}
	</select>
	
	<resultMap type="SurveySub" id="survey_rm">
		<id property="surveySubNo" column="SURVEY_SUB_NO" />
	    <result property="surveyMultipleNo" column="SURVEY_MULTIPLE_NO"/>
	    <result property="surveySubNo" column="SURVEY_SUB_NO"/>
	    <result property="multipleQuestion" column="MULTIPLE_QUESTION"/>
	
		
		<collection property="options"              
			select="selectSurveyMultiple"
			column= "SURVEY_SUB_NO"
			javaType="java.util.ArrayList"
			ofType= "SurveyMultiple"
		/>
	</resultMap>
	
	<select id="surveySubList" resultMap="survey_rm">
		SELECT * FROM SURVEY_SUB 
		WHERE SURVEY_NO = #{surveyNo}
	</select>
	
	<select id="selectSurveyMultiple" resultType="SurveyMultiple">
		SELECT * FROM SURVEY_MULTIPLE
		WHERE SURVEY_SUB_NO = #{surveySubNo}
	</select>
	
<!-- 특정 설문 조회 끝 -->

<!-- 설문 소제목을 조회함.  -->
<select id="findSurveySubRow">
	SELECT * FROM SURVEY_SUB 
	WHERE SURVEY_SUB_NO = #{hintSurveySubNo}
</select>

<!-- totalResponseCount + 1 증가  -->
<update id="increaseTotalResponseCount">
	UPDATE SURVEY SET TOTAL_RESPONSE_COUNT = TOTAL_RESPONSE_COUNT + 1 
	WHERE SURVEY_NO = #{surveyNo}
</update>

<!-- 설문 답변 저장  -->
<insert id="submitAnswer">
	INSERT INTO SURVEY_ANSWER 
	VALUES (SEQ_SURVEY_ANSWER.NEXTVAL, #{empCode}, #{surveySubNo}, #{answer})
</insert>


<!-- 내 설문 개수 조회 -->
<select id="getListCount">
	SELECT COUNT(*)
	FROM "SURVEY"
	WHERE EMP_CODE = #{empCode}
</select>

<!-- 내 설문 조회 -->
<select id="mySurvey">
	SELECT 
	S.SURVEY_NO, 
	S.EMP_CODE, 
	S.SURVEY_MAIN_TITLE, 
	S.SURVEY_ENTIRE_TARGET_FL, 
	S.SURVEY_START_DATE AS SURVEY_START_DATE_DATE, 
	S.SURVEY_END_DATE + 1 AS SURVEY_END_DATE_DATE ,
    E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS FULL_NAME 
	FROM SURVEY S
	LEFT JOIN EMPLOYEE E ON E.EMP_CODE = S.EMP_CODE
	WHERE S.EMP_CODE = #{empCode}
	ORDER BY S.SURVEY_END_DATE DESC
    OFFSET #{startRow} ROWS
    FETCH NEXT #{pageSize} ROWS ONLY	
</select>

<!-- 회사 전체 인원수 구하기 -->
<select id="totalEmpCount"> 
	SELECT COUNT(*) FROM EMPLOYEE 
	WHERE COM_NO = #{comNo} 
</select>

<!-- 특정 설문 대상자 수 구하기 -->
<select id="surveyTargetTotalCount">
	SELECT COUNT(*) FROM 
	SURVEY_TARGET
	WHERE SURVEY_NO = #{surveyNo}	
</select>


<!-- 설문응답자수 구하기 -->
<select id="totalResponseCount"> 
	SELECT TOTAL_RESPONSE_COUNT FROM SURVEY 
	WHERE SURVEY_NO = #{surveyNo}
</select>

<!-- 로그인한 사원의 회사에 존재하는 직급들 조회 -->
<select id="positionList">
	SELECT POSITION_NM FROM POSITION 
	WHERE COM_NO = #{comNo}
</select>

<!-- 이름으로 사원 조회 -->
<select id="empList">
	SELECT E.*, T.TEAM_NM
	FROM EMPLOYEE E
	LEFT JOIN TEAM T ON (T.TEAM_NO = E.TEAM_NO)
	WHERE E.COM_NO = #{comNo}
	AND  CONCAT(E.EMP_LAST_NAME, E.EMP_FIRST_NAME) LIKE '%' || #{empNickname} || '%'
</select>

<!-- SEQ.SURVEY 라는 시퀀스의 다음 값 조회  -->
<select id="surveyNoDetail">
	SELECT SEQ_SURVEY.NEXTVAL FROM DUAL
</select>

<!-- SURVEY 테이블에 행 삽입  -->
<insert id="insertSurvey">
	INSERT INTO SURVEY
	VALUES 
	(
	#{surveyNo},  
	#{empCode}, 
	#{title}, 
	TO_DATE(#{surveyStartDate}, 'YYYY-MM-DD') , 
	TO_DATE(#{surveyEndDate}, 'YYYY-MM-DD'),  
	#{surveyEntireTargetFl}, 
	0,
	#{comNo}
	)
</insert>

<!-- 특정회사의 특정직급의 사원들의 EMP_CODE 를 모두 가져옴 -->
<select id="specificPositionEmpList"> 

	SELECT E.EMP_CODE 
	FROM POSITION P 
	LEFT JOIN EMPLOYEE E ON (P.POSITION_NO = E.POSITION_NO)
	WHERE P.POSITION_NM = #{position}
	AND P.COM_NO = #{comNo}
	
</select>

<!-- 특정회사의 특정직급의 사원들을 SURVEY_TARGET 테이블에 삽입  -->
<insert id="insertSurveyTarget">
	INSERT INTO SURVEY_TARGET
	VALUES (SEQ_SURVEY_TARGET.NEXTVAL,  #{empCode}, #{surveyNo})
</insert>


<!-- SEQ_SURVEY_SUB.NEXTVAL 조회 -->
<select id="findNextSequenceVal">
	SELECT SEQ_SURVEY_SUB.NEXTVAL FROM DUAL 
</select>

<!-- 소제목 삽입 -->
<insert id="insertSurveySub">
	INSERT INTO SURVEY_SUB VALUES 
	(#{surveySubNo}, #{surveyNo}, #{surveySubTitle}, #{questionType})
</insert>

<!-- 객관식 문항 삽입 -->
<insert id="insertSurveyMultiple">
	INSERT INTO SURVEY_MULTIPLE
	VALUES (SEQ_SURVEY_MULTIPLE.NEXTVAL, #{surveySubNo}, #{multipleQuestion})
</insert>


<!-- 해당 소제목의 전체 응답 개수 -->
<select id="countResponse">
	SELECT COUNT(*) FROM SURVEY_ANSWER
	WHERE SURVEY_SUB_NO = #{surveySubNo}
</select>

<!-- 해당 문항이 선택된 비율 -->
<select id="countMultipleOption">
	SELECT COUNT(*) FROM SURVEY_ANSWER
	WHERE ANSWER = #{surveyMultipleNo}
</select>

<!-- 특정 소제목의 주관식 답변 가져오기  -->
<select id="showSubjectiveAnswer">
	SELECT SA.*,
    E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS FULL_NAME,
    E.PROFILE_IMG
    FROM SURVEY_ANSWER SA 
    LEFT JOIN EMPLOYEE E ON (E.EMP_CODE = SA.EMP_CODE)
	WHERE SURVEY_SUB_NO = #{surveySubNo}
</select>

<!-- 특정 설문 조회 -->
<select id="surveyDetail">
	SELECT * FROM SURVEY 
	WHERE SURVEY_NO = #{surveyNo}
</select>

<!-- SURVEY_TARGET 에서 해당 설문 대상자들을 지움 -->
<delete id="surveyTargetDelete">
	DELETE FROM SURVEY_TARGET WHERE SURVEY_NO = #{surveyNo}
</delete>

<!-- 특정 설문과 관련된 소제목 기본키들 모두 조회 -->
<select id="surveySubNoList">
	SELECT SURVEY_SUB_NO FROM SURVEY_SUB 
	WHERE SURVEY_NO = #{surveyNo}
</select>

<!-- 설문 답변 지우기  -->
<delete id="deleteSurveyAnswer">
	DELETE FROM SURVEY_ANSWER WHERE SURVEY_SUB_NO = #{surveySubNo}
</delete>

<!-- 설문 소제목 객관식 문항 지우기  -->
<delete id="deleteSurveyMultiple">
	DELETE FROM SURVEY_MULTIPLE WHERE SURVEY_SUB_NO = #{surveySubNo}
</delete>

<!-- 설문 소제목 지우기  -->
<delete id="deletesurveySub">
	DELETE FROM SURVEY_SUB WHERE SURVEY_NO = #{surveyNo}
</delete>

<!-- 설문 지우기 -->
<delete id="deleteSurvey">
	DELETE FROM SURVEY WHERE SURVEY_NO = #{surveyNo}
</delete>
	
</mapper>

