<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.survey.model.mapper.SurveyMapper"> 


<select id="positionList">
	SELECT POSITION_NM FROM POSITION 
	WHERE COM_NO = #{comNo}
</select>

<select id="empList">
	SELECT E.*, T.TEAM_NM
	FROM EMPLOYEE E
	LEFT JOIN TEAM T ON (T.TEAM_NO = E.TEAM_NO)
	WHERE E.COM_NO = #{comNo}
	AND  CONCAT(E.EMP_LAST_NAME, E.EMP_FIRST_NAME) LIKE '%' || #{empNickname} || '%'
</select>

<select id="surveyNoDetail">
	SELECT SEQ_SURVEY.NEXTVAL FROM DUAL
</select>

<insert id="insertSurvey">
	INSERT INTO SURVEY
	VALUES 
	(
	#{surveyNo},  
	#{empCode}, 
	#{title}, 
	TO_DATE(#{surveyStartDate}, 'YYYY-MM-DD') , 
	TO_DATE(#{surveyEndDate}, 'YYYY-MM-DD'),  
	#{surveyEntireTargetFl}, 
	0,
	#{comNo}
	)
</insert>

<select id="specificPositionEmpList"> 

	SELECT E.EMP_CODE 
	FROM POSITION P 
	LEFT JOIN EMPLOYEE E ON (P.POSITION_NO = E.POSITION_NO)
	WHERE P.POSITION_NM = #{position}
	AND P.COM_NO = #{comNo}
	
</select>

<insert id="insertSurveyTarget">
	INSERT INTO SURVEY_TARGET
	VALUES (SEQ_SURVEY_TARGET.NEXTVAL,  #{empCode}, #{surveyNo})
</insert>

<select id="findNextSequenceVal">
	SELECT SEQ_SURVEY_SUB.NEXTVAL FROM DUAL 
</select>

<insert id="insertSurveySub">
	INSERT INTO SURVEY_SUB VALUES 
	(#{surveySubNo}, #{surveyNo}, #{surveySubTitle}, #{questionType})
</insert>

<insert id="insertSurveyMultiple">
	INSERT INTO SURVEY_MULTIPLE
	VALUES (SEQ_SURVEY_MULTIPLE.NEXTVAL, #{surveySubNo}, #{multipleQuestion})
</insert>

<select id="entireTargetSurvey">
	SELECT 
    S.SURVEY_NO, 
    S.EMP_CODE, 
    S.SURVEY_MAIN_TITLE, 
    S.SURVEY_ENTIRE_TARGET_FL, 
    S.SURVEY_START_DATE AS SURVEY_START_DATE_DATE, 
    S.SURVEY_END_DATE + 1 AS SURVEY_END_DATE_DATE, 
    E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS FULL_NAME 
FROM SURVEY S 
LEFT JOIN EMPLOYEE E ON S.EMP_CODE = E.EMP_CODE 
WHERE S.SURVEY_ENTIRE_TARGET_FL = 'Y' 
AND S.SURVEY_END_DATE + 1 >= SYSDATE
AND S.COM_NO = #{comNo}
</select>

<select id="receiveSurvey">
	SELECT 
	S.SURVEY_NO, 
	S.EMP_CODE, 
	S.SURVEY_MAIN_TITLE, 
	S.SURVEY_ENTIRE_TARGET_FL, 
	S.SURVEY_START_DATE SURVEY_START_DATE_DATE, 
	S.SURVEY_END_DATE + 1 SURVEY_END_DATE_DATE
	FROM SURVEY_TARGET ST
	LEFT JOIN SURVEY S ON (ST.SURVEY_NO = S.SURVEY_NO)
	WHERE ST.EMP_CODE = #{empCode}
	AND S.SURVEY_END_DATE + 1 >= SYSDATE	
	ORDER BY S.SURVEY_END_DATE DESC
</select>

<select id="findEmpFullName">
	SELECT EMP_LAST_NAME || EMP_FIRST_NAME
	FROM EMPLOYEE 
	WHERE EMP_CODE = #{empCode2}	
</select>

<select id="findSurveySubNo">
	SELECT SURVEY_SUB_NO FROM SURVEY_SUB
	WHERE SURVEY_NO = #{surveyNo}
</select>

<select id="answerCount">
	SELECT COUNT(*) FROM  SURVEY_ANSWER
	WHERE SURVEY_SUB_NO = #{firstSurveySubNo}
	AND EMP_CODE = #{empCode}
</select>

<select id="surveyDetail">
	SELECT * FROM SURVEY 
	WHERE SURVEY_NO = #{surveyNo}
</select>

<select id="findComNo">
	SELECT COM_NO FROM EMPLOYEE
	WHERE EMP_CODE = #{empCode}
</select>

<select id="countForValidate">
	SELECT COUNT(*)  FROM SURVEY_TARGET 
	WHERE EMP_CODE = #{empCode}
	AND SURVEY_NO = #{surveyNo}
</select>


<select id="checkAlreadyWrite">
	SELECT COUNT(*) FROM SURVEY_ANSWER
	WHERE EMP_CODE = #{empCode}
	AND SURVEY_SUB_NO = #{surveySubNo}
</select>

<select id="getSurvey">
	SELECT 
    SURVEY_NO, 
    EMP_CODE, 
    SURVEY_MAIN_TITLE,
    SURVEY_ENTIRE_TARGET_FL,
    TO_CHAR(SURVEY_START_DATE, 'YYYY"년" MM"월" DD"일"') AS SURVEY_START_DATE,
    TO_CHAR(SURVEY_END_DATE, 'YYYY"년" MM"월" DD"일"') AS SURVEY_END_DATE,
    TOTAL_RESPONSE_COUNT
	FROM SURVEY 
	WHERE SURVEY_NO = #{surveyNo}
</select>



<select id="surveySubList" resultMap="survey_rm">
	SELECT * FROM SURVEY_SUB 
	WHERE SURVEY_NO = #{surveyNo}
</select>

<resultMap type="SurveySub" id="survey_rm">
	<id property="surveySubNo" column="SURVEY_SUB_NO" />
    <result property="surveyMultipleNo" column="SURVEY_MULTIPLE_NO"/>
    <result property="surveySubNo" column="SURVEY_SUB_NO"/>
    <result property="multipleQuestion" column="MULTIPLE_QUESTION"/>

	
	<collection property="options"              
		select="selectSurveyMultiple"
		column= "SURVEY_SUB_NO"
		javaType="java.util.ArrayList"
		ofType= "SurveyMultiple"
	/>
</resultMap>

<select id="selectSurveyMultiple" resultType="SurveyMultiple">
	SELECT * FROM SURVEY_MULTIPLE
	WHERE SURVEY_SUB_NO = #{surveySubNo}
</select>

<insert id="submitAnswer">
	INSERT INTO SURVEY_ANSWER 
	VALUES (SEQ_SURVEY_ANSWER.NEXTVAL, #{empCode}, #{surveySubNo}, #{answer})
</insert>

<select id="mySurvey">
	SELECT 
	S.SURVEY_NO, 
	S.EMP_CODE, 
	S.SURVEY_MAIN_TITLE, 
	S.SURVEY_ENTIRE_TARGET_FL, 
	S.SURVEY_START_DATE AS SURVEY_START_DATE_DATE, 
	S.SURVEY_END_DATE + 1 AS SURVEY_END_DATE_DATE ,
    E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS FULL_NAME 
	FROM SURVEY S
	LEFT JOIN EMPLOYEE E ON E.EMP_CODE = S.EMP_CODE
	WHERE S.EMP_CODE = #{empCode}
	ORDER BY S.SURVEY_END_DATE DESC
    OFFSET #{startRow} ROWS
    FETCH NEXT #{pageSize} ROWS ONLY	
</select>

<select id="countResponse">
	SELECT COUNT(*) FROM SURVEY_ANSWER
	WHERE SURVEY_SUB_NO = #{surveySubNo}
</select>

<select id="countMultipleOption">
	SELECT COUNT(*) FROM SURVEY_ANSWER
	WHERE ANSWER = #{surveyMultipleNo}
</select>


<!-- 내 설문 개수 조회 -->
<select id="getListCount">
	SELECT COUNT(*)
	FROM "SURVEY"
	WHERE EMP_CODE = #{empCode}
</select>

<select id="showSubjectiveAnswer">
	SELECT SA.*,
    E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS FULL_NAME,
    E.PROFILE_IMG
    FROM SURVEY_ANSWER SA 
    LEFT JOIN EMPLOYEE E ON (E.EMP_CODE = SA.EMP_CODE)
	WHERE SURVEY_SUB_NO = #{surveySubNo}
</select>



<select id="surveyTargetTotalCount">
	SELECT COUNT(*) FROM 
	SURVEY_TARGET
	WHERE SURVEY_NO = #{surveyNo}	
</select>

<select id="findSurveySubRow">
	SELECT * FROM SURVEY_SUB 
	WHERE SURVEY_SUB_NO = #{hintSurveySubNo}
</select>

<update id="increaseTotalResponseCount">
	UPDATE SURVEY SET TOTAL_RESPONSE_COUNT = TOTAL_RESPONSE_COUNT + 1 
	WHERE SURVEY_NO = #{surveyNo}
</update>

<select id="totalEmpCount"> 
	SELECT COUNT(*) FROM EMPLOYEE 
	WHERE COM_NO = #{comNo} 
</select>

<select id="totalResponseCount"> 
	SELECT TOTAL_RESPONSE_COUNT FROM SURVEY 
	WHERE SURVEY_NO = #{surveyNo}
</select>

<delete id="surveyTargetDelete">
	DELETE FROM SURVEY_TARGET WHERE SURVEY_NO = #{surveyNo}
</delete>

<select id="surveySubNoList">
	SELECT SURVEY_SUB_NO FROM SURVEY_SUB 
	WHERE SURVEY_NO = #{surveyNo}
</select>

<delete id="deleteSurveyAnswer">
	DELETE FROM SURVEY_ANSWER WHERE SURVEY_SUB_NO = #{surveySubNo}
</delete>

<delete id="deleteSurveyMultiple">
	DELETE FROM SURVEY_MULTIPLE WHERE SURVEY_SUB_NO = #{surveySubNo}
</delete>

<delete id="deletesurveySub">
	DELETE FROM SURVEY_SUB WHERE SURVEY_NO = #{surveyNo}
</delete>

<delete id="deleteSurvey">
	DELETE FROM SURVEY WHERE SURVEY_NO = #{surveyNo}
</delete>

	
</mapper>






























