<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.teamBoard.model.mapper.TeamBoardMapper">

	<!-- 팀게시판 게시글 수 조회 -->
	<select id="getTeamBoardListCount">
		SELECT 
			 COUNT(*)
		FROM TEAM_BOARD B
		JOIN EMPLOYEE E ON B.EMP_CODE  = E.EMP_CODE
		JOIN "POSITION" P ON E.POSITION_NO = P.POSITION_NO
		WHERE B.TEAM_BOARD_DEL_FL = 'N'
		AND E.COM_NO = #{comNo}
		AND B.TEAM_NO = #{teamNo}
		<if test='query != null'>
			<choose>
				<when test='key == "1"'> <!-- 제목 -->
					AND TEAM_BOARD_TITLE LIKE '%' || #{query} || '%'
				</when>
				<when test='key == "2"'> <!-- 내용 -->
					AND TEAM_BOARD_CONTENT LIKE '%' || #{query} || '%'
				</when>
				<otherwise> <!-- 작성자 -->
					AND E.EMP_LAST_NAME || E.EMP_FIRST_NAME || ' ' || P.POSITION_NM LIKE '%' || #{query} || '%'
				</otherwise>
			</choose>
		</if>
		<choose>
			<when test='combo == "1"'> <!-- 공지사항 -->
				AND TEAM_FLAG = 'N'
			</when>
			<when test='combo == "2"'> <!-- 전달사항 -->
				AND TEAM_FLAG = 'D'
			</when>
		</choose>
		ORDER BY TEAM_BOARD_NO DESC
	</select>
	
	<!-- 팀게시판 조회 -->
	<select id="teamBoardList">
		SELECT 
			 B.TEAM_BOARD_NO
			,CASE 
				WHEN B.TEAM_FLAG = 'N' THEN '공지사항' 
				ELSE '전달사항' 
				END TEAM_TYPE
			,B.TEAM_BOARD_TITLE
			,E.EMP_LAST_NAME || E.EMP_FIRST_NAME || ' ' || P.POSITION_NM  AS EMP_NAME
			,<![CDATA[
				CASE 
					WHEN SYSDATE - B.TEAM_BOARD_WRITE_DATE < 1 / 24 / 60
					THEN FLOOR((SYSDATE - B.TEAM_BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
					WHEN SYSDATE - B.TEAM_BOARD_WRITE_DATE < 1 / 24
					THEN FLOOR((SYSDATE - B.TEAM_BOARD_WRITE_DATE) * 24 * 60) || '분 전'
					WHEN SYSDATE - B.TEAM_BOARD_WRITE_DATE < 1
					THEN FLOOR((SYSDATE - B.TEAM_BOARD_WRITE_DATE) * 24) || '시간 전'
					ELSE TO_CHAR(B.TEAM_BOARD_WRITE_DATE, 'YYYY-MM-DD')
				 END TEAM_BOARD_WRITE_DATE
			  ]]>
			,B.TEAM_BOARD_CONTENT
			,B.TEAM_BOARD_WRITE_DATE
			,B.TEAM_BOARD_UPDATE_DATE
			,B.TEAM_BOARD_DEL_FL
			,B.EMP_CODE
			,B.TEAM_NO
			,B.TEAM_FLAG
			,(SELECT COUNT(*) FROM "COMMENT" WHERE TEAM_BOARD_NO = B.TEAM_BOARD_NO) AS COMMENT_CNT
		FROM TEAM_BOARD B
		JOIN EMPLOYEE E ON B.EMP_CODE  = E.EMP_CODE
		LEFT OUTER JOIN "POSITION" P ON E.POSITION_NO = P.POSITION_NO
		WHERE B.TEAM_BOARD_DEL_FL = 'N'
		AND E.COM_NO = #{comNo}
		AND B.TEAM_NO = #{teamNo}
		<if test='query != null'>
			<choose>
				<when test='key == "1"'> <!-- 제목 -->
					AND TEAM_BOARD_TITLE LIKE '%' || #{query} || '%'
				</when>
				<when test='key == "2"'> <!-- 내용 -->
					AND TEAM_BOARD_CONTENT LIKE '%' || #{query} || '%'
				</when>
				<otherwise> <!-- 작성자 -->
					AND E.EMP_LAST_NAME || E.EMP_FIRST_NAME || ' ' || P.POSITION_NM LIKE '%' || #{query} || '%'
				</otherwise>
			</choose>
		</if>
		<choose>
			<when test='combo == "1"'> <!-- 공지사항 -->
				AND TEAM_FLAG = 'N'
			</when>
			<when test='combo == "2"'> <!-- 전달사항 -->
				AND TEAM_FLAG = 'D'
			</when>
		</choose>
		ORDER BY TEAM_BOARD_NO DESC
	</select>
	
	<!-- 팀게시판 상세 -->
	<select id="teamBoardDetail">
		SELECT 
			 TEAM_BOARD_NO
			,TEAM_BOARD_TITLE
			,EMP_LAST_NAME || EMP_FIRST_NAME || ' ' || POSITION_NM AS EMP_NAME
			,TEAM_BOARD_CONTENT
			,TEAM_BOARD_WRITE_DATE
			,TEAM_BOARD_UPDATE_DATE
			,TEAM_BOARD_DEL_FL
			,EMP_CODE
			,B.TEAM_NO
			,TEAM_FLAG
			,(SELECT COUNT(*) FROM BOARD_FILE WHERE BOARD_NM = 'TEAM' AND BOARD_NO = #{teamBoardNo}) AS FILE_CNT
		FROM TEAM_BOARD B
		JOIN EMPLOYEE USING(EMP_CODE)
		LEFT OUTER JOIN "POSITION" USING(POSITION_NO)
		WHERE TEAM_BOARD_NO = #{teamBoardNo}
		AND TEAM_BOARD_DEL_FL = 'N'
	</select>

	<!-- 팀게시판 등록 -->
	<insert id="teamBoardInsert" useGeneratedKeys="true" parameterType="TeamBoard">
		<selectKey order="BEFORE" resultType="_int" keyProperty="teamBoardNo">
			SELECT SEQ_TEAM_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		
		INSERT INTO TEAM_BOARD VALUES(
			 #{teamBoardNo}
			,#{teamBoardTitle}
			,#{teamBoardContent}
			,DEFAULT
			,NULL
			,DEFAULT
			,#{empCode}
			,#{teamNo}
			,#{teamFlag}
		)
	</insert>
	
	<!-- 팀게시판 수정 -->
	<update id="teamBoardUpdate">
		UPDATE TEAM_BOARD SET
			 TEAM_BOARD_TITLE = #{teamBoardTitle}
			,TEAM_BOARD_CONTENT = #{teamBoardContent}
			,TEAM_BOARD_UPDATE_DATE = SYSDATE
			,TEAM_FLAG = #{teamFlag}
		WHERE TEAM_BOARD_NO = #{teamBoardNo}
	</update>
	
	<!-- 팀게시판 삭제 -->
	<update id="teamBoardDelete">
		UPDATE TEAM_BOARD SET
			TEAM_BOARD_DEL_FL = 'Y'
		WHERE TEAM_BOARD_NO = #{teamBoardNo}
	</update>
	
	<!-- 댓글 -->
	<!-- 댓글 목록 -->
	<select id="commentList">
		SELECT 
			 LEVEL 
			,Z.*
		FROM(
		SELECT 
			 C.COMMENT_NO
			,C.COMMENT_CONTENT
			,TO_CHAR(C.COMMENT_WRITE_DATE, 'YYYY-MM-DD HH24:MI:SS')  COMMENT_WRITE_DATE
			,C.COMMENT_DEL_FL
			,C.PARENT_COMMENT_NO
			,C.TEAM_BOARD_NO
			,C.EMP_CODE
			,E.EMP_LAST_NAME || E.EMP_FIRST_NAME || ' ' || P.POSITION_NM AS EMP_NAME
			,E.PROFILE_IMG
			,SUBE.EMP_LAST_NAME || SUBE.EMP_FIRST_NAME || ' ' || SUBP.POSITION_NM AS EMP_NAME_TO
			,SUBC.COMMENT_DEL_FL AS PARENT_COMMENT_DEL_FL
		FROM "COMMENT" C
		JOIN EMPLOYEE E ON C.EMP_CODE = E.EMP_CODE
		LEFT JOIN "POSITION" P ON E.POSITION_NO = P.POSITION_NO
		LEFT JOIN "COMMENT" SUBC ON C.PARENT_COMMENT_NO = SUBC.COMMENT_NO
		LEFT JOIN EMPLOYEE SUBE ON SUBC.EMP_CODE = SUBE.EMP_CODE
		LEFT JOIN "POSITION" SUBP ON SUBE.POSITION_NO = SUBP.POSITION_NO
		WHERE C.TEAM_BOARD_NO = #{teamBoardNo}
		) Z
		WHERE COMMENT_DEL_FL = 'N'
		OR 0 != (SELECT COUNT(*) FROM "COMMENT" WHERE COMMENT_NO = Z.COMMENT_NO)
		START WITH PARENT_COMMENT_NO IS NULL
		CONNECT BY PRIOR COMMENT_NO = PARENT_COMMENT_NO
		ORDER SIBLINGS BY COMMENT_NO
	</select>
	
	<!-- 댓글/답글 등록 -->
	<insert id="commentInsert">
		INSERT INTO "COMMENT" VALUES(
			 SEQ_COMMENT.NEXTVAL
			,#{commentContent}
			,DEFAULT
			,DEFAULT
			,<if test="parentCommentNo != 0">
				${parentCommentNo}
			</if>
			<if test="parentCommentNo == 0">
				NULL
			</if>
			,#{teamBoardNo}
			,#{empCode}
		)
	</insert>
	
	<!-- 댓글/답글 수정 -->
	<update id="commentUpdate">
		UPDATE "COMMENT" SET
			COMMENT_CONTENT = #{commentContent}
		WHERE COMMENT_NO = #{commentNo}
	</update>
	
	<!-- 댓글/답글 삭제 -->
	<delete id="commentDelete">
		UPDATE "COMMENT" SET
			COMMENT_DEL_FL = 'Y'
		WHERE COMMENT_NO = #{commentNo}
	</delete>
	
	<!-- 팀권한여부 -->
	<select id="authorityCnt" resultType="_int">
		SELECT 
			COUNT(*)
		FROM AUTHORITY_MEMBER
		WHERE EMP_CODE = #{empCode}
		AND AUTHORITY_NO = 3
	</select>
	
	<!-- 팀권한여부 -->
	<select id="levelCnt" resultType="_int">
		SELECT 
		    COALESCE(POSITION_NO, 0) AS POSITION_NO
		FROM (
		    SELECT 
		        POSITION_NO
		    FROM (
		        SELECT 
		        	ROWNUM AS ROW_NUMBER
							,"LEVEL" 
							,POSITION_NO
		        FROM EMPLOYEE
		        JOIN "POSITION" USING (POSITION_NO)
		        WHERE TEAM_NO = #{teamNo}
		        ORDER BY "LEVEL", EMP_CODE
		    )
		    WHERE ROW_NUMBER = 1
		    UNION ALL
		    SELECT NULL AS POSITION_NO
		    FROM DUAL
		    WHERE NOT EXISTS (
		        SELECT 1 
		        FROM EMPLOYEE
		        JOIN "POSITION" USING (POSITION_NO)
		        WHERE TEAM_NO = #{teamNo}
		    )
		)
	</select>
	
	<!-- 팀 권한 조회 -->
	<select id="teamAuthorityList">
		SELECT 
			 EMP_CODE
			,EMP_LAST_NAME
			,EMP_FIRST_NAME
			,P.POSITION_NM 
			,EMP_EMAIL
			, DECODE( (SELECT COUNT(*) FROM AUTHORITY_MEMBER WHERE EMP_CODE = E.EMP_CODE AND AUTHORITY_NO = 3), 0, 'N', 'Y' ) AS TEAM_BOARD_YN
			,D.DEPT_NO 
			,EMP_NO
			,EMP_ID
			,E.COM_NO
			,E.TEAM_NO
			,P.POSITION_NO
			,GENERAL_MANAGER
		FROM EMPLOYEE E
		LEFT JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
		LEFT JOIN DEPARTMENT D ON T.DEPT_NO = D.DEPT_NO
		LEFT JOIN "POSITION" P ON E.POSITION_NO = P.POSITION_NO 
		WHERE E.COM_NO = #{comNo}
		AND E.TEAM_NO = #{teamNo}
		ORDER BY "LEVEL", EMP_CODE
	</select>

</mapper>
