<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.todo.model.mapper.TodoMapper"> 

	<!-- 할 일 목록 조회 -->
	<select id="selectTodoList"> 
	    SELECT * FROM TODO
	    WHERE EMP_CODE = 1
	</select>
	
	<!-- 할 일 등록 -->
	<insert id="todoInsert">
	    <selectKey order="BEFORE" resultType="int" keyProperty="todoNo">
	        SELECT SEQ_TODO.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO "TODO"
	    VALUES (
	        #{todoNo},
	        #{todoTitle},
	        #{todoContent},
	        DEFAULT,
	        #{todoEndDate},
	        DEFAULT,
	        1
	    )
	</insert>
	
	<!-- 파일 업로드시 등록 -->
	<insert id="insertUploadList" parameterType="list">
		INSERT INTO TODO_FILE
	    <foreach collection="list" item="file" 
	    		open ="(" close=")" separator=" UNION ">
	       SELECT NEXT_TODO_FILE_NO(), 
	       #{file.filePath}, #{file.fileOriginName}, 
	       #{file.fileRename}, SYSDATE, #{file.fileOrder}, #{file.todoNo}
	       FROM DUAL 
	    </foreach>
	</insert>
		
		
	<!-- 담당자 지정시 등록 -->
	<insert id="insertTodoManager" parameterType="Todo">
	        INSERT INTO "TODO_MANAGER" 
	        SELECT 
	            NEXT_TODO_MGR_NO(), 
	            emp.EMP_CODE, 
	            #{todoNo}
	        FROM 
	            Employee emp
	        WHERE 
	            CONCAT(emp.EMP_LAST_NAME, emp.EMP_FIRST_NAME) = #{inChargeEmp}
	</insert>

	
<!-- <select id="todoDetail">
		SELECT 
		    t.TODO_NO,
		    t.TODO_TITLE,
		    t.TODO_CONTENT,
		    t.TODO_WRITE_DATE,
		    t.TODO_END_DATE,
		    t.TODO_COMPLETE,
		    t.EMP_CODE,
		    tf.FILE_NO,
		    tf.FILE_PATH,
		    tf.FILE_ORIGIN_NAME,
		    tf.FILE_RENAME,
		    tf.FILE_UPLOAD_DATE,
		    tf.FILE_ORDER,
		    tm.TODO_MGR_NO,
		    tm.EMP_CODE AS MGR_EMP_CODE
		FROM 
		    todo t
		LEFT JOIN 
		    todo_file tf ON t.TODO_NO = tf.TODO_NO
		LEFT JOIN 
		    todo_manager tm ON t.TODO_NO = tm.TODO_NO
		WHERE 
		    t.TODO_NO = #{todoNo}
	</select>  -->	


</mapper>






























