<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.user.model.mapper.UserMapper">
	
	<!-- 아이디 중복 검사 -->
	<select id="checkId" resultType="_int">
		SELECT COUNT(*) 
		FROM "EMPLOYEE"
		WHERE EMP_ID = #{empId} 
		AND EMP_DEL_FL = 'N'
	</select>
	
	<!-- 회원가입(관리자) -->
	<insert id="signup" parameterType="Employee2">
		INSERT INTO "MEMBER"
		VALUES(
		'미지, 
		#{memberEmail},
		#{memberPw},
		#{memberNickname},
		#{memberTel},
		#{memberAddress},
		NULL,
		DEFAULT,
		DEFAULT,
		DEFAULT)
		
		
		INSERT INTO EMPLOYEE VALUES(
			SEQ_EMPLOYEE.NEXTVAL,
			'미지정',
			#{empId},
			#{empPw},
			'임',
			'성혁',
			'010-1234-1234',
			'korean',
			'03347^^^서울시 은평구 신사동^^^어쩌구저쩌구',
			'1995-05-16',
			'2024-06-04',
			'정규직',
			'02-000-0000',
			'그레이츠 청계 1층 지원 데스크',
			'limbit@naver.com',
			NULL,
			NULL,
			NULL,
			NULL,
			1,
			DEFAULT
		);
	</insert>
	
</mapper>