<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowork.employee.usermain.model.mapper.UserMainMapper">
	
	<!-- 사용자 권한여부 -->
	<select id="authorityCnt">
		SELECT COUNT(*) FROM AUTHORITY_MEMBER 
		WHERE EMP_CODE = #{empCode}
		AND AUTHORITY_NO IN (1, 2)
	</select>
	
	<!-- 관리자 권한 조회 -->
	<select id="authorityList">
		SELECT AUTHORITY_NO FROM AUTHORITY_MEMBER 
		WHERE EMP_CODE = #{empCode}
		AND AUTHORITY_NO IN (1, 2)
	</select>
	
	<!-- 공지사항 조회 -->
	<select id="noticeList">
		SELECT
		     ROWNUM
			,NOTICE_NO 
			,EMP_CODE
			,DEPT_NO
			,NOTICE_TITLE
			,EMP_NAME
			,NOTICE_WRITE_DATE
			,DEPT_NM 
			,COM_NO
		FROM (
		SELECT
		     N.NOTICE_NO 
			,N.EMP_CODE
			,D.DEPT_NO
			,N.NOTICE_TITLE
			,D.DEPT_NM || ' ' || E.EMP_LAST_NAME || E.EMP_FIRST_NAME AS EMP_NAME
			,<![CDATA[
			CASE 
				WHEN SYSDATE - N.NOTICE_WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - N.NOTICE_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - N.NOTICE_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - N.NOTICE_WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - N.NOTICE_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - N.NOTICE_WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(N.NOTICE_WRITE_DATE, 'YYYY-MM-DD')
			 END NOTICE_WRITE_DATE
			  ]]>
			,D.DEPT_NM 
			,E.COM_NO
			FROM NOTICE N
			INNER JOIN EMPLOYEE E ON N.EMP_CODE  = E.EMP_CODE
			INNER JOIN TEAM T ON E.TEAM_NO = T.TEAM_NO 
			INNER JOIN DEPARTMENT D ON T.DEPT_NO = D.DEPT_NO 
			INNER JOIN COMPANY C ON E.COM_NO = C.COM_NO 
			WHERE NOTICE_DEL_FL = 'N'
			AND E.COM_NO = #{comNo}
			ORDER BY NOTICE_NO DESC
			) Z
			<![CDATA[WHERE ROWNUM < 11]]>
	</select>
	
</mapper>