<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>근태 기준 관리</title>

    <link rel="stylesheet" href="/css/admin/attendence/attendenceStandardManagement.css">
</head>
<body>

    <div class="currentAttendence">
        <span>현재 근태 기준 시간 : 
            <span>09:00</span>
            <span> ~ </span>
            <span>18:00</span>
        </span>
    </div>

    <script src="/js/admin/attendence/attendenceStandardManagement.js"></script>
</body>
</html>