<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>근태 기준 관리</title>

    <link rel="stylesheet" href="/css/admin/attendence/attendenceStandardManagement.css">
</head>
<body>

    <div class="settingTypeDiv">
        <div>
            <input type="radio" name="settingType" id="setTime">
            <label for="setTime"><div>지정된 시간으로 설정</div></label>
        </div>
        <!-- <div>
            <input type="radio" name="settingType" id="selectTime">
            <label for="selectTime"><div>선택적 근무시간으로 설정</div></label>
        </div> -->
        <div>
            <input type="radio" name="settingType" id="offSet">
            <label for="offSet"><div>설정 안함</div></label>
        </div>
    </div>

    <div class="settingArea">
        <div class="dayOfWeekDiv">
            <div class="dayOfWeek" id="MONDAY">월</div>
            <div class="dayOfWeek" id="TUESDAY">화</div>
            <div class="dayOfWeek" id="WEDNESDAY">수</div>
            <div class="dayOfWeek" id="THURSDAY">목</div>
            <div class="dayOfWeek" id="FRIDAY">금</div>
            <div class="dayOfWeek" id="SATURDAY">토</div>
            <div class="dayOfWeek" id="SUNDAY">일</div>
        </div>
    
        <div class="startAndEnd">
            <div class="work">업무시작</div>
            <select id="startHour">
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
            </select>
            <div>:</div>
            <select id="startMinute">
                <option value="00">00</option>
                <option value="05">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
    
            <div class="work">업무종료</div>
            <select id="endHour">
                <option value="00">00</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
            </select>
            <div>:</div>
            <select id="endMinute">
                <option value="00">00</option>
                <option value="05">05</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
                <option value="45">45</option>
                <option value="50">50</option>
                <option value="55">55</option>
            </select>
        </div>
    
        <hr>
    
        <div class="attendenceTimeCalc">
            <div>근무시간 산정 기준 설정</div>
            <div>
                <input type="checkbox" id="calcByInTime">
                <div>조기 출근 시, 설정한 업무시작 시간 기준으로 근무시간 산정</div>
            </div>
            <div>
                <input type="checkbox" id="calcByOffTime">
                <div>늦은 퇴근 시, 설정한 업무종료 시간 기준으로 근무시간 산정</div>
            </div>
            <div class="info1">* 설정한 업무시작/업무종료 기준으로 근무시간 산정 시, 추가 근무를 하더라도 초과근무로 산정되지 않습니다.</div>
            <div class="info2">* 사용자 메뉴 중 [근태내역]에서 초과근무 승인 요청 이용 후 승인이 완료되면 총 근무시간에 추가 산정됩니다.</div>
        </div>
    </div>

    <div class="btnDiv">
        <button class="default-btn sapphire-btn" id="setting">저장</button>
        <button class="default-btn sapphire-btn" id="close">닫기</button>
    </div>

    <script src="/js/admin/attendence/attendenceStandardManagement.js"></script>
    <script th:inline="javascript">
        const stdAtd = /*[[${session.stdAtd}]]*/ '설정 내용';
    </script>
    
</body>
</html>