<div div id="myModal" class="modal"></div>

<!-- 모달 내용 -->
<div class="modal-content">
    <div class="contentHead">
        <div>
            <span>상세내용</span>
        </div>
        <div></div>
        <span class="close">&times;</span>
    </div>

    <div class="contentBody">
        <div>
            <span>요청자</span>
            <!-- Thymeleaf -->
            <div>임성혁(202405290001@company)</div>
        </div>

        <div>
            <span>수정요청시간</span>
            <div>2024-05-24 08:57 ~ 18:00</div>
        </div>

        <div>
            <span>사유</span>
            <div>
                <textarea readonly class="default-line" name="" id="">외근으로 인한 출근 미처리로 
출,퇴근 시간 수정 요청드립니다. 
감사합니다.</textarea>
            </div>
        </div>

        <div>
            <span>결재자</span>
            <div>
                <div>박은별</div>
            </div>
        </div>
    </div>

    <!-- <div>
        <button class="default-btn glucose-btn" id="approval">반려</button>
        <button class="default-btn glucose-btn" id="reject">취소</button>
    </div> -->

</div>