<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출퇴근 등록</title>
    <link rel="stylesheet" href="/css/employee/userMain/attendenceReigst.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body id="body">


    <div>
        <div id="current-time"></div>
        <div id="currentAttd" th:if="${todayIsAtd.inTime == null}">출근전</div>
        <div id="currentAttd" th:if="${todayIsAtd.inTime != null && todayIsAtd.offTime == null}">출근</div>
        <div id="currentAttd" th:if="${todayIsAtd.inTime != null && todayIsAtd.offTime != null}">퇴근</div>
    </div>

    <div>
        <div>
            <div class="arrival-button"><i class="fa-solid fa-arrow-turn-down"></i></div>
            <div>출근하기</div>
            <div id="arrival-time" th:if="${todayIsAtd.inTime == null}">00:00:00</div>
            <div id="arrival-time" th:if="${todayIsAtd.inTime != null}" th:text="${todayIsAtd.inTime}">00:00:00</div>
        </div>

        <div></div>

        <div>
            <div class="departure-button"><i class="fa-solid fa-arrow-turn-up"></i></div>
            <div>퇴근하기</div>
            <div id="departure-time" th:if="${todayIsAtd.offTime == null}">00:00:00</div>
            <div id="departure-time" th:if="${todayIsAtd.offTime != null}" th:text="${todayIsAtd.offTime}">00:00:00</div>
        </div>
    </div>



    <script src="/js/employee/userMain/attendenceReigst.js"></script>
    <script th:inline="javascript">
        const loginEmpCode = /*[[${session.loginEmp.empCode}]]*/ "로그인 사원 식별키";
        const comNo = /*[[${session.loginEmp.comNo}]]*/ "회사 식별키";
        const departureTime = /*[[${session.loginEmp.departureTime}]]*/ "회사 식별키";
        const stdAtd = /*[[${session.stdAtd}]]*/ '근태 기준';
    </script>
</body>
</html>