<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출퇴근 등록</title>
    <link rel="stylesheet" href="/css/employee/userMain/attendanceReigst.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body id="body">


    <div>
        <div id="current-time"></div>
        <div id="currentAttd" th:if="${session.loginEmp.arrivalTime} == null">출근전</div>
        <div id="currentAttd" th:if="${session.loginEmp.arrivalTime != null} and ${session.loginEmp.departureTime == null}">출근</div>
        <div id="currentAttd" th:if="${session.loginEmp.arrivalTime != null} and ${session.loginEmp.departureTime != null}">퇴근</div>
    </div>

    <div>
        <div>
            <div class="arrival-button"><i class="fa-solid fa-arrow-turn-down"></i></div>
            <div>출근하기</div>
            <div id="arrival-time" th:if="${session.loginEmp.arrivalTime}" th:text="${session.loginEmp.arrivalTime}"></div>
            <div id="arrival-time" th:unless="${session.loginEmp.arrivalTime}" >00:00:00</div>
        </div>

        <div></div>

        <div>
            <div class="departure-button"><i class="fa-solid fa-arrow-turn-up"></i></div>
            <div>퇴근하기</div>
            <div id="departure-time" th:if="${session.loginEmp.departureTime}" th:text="${session.loginEmp.departureTime}"></div>
            <div id="departure-time" th:unless="${session.loginEmp.departureTime}" >00:00:00</div>
        </div>
    </div>



    <script src="/js/employee/userMain/attendanceReigst.js"></script>
    <script th:inline="javascript">
        const loginEmpCode = /*[[${session.loginEmp.empCode}]]*/ "로그인 사원 식별키";
        const comNo = /*[[${session.loginEmp.comNo}]]*/ "회사 식별키";
        const departureTime = /*[[${session.loginEmp.departureTime}]]*/ "회사 식별키";
    </script>
</body>
</html>