<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출퇴근 등록</title>
    <link rel="stylesheet" href="/css/employee/userMain/attendanceReigst.css">
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body id="body">


    <div>
        <div id="current-time"></div>
        <div>출근전</div>
    </div>

    <div>
        <div>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <span></span>
            <span></span>
        </div>
        <div></div>
        <div>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span></span>
            <span></span>
        </div>
    </div>






    <!-- <div id="current-time-container">
        <div id="day-of-week">
          <span id="sun">일</span>
          <span id="mon">월</span>
          <span id="tue">화</span>
          <span id="wed">수</span>
          <span id="thu">목</span>
          <span id="fri">금</span>
          <span id="sat">토</span>
        </div>
        <div id="current-time"></div>
        <div id="time-log">
            <div id="arrival-time">출근 : </div>
            <div id="departure-time">퇴근 : </div>
        </div>
        <div id="button-container">
            <button class="arrival-button" onclick="recordTime('출근')">출근</button>
            <button class="departure-button" onclick="recordTime('퇴근')">퇴근</button>
        </div>
    </div> -->

    <script src="/js/employee/userMain/attendanceReigst.js"></script>
    
</body>
</html>