<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/employee/userMain/leftSideBar.css">
    <title>leftSideBar</title>
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
	
	<div id="leftSideBarMini">
		<div>
			<i class="fa-solid fa-circle-chevron-right" id="showLeftSideBarBtn"></i>
		</div>
	</div>
	
    <div id="leftSideBar">
		<div id="closeLeftSideBar">
			<i class="fa-solid fa-x"></i>
		</div>

		<!-- 로고 부분 -->
		<div th:if="${session.loginEmp.comLogo}" id="CompanyLogo">
			<img th:src="${session.loginEmp.comLogo}" id="companyLogoImg">
		</div>
		<div th:unless="${session.loginEmp.comLogo}" id="CompanyLogo">
			<img th:src="${session.loginEmp.comLogo}" id="companyLogoImg">
		</div>

		<div id="businessCard">
			<div></div>
		</div>
		





























		

		<a id="logOutLink">로그아웃</a>

		<div class="leftMenu">
			<a href="/employee/notice/noticeList" id="noticeLink">공지사항</a>
			<a href="/employee/edsm/edsmDraftList" id="edsmLink">전자결재</a>
			<a href="/teamBoard/teamBoardList" id="boardLink">게시판</a>
			<a href="/employee/addr" id="addrLink">주소록</a>
			<a href="/calendar/calendar" id="calendarLink">캘린더</a>
			<a href="/reservation/selectMonth" id="reservationLink">회의실 예약</a>
			<a href="/todo/todoList" id="todoLink">할 일</a>
			<a href="/chat" id="chattingLink">메신저</a>
			<div class="dropdown"> <!--24-06-21 yoon 메일 하위메뉴 추가-->
				<button class="dropbtn" id="mail">메일</button>
				<div class="dropdownContent">
					<a href="/mail/mailList">전체 메일함</a>
					<a href="/mail/inbox">받은 메일함</a>
					<a href="/mail/sentbox">보낸 메일함</a>
					<a href="/mail/outbox">임시 보관함</a>
					<a href="/mail/bin">휴지통</a>
				</div>
			</div>
			<a href="/employee/attendance/list" id="attendanceLink">근태내역</a>
			<a href="/survey/receiveSurvey" id="surveyLink">설문</a>
			<th:block th:if="${session.loginEmp.generalManager == 1}">
				<a href="/admin/companyInfo/companyInfo">관리자 메뉴로 이동</a>
			</th:block>
		</div>
	</div>
    
    <script src="/js/employee/userMain/leftSideBar.js"></script>

	<script th:inline="javascript">
		const message = /*[[${message}]]*/ "전달 메세지";
		
		if (message != null) {
			alert(message);
		}
	</script>
</body>
</html>