<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/employee/userMain/leftSideBar.css">
    <title>leftSideBar</title>
    <th:block th:replace="~{common/common}"></th:block>
</head>
<body>
	
	<div id="leftSideBarMini">
		<div>
			<i class="fa-solid fa-circle-chevron-right" id="showLeftSideBarBtn"></i>
		</div>
	</div>
	
    <div id="leftSideBar">
		<div id="closeLeftSideBar">
			<i class="fa-solid fa-x"></i>
		</div>

		<!-- 로고 부분 -->
		<div th:if="${session.loginEmp.comLogo}" id="CompanyLogo">
			<img th:src="${session.loginEmp.comLogo}" id="companyLogoImg">
		</div>
		<div th:unless="${session.loginEmp.comLogo}" id="CompanyLogo">
			<a href="/userMain">
				메인페이지로 이동
			</a>
		</div>
		
		<!--0622 재준 명함 시작 -->
		<div id="businessCardChangeBtnDiv">
			<a href="/businessCard/home" type="button" id="businessCardChangeBtn"> 
				명함
				<i class="fa-solid fa-rotate-right" style="font-size: 11px; margin-left:2px;"></i>
			</a>
		</div>

		<div style="width: 100%; display: flex; justify-content: flex-end; margin-right: 0.7vw; margin-bottom: 1.5vh; margin-top: 0.5vh;" >
		<th:block th:if="${session.loginEmp.businessCardFl == 1}" style="width:20vw;">
			<a
			id="templateDesignOne" style="
						width: 15vw;
						height: 130px;
						display: flex; 
						justify-content: center;
						align-items: center;
						"
			href="/myInfo/myInfoUpdate"
			>

				<div id="firstTemplateDesign"
				style="
				width: 12vw; 
				height: 130px; 
				background-color: #82A6CB;
				border-radius: 5px;
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
				"
				>
					<!-- ------------------- 첫번째 명함 시작 ---------------------- -->
					<div class="test" 
					style="display: flex; 
					justify-content: center;  
					flex-direction: column;
					width: 100%; 
					height: 100%; 
					border-top-left-radius: 15%;
					border-bottom-right-radius: 15%;
					background-color: white;
					border: 1px solid white;
					">
						<!-- 이미지 부분 시작 -->
						<div style="display:flex; justify-content: flex-end; width: 100%;  overflow:hidden;">
							<img th:if="${session.loginEmp.comLogo} != null" th:src="${session.loginEmp.comLogo}" class="comLogoImg" 
								style="width: 60px;
									   height: 60px;
									   border-radius: 5px; 
									   margin-right: 20px ;
									   object-position: center; 
									   object-fit: contain;
									   ">
						   <img th:if="${session.loginEmp.comLogo} == null" src="/images/cowork_favicon.png" class="comLogoImg" 
						   	style="width: 60px;
						   		   height: 60px;
						   		   border-radius: 5px;
						   		   margin-right: 20px;
						   		   object-position: center; 
								   object-fit: contain;
				   		   ">

						</div>
						<!-- 이미지 부분 끝 -->
						
						<!-- 글 부분 시작 -->
						<div style="margin-top: 5px; 
									margin-left: 20px;
									display: flex; 
									justify-content: center;  
									flex-direction: column;
									">
							<!-- 이름 + 직급 -->
							<div style="display: flex;
							 			color:#214177;">
								<div th:text="${session.loginEmp.empLastName} + ${session.loginEmp.empFirstName}"
									 style="color:#214177; font-size:12px;"
								></div>
								&nbsp;|	&nbsp;
								<div th:text="${session.loginEmp.positionNm}"></div>							
							</div>
							<!-- 핸드폰 -->
							<div style="display: flex; 
										margin-top: 3px; 
										align-items: center;
										">
								<i class="fa-solid fa-phone-volume" 
									style="color:#214177;	font-size:12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.phone}" 
								style="margin-top:5px; color:#214177;	font-size:12px;"></div>
							</div>
							<!-- 이메일 -->
							<div style="display: flex; align-items: center;">
								<i class="fa-solid fa-at" 
								style="color:#214177;	font-size:12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.empEmail}"	style="margin-top:5px; font-size:12px; color:#214177;"></div>
							</div>
						</div>		
						<!-- 글 부분 끝 -->
					</div>
					<!-- ------------------- 첫번째 명함 끝 ---------------------- -->
				</div>
			
			</a>
		</th:block>
		<th:block th:if="${session.loginEmp.businessCardFl} == 2" style="width:20vw;">
			<a 
			id="templateDesignTwo" style="
						width: 15vw;
						height: 130px;
						display: flex; 
						justify-content: center;
						align-items: center;
						"
			href="/myInfo/myInfoUpdate"
			>

				<div id="secondTemplateDesign" style="
				width: 12vw; 
				height: 130px; 
				background-color:  #FF6F61;
				border-radius: 5px;
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
				">
					<!-- ------------------- 두번째 명함 시작 ---------------------- -->
					<div class="test" 
					style="display: flex; 
					justify-content: center;  
					flex-direction: column;
					width: 100%; 
					height: 100%; 
					border-top-left-radius: 15%;
					border-bottom-right-radius: 15%;
					background-color: white;
					border: 1px solid white;">
						<!-- 이미지 부분 시작 -->
						<div style="display:flex; justify-content: flex-end; width: 100%; overflow:hidden;">
							<img th:if="${session.loginEmp.comLogo} != null" th:src="${session.loginEmp.comLogo}" class="comLogoImg" 
															style="width: 60px;
																   height: 60px;
																   border-radius: 5px;
																   margin-right: 20px;
																   object-fit: contain; 
																   object-position: center; 
																   ">
						   <img th:if="${session.loginEmp.comLogo} == null" src="/images/cowork_favicon.png" class="comLogoImg" 
						   	style="width: 60px;
						   		   height: 60px;
						   		   border-radius: 5px;
						   		   margin-right: 20px;
						   		   object-fit:contain; 
						   		   object-position: center; 
				   		   ">	
						</div>
						<!-- 이미지 부분 끝 -->
						
						<!-- 글 부분 시작 -->
						<div style="margin-top: 5px; 
									margin-left: 20px;
									display: flex; 
									justify-content: center;  
									flex-direction: column;
									">
							<!-- 이름 + 직급 -->
							<div style="display: flex;
							 			color:#214177;">
								<div th:text="${session.loginEmp.empLastName} + ${session.loginEmp.empFirstName}"
									 style="color:#214177; font-size: 12px;"
								></div>
								&nbsp;|	&nbsp;
								<div th:text="${session.loginEmp.positionNm}"
								style="font-size: 12px;"
								></div>							
							</div>
							<!-- 핸드폰 -->
							<div style="display: flex; 
										margin-top: 3px; 
										align-items: center;">
								<i class="fa-solid fa-phone-volume" 
									style="color:#214177; font-size: 12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.phone}" 
								style="margin-top:5px; color:#214177; font-size: 12px;"></div>
							</div>
							<!-- 이메일 -->
							<div style="display: flex; align-items: center;">
								<i class="fa-solid fa-at" 
								style="color:#214177; font-size: 12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.empEmail}"	style="margin-top:5px;	font-size: 12px;					color:#214177;"></div>
							</div>
						</div>		
						<!-- 글 부분 끝 -->
					</div>
					<!-- ------------------- 두번째 명함 끝 ---------------------- -->
				</div>
			</a>
		</th:block>
		<th:block th:if="${session.loginEmp.businessCardFl} == 3">

			<a
			id="templateDesignThree" style="
						width: 15vw;
						height: 130px;
						display: flex; 
						justify-content: center;
						align-items: center;
						"
			href="/myInfo/myInfoUpdate"
			>
				

			
				<div id="thirdTemplateDesign" style="
					width: 12vw; 
					height: 130px; 
					background-color: #6A5ACD;
					border-radius: 5px;
					box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	
				">
					<!-- ------------------- 세번째 명함 시작 ---------------------- -->
					<div class="test" 
					style="display: flex; 
					justify-content: center;  
					flex-direction: column;
					width: 100%; 
					height: 100%; 
					border-top-left-radius: 15%;
					border-bottom-right-radius: 15%;
					background-color: white;
					border: 1px solid white;">
						<!-- 이미지 부분 시작 -->
						<div style="display:flex; justify-content: flex-end; width: 100%; overflow:hidden;">
							<img th:if="${session.loginEmp.comLogo} != null" th:src="${session.loginEmp.comLogo}" class="comLogoImg" 
															style="width: 60px;
																   height: 60px;
																   border-radius: 5px;
																   margin-right: 20px;
																   object-fit: contain; 
																   ">
							<img th:if="${session.loginEmp.comLogo} == null" src="/images/cowork_favicon.png" class="comLogoImg" 
								style="width: 60px;
									   height: 60px;
									   border-radius: 5px;
									   margin-right: 20px;
									   object-fit: contain; 
									   object-position: center; 
							   ">	
						</div>
						<!-- 이미지 부분 끝 -->
						
						<!-- 글 부분 시작 -->
						<div style="margin-top: 5px; 
									margin-left: 20px;
									display: flex; 
									justify-content: center;  
									flex-direction: column;
									">
							<!-- 이름 + 직급 -->
							<div style="display: flex;
							 			color:#214177;">
								<div th:text="${session.loginEmp.empLastName} + ${session.loginEmp.empFirstName}"
									 style="color:#214177; font-size: 12px;"
								></div>
								&nbsp;|	&nbsp;
								<div th:text="${session.loginEmp.positionNm}" style="font-size: 12px;"></div>							
							</div>
							<!-- 핸드폰 -->
							<div style="display: flex; 
										margin-top: 3px; 
										align-items: center;
										font-size: 12px;
										">
								<i class="fa-solid fa-phone-volume" 
									style="color:#214177;
									font-size: 12px;
									"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.phone}" 
								style="margin-top:5px; color:#214177;
								font-size: 12px;
								"></div>
							</div>
							<!-- 이메일 -->
							<div style="display: flex; align-items: center;">
								<i class="fa-solid fa-at" 
								style="color:#214177;
								font-size: 12px;
								"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.empEmail}"						style="margin-top:5px;	color:#214177;								font-size: 12px;"></div>
							</div>
						</div>		
						<!-- 글 부분 끝 -->
					</div>
					<!-- ------------------- 세번째 명함 끝 ---------------------- -->
				</div>
			</a>
		</th:block>
		</div>
		
		<!--0622 재준 명함 끝  -->		
		<!--
		<div id="businessCard">
			<div></div>
		</div>
		-->
		
		<!-- 0622 재준 내 정보수정 비밀번호 수정 추가 -->
		<div style="display: flex; justify-content: space-evenly; width:80%;">
			<a href="/myInfo/myInfoUpdate" id="sideBarUpdateMyInfomationBtn">내 정보 수정</a>
			<a href="/myInfo/pwUpdate" id="sideBarUpdatePasswordBtn">비밀번호 변경</a>
			<a href="/user/logout" id="logOutLink">로그아웃</a>			
		</div>


		<div class="leftMenu">
			<a href="/employee/notice/noticeList" id="noticeLink">공지사항</a>
			<a href="/employee/edsm/edsmDraftList" id="edsmLink">전자결재</a>
			<th:block th:if="${session.loginEmp.teamNo != null}"><a href="/teamBoard/teamBoardList" id="boardLink">게시판</a></th:block>
			<a href="/employee/addr/comList" id="addrLink">주소록</a>
			<a href="/calendar/calendar" id="calendarLink">캘린더</a>
			<a href="/reservation/selectMonth" id="reservationLink">회의실 예약</a>
			<a href="/todo/todoList" id="todoLink">할 일</a>
			<a href="/chat" id="chattingLink">메신저</a>
			<div class="dropdown"> <!--24-06-21 yoon 메일 하위메뉴 추가-->
				<button class="dropbtn" id="mail">메일</button>
				<div class="dropdownContent">
					<a href="/mail/mailList">전체 메일함</a>
					<a href="/mail/inbox">받은 메일함</a>
					<a href="/mail/sentbox">보낸 메일함</a>
					<a href="/mail/outbox">임시 보관함</a>
					<a href="/mail/bin">휴지통</a>
				</div>
			</div>
			<!-- <a href="/employee/attendance/list" id="attendanceLink">근태내역</a> -->
			<a href="/survey/receiveSurvey" id="surveyLink">설문</a>
			<!--<th:block class="authority"> 
				<a href="/admin/companyInfo/companyInfo">관리자 메뉴로 이동</a>
				
			</th:block>-->
		</div>
	</div>
    
    <script src="/js/employee/userMain/leftSideBar.js"></script>

	<script th:inline="javascript">
		const message = /*[[${message}]]*/ "전달 메세지";
		const manager = /*[[${session.loginEmp.generalManager}]]*/ "전체 관리자";
		
		if (message != null) {
			alert(message);
		}
	</script>
</body>
</html>