<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="	/css/common.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js"></script>
    <script src='https://fullcalendar.io/releases/fullcalendar/3.10.2/lib/moment.min.js'></script>
	<link rel="stylesheet" href="/css/employee/userMain/userMainTodo.css">
    <title>userMain</title>
</head>
<body>
	<div th:replace="~{employee/userMain/leftSideBar}"></div>
	<div id="userMainFullContainer">
		<div id="attendanceRegisterBtn">
			<button class="default-btn sapphire-btn" id="attdRegistBtn" type="button">출퇴근 등록</button>	
		</div>
		<div class="uiMainForm">

			<div id="calendarTodoContainer">
			
				<!--<div id="leftBarSpace">
				</div>-->
				
				<div id="rightSpace" >
					<div id="calendarSection">
						<i class="fa-solid fa-calendar-days todoIcon" id="calendarId"></i> <span class="todoSpan"  id="calendarSpan">회사 전체 일정</span> 
						<div id='calendar'></div>	
					</div>
	
					<div id="todoSection"> 		
						<i class="fa-solid fa-list todoIcon" id="todoIcon"></i>
						<span class="todoSpan" id="todoSpan">할 일</span>
	
						<div class="todoHead">
							<span>할 일</span>
							<span>기한</span>
						</div>
	
						<div class="todo" id="todo"></div>
	
						<div id="todoModal" class="modal">
							<div class="modal-content">
								<div id="closeArea">
									<span class="close">&times;</span>
								</div>
								
								<div class="todoContents">
									<div id="todoTitleDiv">
								<!--	<span id="todoheadSpan">할 일</span>-->	
										<span id="todoTitleSpan">Todo Title</span>
									</div>
									<div>
										<span>요청자</span>
										<span id="requestEmpSpan"></span>
									</div>
									<div>
										<span>담당자</span>
										<span id="inChargeEmpSpan"></span>
									</div>
									<div>
										<span>작성일</span>
										<span id="writeDate"></span>
									</div>
									<div>
										<span>기한</span>
										<span id="endDate"></span>
									</div>
									<div id="todoContentDiv">
										<span>내용</span>
										<span id="todoContentSpan">내용</span>
									</div>								
								</div>
							</div>
						</div>
					</div>
				</div>	
				
			</div>
			
			<div id="noticeContainer">
				<!--<div id="leftBarSpace">
				</div>-->
				<div id="noticeForm">
					<div>
						<i class="fa-solid fa-chalkboard todoIcon" ></i>
						<span class="todoSpan" >공지사항</span>		
					</div>
					
					<div class="noticeBoarder">

						<div th:if="${#lists.size(noticeList) > 0}">
							<div class="tBody" th:each="notic : ${noticeList}" th:object="${notic}"
								 th:onclick="|location.href='@{/employee/notice/noticeDetail/{noticeNo} (noticeNo=*{noticeNo})}'|">
								<div class="noticeContent" th:text="*{noticeTitle}">안녕하세요 공지사항입니다.</div>
								<div th:text="*{empName}">정희윤</div>
								<div th:text="*{noticeWriteDate}">2024-05-22</div>
							</div>
						</div>
						<div th:if="${#lists.size(noticeList) == 0}">
							<div class="noticeContent">등록된 공지사항이 없습니다.</div>
						</div>
<!--
							<div class="tBody" th:each="notic : ${noticeList}" th:object="${notic}"
							th:onclick="|location.href='@{/employee/notice/noticeDetail/{noticeNo} (noticeNo=*{noticeNo})}'|">
									<div class="noticeContent" th:text="*{noticeTitle}">안녕하세요 공지사항입니다.</div>
									<div th:text="*{empName}">정희윤</div>
									<div th:text="*{noticeWriteDate}">2024-05-22</div>
								
							</div>   -->

					</div>
					</div>
						
				</div>
			</div>

		</div>    
		

		
	</div>
	
	<script>

		

		
	
	
	</script>
	
	
	<script th:inline="javascript">
		const companyAllCalendarList = /*[[${session.companyAllCalendarList}]]*/ "회사 전체 리스트";
		const loginEmpTodoList = /*${session.loginEmpTodoList}*/ "투두리스트"; 

		document.addEventListener('DOMContentLoaded', function() {

			const showMain = companyAllCalendarList.map(event => ({
				title : event.calendarTitle,
				start : event.calendarStart,
				end : event.calendarEnd,
				color : event.calendarColor
			}));

			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				selectable: true,
				events: showMain,
				select: function(info) {
					location.href = "/calendar/calendar";
				},
				eventClick: function(info) {
					location.href = "/calendar/calendar";
				}
			});
			calendar.render();
		});

	</script>

	<script src="/js/employee/userMain/userMain.js"></script>
	
</body>
</html>