<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>근태 기준 관리</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/admin/attendance/attendanceStandardManagement.css">
</head>
<body>

	<div th:replace="~{admin/left/adminLeftSideBar}"></div>

    ㅇㅇ

    <input class="homeUi" value="attendanceSub1" hidden/>

    <script src="/js/admin/attendance/attendanceStandardManagement.js"></script>
</body>
</html>