<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 - 근태관리</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/admin/attendance/attendanceManager.css">
</head>
<body>
	<div th:replace="~{admin/left/adminLeftSideBar}"></div>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span>근태 관리</span></div>

        <div class="mainBtnList">
            <div style="margin-top: 30px;"></div>
        </div>

        <main>

            <!-- 왼쪽 영역(주소록 그룹) -->
            <div class="left">
                
                <ul>
                    <li class="company">
                        
                        <div class="li-hover">
                            <i class="fa-solid fa-angle-down"></i>
                            <div class="comp">
                                <i class="fa-solid fa-building"></i>
                                <span th:text="${session.loginEmp.comNm}"></span>
                            </div>
                        </div>

                        <ul>

                            <th:block th:if="${session.comAddrList}">

                                <li class="department" th:each="deptList : ${session.comAddrList}" th:object="${deptList}">
    
                                    <div class="li-hover">
                                        <i class="fa-solid fa-angle-down"></i>
                                        <div class="dept" th:data-dept-no="*{deptNo}">
                                            <i class="fa-solid fa-network-wired"></i>
                                            <span th:text="*{deptNm}" th:data-dept-no="*{deptNo}" id="deptNo"></span>
                                        </div>
                                    </div>
    
                                    <ul>
                                        
                                        <th:block th:if="*{teamList}">

                                            <li class="team" th:each="t : *{teamList}">
                                                <div class="li-hover"> 
                                                    <i class="fa-solid fa-angle-down"></i>
                                                    <div class="tim" th:data-team-no="|*{deptNo}/${t.teamNo}|">
                                                        <i class="fa-solid fa-people-group"></i>
                                                        <span th:text="${t.teamNm}" 
                                                              th:data-team-no="${t.teamNo}" 
                                                              th:data-dept-no="*{deptNo}" 
                                                              id="teamNo"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                        </th:block>
    
                                    </ul>
    
                                </li>
                                
                            </th:block>

                        </ul>

                    </li>
                    
                </ul>

            </div>

            <!-- 오른쪽 영역(구성원 목록) -->
            <div class="right">

                <!-- 검색창 -->
                <div>
                    <div class="default-line">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" placeholder="이름, 전화번호 검색">
                    </div>
                </div>

                <div>
                    <!-- 연도 -->
                    <select class="default-line year" name="" id="">
                        <option value="">2024</option>
                    </select>
                    
                    <!-- 월 -->
                    <select class="default-line month" name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                    </select>
                    
                    <!-- 일 -->
                    <select class="default-line day" name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                        <option value="">13</option>
                        <option value="">14</option>
                        <option value="">15</option>
                        <option value="">16</option>
                        <option value="">17</option>
                        <option value="">18</option>
                        <option value="">19</option>
                        <option value="">20</option>
                        <option value="">21</option>
                        <option value="">22</option>
                        <option value="">23</option>
                        <option value="">24</option>
                        <option value="">25</option>
                        <option value="">26</option>
                        <option value="">27</option>
                        <option value="">28</option>
                        <option value="">29</option>
                        <option value="">30</option>
                    </select>
                </div>
                
                <!-- 구성원 목록 -->
                <div class="employeeList">

                    <div>
                        <div><input id="wholeCheck" type="checkbox" class="mine"></div>
                        <div>부서 / 팀</div>
                        <div>이름</div>
                        <div>직급</div>
                        <div>이메일</div>
                        <div>전화번호</div>
                        <div>유형</div>
                    </div>

                    <!-- 회사별 조회 -->
                    <th:block th:if="${comList}" th:each="emp : ${comList}" th:object="${emp}">
                        <th:block th:if="*{empDelFl} == 'N'">
                            <div class="employee">
                                <div><input id="check" type="checkbox" class="mine"></div>
                                <div class="info">
                                    <div>
                                        <span th:if="*{deptNm}" th:text="|*{deptNm} / *{teamNm}|">운영팀</span>
                                        <span th:unless="*{deptNm}"></span>
                                    </div>
                                    <div><span th:text="|*{empLastName}*{empFirstName}|">박은별</span></div>
                                    <div><span th:text="*{positionNm}">팀장</span></div>
                                    <div><span th:text="*{empEmail}">park@naver.com</span></div>
                                    <div><span th:text="*{phone}">010-1234-1234</span></div>
                                    <input hidden th:value="*{empCode}" id="empCode">
                                    <input hidden th:value="*{managerType}" id="managerType">
                                    <div><span th:if="*{managerType} > 0">관리자</span></div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="*{empDelFl} == 'Y'">
                            <div class="employee" id="deleteEmployee2">
                                <div></div>
                                <div class="deleteInfo">
                                    <div>
                                        <span th:if="*{deptNm}" th:text="|*{deptNm} / *{teamNm}|">운영팀</span>
                                        <span th:unless="*{deptNm}"></span>
                                    </div>
                                    <div><span th:text="|*{empLastName}*{empFirstName}|">박은별</span></div>
                                    <div><span th:text="*{positionNm}">팀장</span></div>
                                    <div><span th:text="*{empEmail}">park@naver.com</span></div>
                                    <div><span th:text="*{phone}">010-1234-1234</span></div>
                                    <input hidden th:value="*{empCode}" id="empCode">
                                    <input hidden th:value="*{managerType}" id="managerType">
                                    <div id="underArea"><span id="restore">복구</span> / <span id="permanentDeletion">영구 삭제</span></div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>

                    <!-- 부서별 조회 -->
                    <th:block th:if="${deptList}" th:each="emp : ${deptList}" th:object="${emp}">
                        <th:block th:if="*{empDelFl} == 'N'">
                            <div class="employee">
                                <div><input id="check" type="checkbox" class="mine"></div>
                                <div class="info">
                                    <div>
                                        <span th:if="*{deptNm}" th:text="|*{deptNm} / *{teamNm}|">운영팀</span>
                                        <span th:unless="*{deptNm}"></span>
                                    </div>
                                    <div><span th:text="|*{empLastName}*{empFirstName}|">박은별</span></div>
                                    <div><span th:text="*{positionNm}">팀장</span></div>
                                    <div><span th:text="*{empEmail}">park@naver.com</span></div>
                                    <div><span th:text="*{phone}">010-1234-1234</span></div>
                                    <input hidden th:value="*{empCode}" id="empCode">
                                    <input hidden th:value="*{managerType}" id="managerType">
                                    <div><span th:if="*{managerType} > 0">관리자</span></div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="*{empDelFl} == 'Y'">
                            <div class="employee" id="deleteEmployee2">
                                <div></div>
                                <div class="deleteInfo">
                                    <div>
                                        <span th:if="*{deptNm}" th:text="|*{deptNm} / *{teamNm}|">운영팀</span>
                                        <span th:unless="*{deptNm}"></span>
                                    </div>
                                    <div><span th:text="|*{empLastName}*{empFirstName}|">박은별</span></div>
                                    <div><span th:text="*{positionNm}">팀장</span></div>
                                    <div><span th:text="*{empEmail}">park@naver.com</span></div>
                                    <div><span th:text="*{phone}">010-1234-1234</span></div>
                                    <input hidden th:value="*{empCode}" id="empCode">
                                    <input hidden th:value="*{managerType}" id="managerType">
                                    <div id="underArea"><span id="restore">복구</span> / <span id="permanentDeletion">영구 삭제</span></div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>

                    <!-- 팀별 조회 -->
                    <th:block th:if="${teamList}" th:each="emp : ${teamList}" th:object="${emp}">
                        <th:block th:if="*{empDelFl} == 'N'">
                            <div class="employee">
                                <div><input id="check" type="checkbox" class="mine"></div>
                                <div class="info">
                                    <div>
                                        <span th:if="*{deptNm}" th:text="|*{deptNm} / *{teamNm}|">운영팀</span>
                                        <span th:unless="*{deptNm}"></span>
                                    </div>
                                    <div><span th:text="|*{empLastName}*{empFirstName}|">박은별</span></div>
                                    <div><span th:text="*{positionNm}">팀장</span></div>
                                    <div><span th:text="*{empEmail}">park@naver.com</span></div>
                                    <div><span th:text="*{phone}">010-1234-1234</span></div>
                                    <input hidden th:value="*{empCode}" id="empCode">
                                    <input hidden th:value="*{managerType}" id="managerType">
                                    <div><span th:if="*{managerType} > 0">관리자</span></div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="*{empDelFl} == 'Y'">
                            <div class="employee" id="deleteEmployee2">
                                <div></div>
                                <div class="deleteInfo">
                                    <div>
                                        <span th:if="*{deptNm}" th:text="|*{deptNm} / *{teamNm}|">운영팀</span>
                                        <span th:unless="*{deptNm}"></span>
                                    </div>
                                    <div><span th:text="|*{empLastName}*{empFirstName}|">박은별</span></div>
                                    <div><span th:text="*{positionNm}">팀장</span></div>
                                    <div><span th:text="*{empEmail}">park@naver.com</span></div>
                                    <div><span th:text="*{phone}">010-1234-1234</span></div>
                                    <input hidden th:value="*{empCode}" id="empCode">
                                    <input hidden th:value="*{managerType}" id="managerType">
                                    <div id="underArea"><span id="restore">복구</span> / <span id="permanentDeletion">영구 삭제</span></div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>

                </div>

                <!-- 페이지네이션 -->
                <div class="pagination-area">
        
                    <!-- 회사별 조회 -->
                    <th:block th:if="${comList}">
                        <ul class="pagination" th:if="${pagination}" th:object="${pagination}">
                            <th:block th:if="${comList.size()} > 0">
                                <!-- 첫 페이지로 이동 -->
                                <li><a th:href="@{/admin/attendance(cp=1)}">&lt;&lt;</a></li>
            
                                <!-- 이전 목록 마지막 번호로 이동 -->
                                <li><a th:href="@{/admin/attendance(cp=*{prevPage})}">&lt;</a></li>
            
                                <!-- 특정 페이지로 이동 -->
                                <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                    
                                <!-- 현재 보고있는 페이지 -->
                                    <li th:if="${i} == *{currentPage}">
                                        <a class="current" th:text="${i}">1</a>
                                    </li>
                                    
                                    <!-- 보고있지 않은 페이지 -->
                                    <li th:unless="${i} == *{currentPage}">
                                        <a th:href="@{/admin/attendance(cp=${i})}" 
                                           th:text="${i}">2</a>
                                    </li>
            
                                </th:block>
            
                                <!-- 다음 목록 시작 번호로 이동 -->
                                <li><a th:href="@{/admin/attendance(cp=*{nextPage})}">&gt;</a></li>
            
                                <!-- 끝 페이지로 이동 -->
                                <li><a th:href="@{/admin/attendance(cp=*{maxPage})}">&gt;&gt;</a></li>
                            </th:block>
                        </ul>
                    </th:block>

                    <!-- 부서별 조회 -->
                    <th:block th:if="${deptList}">
                        <ul class="pagination" th:if="${pagination}" th:object="${pagination}">
                            <th:block th:if="${deptList.size()} > 0">
                                <!-- 첫 페이지로 이동 -->
                                <li><a th:href="@{/admin/attendance/deptList(deptNo=${deptNo}, cp=1)}">&lt;&lt;</a></li>
            
                                <!-- 이전 목록 마지막 번호로 이동 -->
                                <li><a th:href="@{/admin/attendance/deptList(deptNo=${deptNo}, cp=*{prevPage})}">&lt;</a></li>
            
                                <!-- 특정 페이지로 이동 -->
                                <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                    
                                <!-- 현재 보고있는 페이지 -->
                                    <li th:if="${i} == *{currentPage}">
                                        <a class="current" th:text="${i}">1</a>
                                    </li>
                                    
                                    <!-- 보고있지 않은 페이지 -->
                                    <li th:unless="${i} == *{currentPage}">
                                        <a th:href="@{/admin/attendance/deptList(deptNo=${deptNo}, cp=${i})}" 
                                           th:text="${i}">2</a>
                                    </li>
            
                                </th:block>
            
                                <!-- 다음 목록 시작 번호로 이동 -->
                                <li><a th:href="@{/admin/attendance/deptList(deptNo=${deptNo}, cp=*{nextPage})}">&gt;</a></li>
            
                                <!-- 끝 페이지로 이동 -->
                                <li><a th:href="@{/admin/attendance/deptList(deptNo=${deptNo}, cp=*{maxPage})}">&gt;&gt;</a></li>
                            </th:block>
                        </ul>
                    </th:block>

                    <!-- 팀별 조회 -->
                    <th:block th:if="${teamList}">
                        <ul class="pagination" th:if="${pagination}" th:object="${pagination}">
                            <th:block th:if="${teamList.size()} > 0">
                                <!-- 첫 페이지로 이동 -->
                                <li><a th:href="@{/admin/attendance/teamList(teamNo=${teamNo}, cp=1)}">&lt;&lt;</a></li>
            
                                <!-- 이전 목록 마지막 번호로 이동 -->
                                <li><a th:href="@{/admin/attendance/teamList(teamNo=${teamNo}, cp=*{prevPage})}">&lt;</a></li>
            
                                <!-- 특정 페이지로 이동 -->
                                <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                    
                                <!-- 현재 보고있는 페이지 -->
                                    <li th:if="${i} == *{currentPage}">
                                        <a class="current" th:text="${i}">1</a>
                                    </li>
                                    
                                    <!-- 보고있지 않은 페이지 -->
                                    <li th:unless="${i} == *{currentPage}">
                                        <a th:href="@{/admin/attendance/teamList(teamNo=${teamNo}, cp=${i})}" 
                                           th:text="${i}">2</a>
                                    </li>
            
                                </th:block>
            
                                <!-- 다음 목록 시작 번호로 이동 -->
                                <li><a th:href="@{/admin/attendance/teamList(teamNo=${teamNo}, cp=*{nextPage})}">&gt;</a></li>
            
                                <!-- 끝 페이지로 이동 -->
                                <li><a th:href="@{/admin/attendance/teamList(teamNo=${teamNo}, cp=*{maxPage})}">&gt;&gt;</a></li>
                            </th:block>
                        </ul>
                    </th:block>
                    
                </div>

            </div>

        </main>

    </section>

    <input class="homeUi" value="attendanceSub" hidden/>

    <!-- 드롭다운 -->
    <div class="dropdown-menu" id="contextMenu">
        <div id="addDeptgroup">그룹 추가</div>
        <!-- <div id="addTeamgroup">팀 추가</div> -->
        <div id="groupNameChange">그룹명 변경</div>
        <div id="deleteGroup">그룹 삭제</div>
        <div id="addAll">전부 추가</div>
    </div>

    <script src="/js/admin/attendance/attendanceManager.js"></script>
    <script th:inline="javascript">
        const loginEmpCode = /*[[${session.loginEmp.empCode}]]*/ "로그인 사원 식별키";
        const comNo = /*[[${session.loginEmp.comNo}]]*/ "회사 식별키";
    </script> 
</body>
</html>