<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 - 근태수정 요청내역</title>
    
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/admin/attendance/attendanceRequestManager.css">
</head>
<body>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span>근태 수정 요청 내역</span></div>

        <main>

            <div>
                <!-- 연도 -->
                <select class="default-line year" name="" id="">
                    <option value="">2024</option>
                </select>
                
                <!-- 월 -->
                <select class="default-line month" name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                    <option value="">7</option>
                    <option value="">8</option>
                    <option value="">9</option>
                    <option value="">10</option>
                    <option value="">11</option>
                    <option value="">12</option>
                </select>

                <!-- 일 -->
                <select class="default-line day" name="" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                    <option value="">7</option>
                    <option value="">8</option>
                    <option value="">9</option>
                    <option value="">10</option>
                    <option value="">11</option>
                    <option value="">12</option>
                    <option value="">13</option>
                    <option value="">14</option>
                    <option value="">15</option>
                    <option value="">16</option>
                    <option value="">17</option>
                    <option value="">18</option>
                    <option value="">19</option>
                    <option value="">20</option>
                    <option value="">21</option>
                    <option value="">22</option>
                    <option value="">23</option>
                    <option value="">24</option>
                    <option value="">25</option>
                    <option value="">26</option>
                    <option value="">27</option>
                    <option value="">28</option>
                    <option value="">29</option>
                    <option value="">30</option>
                </select>
            </div>
    
            <div>
    
                <div>요청내역</div>
                <div>승인내역</div>
                <div></div>
    
            </div>
    
            <div>
    
                <div class="head">
    
                    <div>부서</div>
                    <div>이름</div>
                    <div>직급</div>
                    <div>전화번호</div>
                    <div>근태정보</div>
                    <div>근태기록시간</div>
                    <div>수정요청시간</div>
                    <div>사유</div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>
    
                <div class="body">

                    <div>운영팀</div>
                    <div>임성혁</div>
                    <div>대리</div>
                    <div>010-1234-1234</div>
                    <div>지각</div>
                    <div>09:02 ~ 18:00</div>
                    <div>08:57 ~ 18:00</div>
                    <div><button class="default-btn glucose-btn">상세조회</button></div>
    
                </div>

            </div>

             <!-- 페이지네이션 -->
             <div class="pagination-area">
        
                <ul class="pagination">

                    <!-- 첫 페이지로 이동 -->
                    <li><a>&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a>&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block>
                        
                    <!-- 현재 보고있는 페이지 -->
                        <li>
                            <a class="current" >1</a>
                        </li>
                        
                        <!-- 보고있지 않은 페이지 -->
                        <li>
                            <a>2</a>
                        </li>

                    </th:block>

                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a>&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a>&gt;&gt;</a></li>
                </ul>
            </div>

        </main>
        

        <!-- <div class="modal-content2">
            <div class="contentHead2">
                <div>
                    <span id="ApprovalRequestBtn2">요청내역</span>
                    <span id="RequestDetailsBtn2">승인내역</span>
                </div>
            </div>
    
            <div class="contentBody2">
                <div>
                    <span>날짜</span>
                    <span>근태정보</span>
                    <span>근태기록시간</span>
                    <span>수정요청시간</span>
                    <span>승인여부</span>
                </div>
    
                <div class="RequestList">
                    <div class="RequestDetail">
                        <span>2024-05-26</span>
                        <span>지각</span>
                        <span>09:04~18:00</span>
                        <span>08:55~18:00</span>
                        <span><label class="default-label proceeding">진행중</label></span>
                    </div>
    
                    <div class="RequestDetail">
                        <span>2024-05-26</span>
                        <span>지각</span>
                        <span>09:04~18:00</span>
                        <span>08:55~18:00</span>
                        <span><label class="default-label reject">반려</label></span>
                    </div>
                    
                    <div class="RequestDetail">
                        <span>2024-05-26</span>
                        <span>지각</span>
                        <span>09:04~18:00</span>
                        <span>08:55~18:00</span>
                        <span><label class="default-label complete">승인</label></span>
                    </div>
    
                </div>
    
            </div>
    
        </div> -->

    </section>

    <script src="/js/admin/attendance/attendanceRequestManager.js"></script>
</body>
</html>