<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/admin/addr/addEmployeeInBulk.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<div th:replace="~{admin/left/adminLeftSideBar}"></div>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        
        <div class="title">
            <span>구성원 일괄 추가</span>
            <i class="fa-solid fa-question" id="menual"></i>
            <span>│</span>
            <span id="backPage">이전으로 돌아가기</span>
        </div>

        <div class="accordion">
            <div class="accordion-item">
                <button class="accordion-header" type="button">1. 비밀번호 생성 방식</button>
                <div class="accordion-content type1">
                    <p>비밀번호 생성 방식을 선택해주세요.</p>
                    <div>
                        <div>
                            <input type="radio" name="createType" id="auto">
                            <label for="auto">자동으로 생성</label>
                        </div>
                        <div>
                            <input type="radio" name="createType" id="admin">
                            <label for="admin">관리자가 등록</label>
                        </div>
                        <!-- <div>
                            <input type="radio" name="createType" id="self">
                            <label for="self">구성원이 직접 등록</label>
                        </div> -->
                    </div>
                    <button class="default-btn sapphire-btn" id="next1" type="button">다음</button>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-header" type="button">2. 파일 등록</button>
                <div class="accordion-content type2">
                    <p>엑셀 파일을 통해 구성원 일괄 추가를 해보세요</p>
                    <p>.xlsx .xls 형식의 파일만 업로드 가능합니다.</p>
                    <p>(일부 버전의 엑셀 파일은 업로드가 되지 않을 수도 있습니다.)</p>
                    <a href="/excel/sample/CoWork_sample.xlsx" download id="sample">
                        <i class="fa-solid fa-file-excel"></i>
                        <span id="sampleText">샘플 다운로드</span>
                    </a>
                    <form id="fileUpload">
                        <input type="file" id="fileInput" name="excel" accept=".xls, .XLSX"> <!-- 추후 디벨롭 사항으로 .csv 파일도 다루기 -->
                        <div id="dragAndDrop">
                            <i class="fa-sharp fa-regular fa-square-plus"></i>
                            <span id="fileName">마우스로 파일을 끌어오거나 직접 선택해 주세요.</span>
                            <label for="fileInput" id="uploadBtn">파일 선택</label>
                        </div>
                        <button class="default-btn blur" id="next2" type="button">다음</button>
                    </form>
                </div>
            </div>

            <div class="accordion-item">
                <button class="accordion-header" type="button">3. 구성원 일괄 추가</button>
                <div class="accordion-content type3">
                    <div class="subBtnDiv">
                        <button class="default-btn sapphire-btn" id="deleteBtn">삭제</button>
                    </div>
                    <div class="employeeList">
                        <!-- <div class="head">
                            <div><input type="checkbox"></div>
                            <div>성</div>
                            <div>이름</div>
                            <div>ID</div>
                            <div>비밀번호</div>
                            <div>휴대폰 번호</div>
                            <div>개인 이메일</div>
                            <div>생일</div>
                            <div>부서</div>
                            <div>팀</div>
                            <div>직급</div>
                            <div>계약 형태</div>
                            <div>근무처</div>
                            <div>내선 번호</div>
                            <div>입사일</div>
                            <div>사번</div>
                        </div>
                        <div class="employee">
                            <div><input type="checkbox"></div>
                            <div>임</div>
                            <div>성혁</div>
                            <div>limbit</div>
                            <div></div>
                            <div>휴대폰 번호</div>
                            <div>개인 이메일</div>
                            <div>생일</div>
                            <div>부서</div>
                            <div>팀</div>
                            <div>직급</div>
                            <div>계약 형태</div>
                            <div>근무처</div>
                            <div>내선 번호</div>
                            <div>입사일</div>
                            <div>사번</div>
                        </div> -->
                    </div>
                    <div> <!-- class blur 나중에 조건 충족했을 시 sapphire-btn 로 변경 -->
                        <button class="default-btn blur" id="addInBulk" type="button">일괄 추가</button>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <p>이전 단계를 모두 완료한 뒤 다음 단계를 진행해 주세요.</p>
            <div id="btnDiv">
                <button class="default-btn sapphire-btn" id="confirmBtn" type="button">확인</button>
            </div>
        </div>
    </div>

    <div id="myModal2" class="modal2">
        <div class="modal-content2">
            <p>파일 형식이 적합하지 않습니다.</p>
            <p>XLS(XLSX) 파일로 등록해 주세요.</p>
            <div id="btnDiv2">
                <button class="default-btn sapphire-btn" id="confirmBtn2" type="button">확인</button>
            </div>
        </div>
    </div>

    <div id="myModal3" class="modal3">
        <div class="modal-content3">
            <p>비밀번호 생성 방식을 변경하시겠습니까?</p>
            <p>모든 과정이 초기화 되어 파일을 다시 등록해야 합니다.</p>
            <div id="btnDiv3">
                <button class="default-btn sapphire-btn" id="confirmBtn3" type="button">확인</button>
                <button class="default-btn sapphire-btn" id="cancelBtn3" type="button">취소</button>
            </div>
        </div>
    </div>

    <div id="myModal4" class="modal4">
        <div class="modal-content4">
            <p>파일을 교체하시겠습니까?</p>
            <p>편집중인 내용이 삭제되고 새 파일로 교체됩니다.</p>
            <div id="btnDiv4">
                <label for="fileInput" class="default-btn sapphire-btn"  id="confirmBtn4" type="button">확인</label>
                <button class="default-btn sapphire-btn" id="cancelBtn4" type="button">취소</button>
            </div>
        </div>
    </div>

    <div id="myModal5" class="modal5">
        <div class="modal-content5">
            <p>구성원을 일괄 추가하시겠습니까?</p>
            <p>추가한 구성원의 정보는 추후 수정이 가능합니다.</p>
            <div id="btnDiv5">
                <button class="default-btn sapphire-btn"  id="confirmBtn5" type="button">확인</button>
                <button class="default-btn sapphire-btn" id="cancelBtn5" type="button">취소</button>
            </div>
        </div>
    </div>

    <div id="myModal6" class="modal6">
        <div class="modal-content6">
            <p>구성원 추가 완료</p>
            <p>등록된 해당 계정으로 구성원이 로그인 하여 서비스를 이용할 수 있도록 이메일을 통해 계정 정보를 전달해 주세요.</p>
            <div class="list">

                <div class="list-head">
                    <div><input type="checkbox" class="wholeCheck2"></div>
                    <span>전체
                        <span class="wholeCount">0</span>
                        <span>│</span>
                    </span>
                    <span>선택<span class="selectCount">0</span></span>
                </div>

                <div class="list-content">
                    <!-- <div class="listOne">
                        <div><input type="checkbox" class="check2"></div>
                        <div>
                            <div><span>임성혁</span>/<span>limbit</span></div>
                            <div>
                                <input type="text" class="default-line sendEmail" autocomplete="off" spellcheck="false">
                                <span class="emailMessage">이메일을 작성해주세요.</span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div id="btnDiv6">
                <button class="default-btn blur" id="confirmBtn6" type="button">보내기</button>
                <button class="default-btn sapphire-btn" id="cancelBtn6" type="button">닫기</button>
            </div>
        </div>
    </div>

    <div id="myModal7" class="modal7">
        <div class="modal-content7">
            <p>파일 내 변경사항이 존재합니다.</p>
            <p>변경된 파일로 다시 업로드 해주세요.</p>
            <div id="btnDiv7">
                <button class="default-btn sapphire-btn" id="confirmBtn7" type="button">확인</button>
            </div>
        </div>
    </div>

    <div id="myModal8" class="modal8">
        <div class="modal-content8">
            <p>로그아웃 상태입니다.</p>
            <p>메인페이지에서 로그인을 다시 진행해주세요.</p>
            <div id="btnDiv8">
                <button class="default-btn sapphire-btn" id="confirmBtn8" type="button">확인</button>
            </div>
        </div>
    </div>

    <div id="myModal9" class="modal9">
        <div class="modal-content9">
            <p>구성원 일괄 추가 매뉴얼</p>
            <div id="info2">
            <p id="title">1. 비밀번호 생성 방식</p>
<pre id="sub">
    - 자동 생성 : 랜덤한 비밀번호를 구성원 계정에 부여합니다.
    - 관리자 등록 : 관리자가 직접 입력한 비밀번호를 구성원이 사용합니다.
</pre>
            <p id="title">2. 파일 등록</p>
<pre id="sub">
- 샘플 다운로드 후 양식에 맞게 구성원 정보 입력하세요.
- 필수 입력 정보 : 성, 이름, ID
- 부서, 팀, 직급 : 필수 입력은 아니나 엑셀에 작성한 경우에는 서비스에 등록한 회사 내 
    부서명와 팀명이 일치해야 합니다. 만약 회사 내 생성된 부서와 팀이 없을 경우 부서, 
    팀 정보 입력이 불가능합니다.
- .xlsx .xls 형식의 엑셀 파일만 업로드 가능합니다.
- 일부 버전의 엑셀 파일은 업로드가 되지 않을 수도 있습니다. 따라서 샘플 파일 내에서만
    수정 및 업로드를 권장드립니다.
- 파일을 업로드 하는 과정에서 에러가 발생할 수도 있습니다. 업로드가 되지 않을 때는 페
    이지를 새로고침 후 다시 업로드 해주세요.
- 샘플 파일의 양식을 훼손 시 업로드가 불가합니다. 양식에 맞춰 작성 후 업로드 해주세요.
</pre>
            <p id="title">2. 구성원 일괄 추가</p>
<pre id="sub">
- 유효성 검사 항목 : 성, 이름 ID, 비밀번호(관리자가 등록 선택 시), 생일, 부서, 팀, 
    직급, 입사일
- 유효성 통과되지 못한 행은 일괄 추가 불가능 -> 일괄 추가 버튼 비활성화
- 유효성 통과된 행에 한해서 일괄 추가 버튼 클릭 시 계정이 생성되고, 일괄 추가 리스트
    에서 해당 구성원의 행은 사라진다. 생성된 계정의 정보를 엑셀에 입력한 이메일로 전
    송 여부를 선택하는 창이 열린다. 만약 엑셀에서 입력하지 않았다면 해당 화면에서 
    입력 후 전송을 진행합니다.
- 해당 구성원이 사용할 아이디와 비밀번호가 전송됩니다.
- 이후 더 추가하고자할 구성원 있다면 일괄 추가를 계속해서 진행합니다.
</pre>
            </div>
            <div id="btnDiv9">
                <button class="default-btn sapphire-btn" id="confirmBtn9" type="button">닫기</button>
            </div>
        </div>
    </div>
    
    <input class="homeUi" value="addrSub" hidden/>

    <script src="/js/admin/addr/addEmployeeInBulk.js"></script>
    <script th:inline="javascript">
        const comNo = /*[[${session.loginEmp.comNo}]]*/ '';
        const comAddrList = /*[[${session.comAddrList}]]*/ '';
        const positionList = /*[[${session.positionList}]]*/ '';
        const empLastName = /*[[${session.loginEmp.empLastName}]]*/ '';
        const empFirstName = /*[[${session.loginEmp.empFirstName}]]*/ '';
        const domain = /*[[${session.loginEmp.domain}]]*/ '';
        const empList = /*[[${session.empList}]]*/ '';
    </script>
</body>
</html>
