<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 -주소록 관리</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/admin/addr/adminAddr.css">
</head>
<body>
	<div th:replace="~{admin/left/adminLeftSideBar}"></div>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span>주소록 관리</span></div>

        <div class="subBtnList">
            <button class="default-btn glucose-btn" id="backPage">이전으로 돌아가기</button>
            <button class="default-btn glucose-btn" id="saveGroup">그룹 저장</button>
            <button class="default-btn glucose-btn" id="updateEmployeePage">수정</button>
            <button class="default-btn glucose-btn" id="deleteEmployee">삭제</button>
        </div>

        <main>

            <!-- 왼쪽 영역(주소록 그룹) -->
            <div class="left">
                
                <ul>
                    <li class="company">
                        
                        <div class="li-hover">
                            <i class="fa-solid fa-angle-down"></i>
                            <div class="comp">
                                <i class="fa-solid fa-building"></i>
                                <span th:text="${session.loginEmp.comNm}"></span>
                            </div>
                        </div>

                        <ul>    

                            <th:block th:if="${session.comAddrList}">

                                <li class="department" th:each="deptList : ${session.comAddrList}" th:object="${deptList}">
    
                                    <div class="li-hover">
                                        <i class="fa-solid fa-angle-down"></i>
                                        <div class="dept" th:data-dept-no="*{deptNo}">
                                            <i class="fa-solid fa-network-wired"></i>
                                            <span th:text="*{deptNm}"></span>
                                        </div>
                                    </div>
    
                                    <ul>
                                        
                                        <th:block th:if="*{teamList}">

                                            <li class="team" th:each="t : *{teamList}">
                                                <div class="li-hover"> 
                                                    <i class="fa-solid fa-angle-down"></i>
                                                    <div class="tim" th:data-team-no="|*{deptNo}/${t.teamNo}|">
                                                        <i class="fa-solid fa-people-group"></i>
                                                        <span th:text="${t.teamNm}"></span>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                        </th:block>
    
                                    </ul>
    
                                </li>
                                
                            </th:block>

                        </ul>

                    </li>
                    
                </ul>

            </div>

            <!-- 오른쪽 영역(구성원 정보 상세 조회 영역) -->
            <div class="employeeDetail" th:if="${session.empDetail}" th:object="${session.empDetail}">
    
                <div class="detailHeader">
                    <!-- 프로필 사진 -->
                    <div>
                        <img src="" alt="">
                    </div>
            
                    <!-- 이름, 부서, 직급, 아이디 -->
                    <div>
                        <span th:text="|*{empLastName}*{empFirstName}|">임성혁</span>
                        <span th:text="|*{teamNm} / *{positionNm}|">운영팀 / 대리</span>
                        <span th:text="*{empId}">202405240001@company</span>
                    </div>
                </div>
                
                <div class="detailBody">
                    <div>
            
                        <div>
                            <span>ID</span>
                            <span th:text="*{empId}">202405240001</span>
                        </div>
            
                        <div>
                            <span>성</span>
                            <span th:text="*{empLastName}">임</span>
                        </div>
            
                        <div>
                            <span>이름</span>
                            <span th:text="*{empFirstName}">성혁</span>
                        </div>
            
                        <div>
                            <span>휴대번호</span>
                            <span th:text="*{phone}">010-2770-6055</span>
                        </div>
            
                        <div>
                            <span>이메일</span>
                            <span th:text="*{empEmail}">limbit@naver.com</span>
                        </div>
            
                        <div>
                            <span>생일</span>
                            <span th:text="*{empBirth}">1995-05-16</span>
                        </div>
            
                        <div>
                            <span>입사일</span>
                            <span th:text="*{hireDate}">2024-05-24</span>
                        </div>
            
                    </div>
            
                    <div>
                        
                        <div>
                            <span>사번</span>
                            <span th:text="*{empNo}">없음</span>
                        </div>
            
                        <div>
                            <span>부서</span>
                            <span th:text="*{deptNm}">본부</span>
                        </div>
            
                        <div>
                            <span>팀</span>
                            <span th:text="*{teamNm}">운영팀</span>
                        </div>
            
                        <div>
                            <span>직급</span>
                            <span th:text="*{positionNm}">대리</span>
                        </div>
            
                        <div>
                            <span>근무처</span>
                            <span th:text="*{workPlace}">1층 지원 데스크</span>
                        </div>
            
                        <div>
                            <span>계약 형태</span>
                            <span th:text="*{contractType}">정규직</span>
                        </div>
            
                        <div>
                            <span>내선 번호</span>
                            <span th:text="*{empTel}">02-000-0000</span>
                        </div>
            
                    </div>
                </div>
            
            </div>

        </main>

    </section>

    <!-- 드롭다운 -->
    <div class="dropdown-menu" id="contextMenu">
        <div id="addDeptgroup">부서 추가</div>
        <div id="addTeamgroup">팀 추가</div>
        <div id="groupNameChange">그룹명 변경</div>
        <div id="deleteGroup">그룹 삭제</div>
    </div>

    <script src="/js/admin/addr/adminAddr.js"></script>
    <script th:inline="javascript">
        const loginEmpCode = /*[[${session.loginEmp.empCode}]]*/ "로그인 사원 식별키";
        const comNo = /*[[${session.loginEmp.comNo}]]*/ "회사 식별키";
        const backPageLocation = /*[[${session.backPageLocation}]]*/ "뒤로 돌아갈 주소";
    </script> 
</body>
</html>