<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/admin/left/adminLeftSideBar.css">
	<link rel="stylesheet" href="/css/employee/userMain/leftSideBar.css">
    <title>leftSideBar</title>
	<th:block th:replace="~{common/common}"></th:block>
</head>
<body>
	
	
	<div id="leftSideBarMini">
		<div>
			<i class="fa-solid fa-circle-chevron-right" id="showLeftSideBarBtn"></i>
		</div>
	</div>

    <div id="leftSideBar">
		
		<div id="closeLeftSideBar">
			<i class="fa-solid fa-x"></i>
		</div>

		<!-- 로고 부분 -->
		<div th:if="${session.loginEmp.comLogo}" id="CompanyLogo">
			<img th:src="${session.loginEmp.comLogo}" id="companyLogoImg">
		</div>
		<div th:unless="${session.loginEmp.comLogo}" id="CompanyLogo">
			<!--<img th:src="${session.loginEmp.comLogo}" id="companyLogoImg">-->
			<a href="/adminMain">
				관리자 메인페이지로 이동
			</a>
		</div>
			
		<!--0622 재준 명함 시작 -->

	
		<div style="width: 100%; display: flex; justify-content: flex-end; margin-right: 0.7vw; margin-bottom: 1.5vh; margin-top: 1vh;" >
		<th:block th:if="${session.loginEmp.businessCardFl == 1}" style="width:20vw;">
			<div id="templateDesignOne" style="
			width: 15vw;
			height: 130px;
			display: flex; 
			justify-content: center;
			align-items: center;
			">
				<div id="firstTemplateDesign"
				style="
				width: 12vw; 
				height: 130px; 
				background-color: #82A6CB;
				border-radius: 5px;
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
				"
				>
					<!-- ------------------- 첫번째 명함 시작 ---------------------- -->
					<div class="test" 
					style="display: flex; 
					justify-content: center;  
					flex-direction: column;
					width: 100%; 
					height: 100%; 
					border-top-left-radius: 15%;
					border-bottom-right-radius: 15%;
					background-color: white;
					border: 1px solid white;
					">
						<!-- 이미지 부분 시작 -->
						<div style="display:flex; justify-content: flex-end; width: 100%; ">
							<img th:if="${session.loginEmp.comLogo} != null" th:src="${session.loginEmp.comLogo}" class="comLogoImg" 
															style="width: 60px;
																   height: 60px;
																   border-radius: 5px;
																   margin-right: 20px;
																   object-fit: contain; 
																   object-position: center; 
																   ">
							<img th:if="${session.loginEmp.comLogo} == null" src="/images/cowork_favicon.png" class="comLogoImg" 
								style="width: 60px;
									   height: 60px;
									   border-radius: 5px;
									   margin-right: 20px;
									   object-fit: contain; 
									   object-position: center; 
							   ">		
						</div>
						<!-- 이미지 부분 끝 -->
						
						<!-- 글 부분 시작 -->
						<div style="margin-top: 5px; 
									margin-left: 20px;
									display: flex; 
									justify-content: center;  
									flex-direction: column;
									">
							<!-- 이름 + 직급 -->
							<div style="display: flex;
							 			color:#214177;">
								<div th:text="${session.loginEmp.empLastName} + ${session.loginEmp.empFirstName}"
									 style="color:#214177; font-size:12px;"
								></div>
								&nbsp;|	&nbsp;
								<div th:text="${session.loginEmp.positionNm}"></div>							
							</div>
							<!-- 핸드폰 -->
							<div style="display: flex; 
										margin-top: 3px; 
										align-items: center;
										">
								<i class="fa-solid fa-phone-volume" 
									style="color:#214177;	font-size:12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.phone}" 
								style="margin-top:5px; color:#214177;	font-size:12px;"></div>
							</div>
							<!-- 이메일 -->
							<div style="display: flex; align-items: center;">
								<i class="fa-solid fa-at" 
								style="color:#214177;	font-size:12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.empEmail}"	style="margin-top:5px; font-size:12px; color:#214177;"></div>
							</div>
						</div>		
						<!-- 글 부분 끝 -->
					</div>
					<!-- ------------------- 첫번째 명함 끝 ---------------------- -->
				</div>
			</div>	
		</th:block>
		<th:block th:if="${session.loginEmp.businessCardFl} == 2" style="width:20vw;">
			<div id="templateDesignTwo" style="
			width: 15vw;
			height: 130px;
			display: flex; 
			justify-content: center;
			align-items: center;
			">
				<div id="secondTemplateDesign" style="
				width: 12vw; 
				height: 130px; 
				background-color:  #FF6F61;
				border-radius: 5px;
				box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
				">
					<!-- ------------------- 두번째 명함 시작 ---------------------- -->
					<div class="test" 
					style="display: flex; 
					justify-content: center;  
					flex-direction: column;
					width: 100%; 
					height: 100%; 
					border-top-left-radius: 15%;
					border-bottom-right-radius: 15%;
					background-color: white;
					border: 1px solid white;">
						<!-- 이미지 부분 시작 -->
						<div style="display:flex; justify-content: flex-end; width: 100%; overflow:hidden;">
							<img th:if="${session.loginEmp.comLogo} != null" th:src="${session.loginEmp.comLogo}" class="comLogoImg" 
															style="width: 60px;
																   height: 60px;
																   border-radius: 5px;
																   margin-right: 20px;
																   object-fit: contain; 
																   object-position: center; 
																   ">
							<img th:if="${session.loginEmp.comLogo} == null" src="/images/cowork_favicon.png" class="comLogoImg" 
								style="width: 60px;
									   height: 60px;
									   border-radius: 5px;
									   margin-right: 20px;
									   object-fit: contain; 
									   object-position: center; 
							   ">		
						</div>
						<!-- 이미지 부분 끝 -->
						
						<!-- 글 부분 시작 -->
						<div style="margin-top: 5px; 
									margin-left: 20px;
									display: flex; 
									justify-content: center;  
									flex-direction: column;
									">
							<!-- 이름 + 직급 -->
							<div style="display: flex;
							 			color:#214177;">
								<div th:text="${session.loginEmp.empLastName} + ${session.loginEmp.empFirstName}"
									 style="color:#214177; font-size: 12px;"
								></div>
								&nbsp;|	&nbsp;
								<div th:text="${session.loginEmp.positionNm}"
								style="font-size: 12px;"
								></div>							
							</div>
							<!-- 핸드폰 -->
							<div style="display: flex; 
										margin-top: 3px; 
										align-items: center;">
								<i class="fa-solid fa-phone-volume" 
									style="color:#214177; font-size: 12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.phone}" 
								style="margin-top:5px; color:#214177; font-size: 12px;"></div>
							</div>
							<!-- 이메일 -->
							<div style="display: flex; align-items: center;">
								<i class="fa-solid fa-at" 
								style="color:#214177; font-size: 12px;"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.empEmail}"	style="margin-top:5px;	font-size: 12px;					color:#214177;"></div>
							</div>
						</div>		
						<!-- 글 부분 끝 -->
					</div>
					<!-- ------------------- 두번째 명함 끝 ---------------------- -->
				</div>
			</div>
		</th:block>
		<th:block th:if="${session.loginEmp.businessCardFl} == 3">
			<div id="templateDesignThree" style="
			width: 15vw;
			height: 130px;
			display: flex; 
			justify-content: center;
			align-items: center;
			">
				<div id="thirdTemplateDesign" style="
					width: 12vw; 
					height: 130px; 
					background-color: #6A5ACD;
					border-radius: 5px;
					box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
	
				">
					<!-- ------------------- 세번째 명함 시작 ---------------------- -->
					<div class="test" 
					style="display: flex; 
					justify-content: center;  
					flex-direction: column;
					width: 100%; 
					height: 100%; 
					border-top-left-radius: 15%;
					border-bottom-right-radius: 15%;
					background-color: white;
					border: 1px solid white;">
						<!-- 이미지 부분 시작 -->
						<div style="display:flex; justify-content: flex-end; width: 100%; overflow:hidden; ">
							<img th:if="${session.loginEmp.comLogo} != null" th:src="${session.loginEmp.comLogo}" class="comLogoImg" 
															style="width: 60px;
																   height: 60px;
																   border-radius: 50%;
																   margin-right: 20px;
																   object-fit: contain; 
																   object-position: center; 
																   ">
							<img th:if="${session.loginEmp.comLogo} == null" src="/images/cowork_favicon.png" class="comLogoImg" 
								style="width: 60px;
									   height: 60px;
									   border-radius: 50%;
									   margin-right: 20px;
									   object-fit: contain; 
									   object-position: center; 
							   ">	
						</div>
						<!-- 이미지 부분 끝 -->
						
						<!-- 글 부분 시작 -->
						<div style="margin-top: 5px; 
									margin-left: 20px;
									display: flex; 
									justify-content: center;  
									flex-direction: column;
									">
							<!-- 이름 + 직급 -->
							<div style="display: flex;
							 			color:#214177;">
								<div th:text="${session.loginEmp.empLastName} + ${session.loginEmp.empFirstName}"
									 style="color:#214177; font-size: 12px;"
								></div>
								&nbsp;|	&nbsp;
								<div th:text="${session.loginEmp.positionNm}" style="font-size: 12px;"></div>							
							</div>
							<!-- 핸드폰 -->
							<div style="display: flex; 
										margin-top: 3px; 
										align-items: center;
										font-size: 12px;
										">
								<i class="fa-solid fa-phone-volume" 
									style="color:#214177;
									font-size: 12px;
									"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.phone}" 
								style="margin-top:5px; color:#214177;
								font-size: 12px;
								"></div>
							</div>
							<!-- 이메일 -->
							<div style="display: flex; align-items: center;">
								<i class="fa-solid fa-at" 
								style="color:#214177;
								font-size: 12px;
								"></i>
								&nbsp; &nbsp;
								<div th:text="${session.loginEmp.empEmail}"						style="margin-top:5px;	color:#214177;								font-size: 12px;"></div>
							</div>
						</div>		
						<!-- 글 부분 끝 -->
					</div>
					<!-- ------------------- 세번째 명함 끝 ---------------------- -->
				</div>
			</div>
		</th:block>
		</div>
		
		<!--0622 재준 명함 끝  -->		
		
		
		<!--<div id="businessCard">
			<div></div>
		</div> -->
		
		<div style="display: flex; justify-content: space-evenly; width:80%;">

			<a href="/user/logout" id="logOutLink">로그아웃</a>			
		</div>
		
		<!-- 직급 관리 -->
		<div class="dropdown" id="positionMenu" th:if="${session.loginEmp.generalManager == 1}">
			<button class="dropbtn" onclick="location.href='/position/positionMain'">직책 관리</button>
		</div>
		<!-- 직급 관리 -->
		<!-- 권한 관리 -->
		<div class="dropdown" id="authorityMenu" th:if="${session.loginEmp.generalManager == 1}">
			<button class="dropbtn" onclick="location.href='/authority/authorityManage'">권한 관리</button>
		</div>
		<!-- 권한 관리 -->
		
		<!-- 회사 관리 -->
		<div class="dropdown" id="companyMenu" th:if="${session.loginEmp.generalManager == 1}">
			<button class="dropbtn" onclick="location.href='/admin/companyInfo/companyInfo'">회사 정보</button>
			<!--<div class="dropdownContent">
				<a href="#">	1 </a>
			</div>-->
		</div>		
		

		<!-- 근태 관리 -->
		<!-- <div class="dropdown" id="attendanceMenu">
		    <button class="dropbtn">근태 관리</button>
		    <div class="dropdownContent">
				<a href="/admin/attendance" id="attendanceSub">	근태 내역 조회 </a>
		        <a href="/admin/attendance/requestManager" id="requestManagerSub">	근태 수정 요청 내역</a>
		        <a href="/admin/attendance/standardManagement" id="attendanceSub1"> 근태 기준 관리 </a>
		    </div>
		</div> -->
		<!-- 근태 관리 -->
		<!-- 기능 관리 -->
		<!-- <div class="dropdown">
		    <button class="dropbtn" id="fncMenu">기능 관리</button>
		    <div class="dropdownContent">
				<a href="/admin/addr" id="addrSub">	주소록 </a>
		        <a href="#">	게시판 </a>
		        <a href="/admin/notice/noticeList" id="noticeSub">	공지사항 </a>
		        <a href="/admin/edsm/edsmList" id="edsmSub">	결재문서관리 </a>
		        <a href="/meetingRoom/meetingRoomList" id="meetingSub">	회의실 등록 </a>
		        <a href="#">	설문 </a>
				<a href="/ipInfo/ipInfoMain" id="meetingSub">	IP 관리 </a>
		    </div>
		</div> -->
		<!-- 기능 관리 -->
		<!-- 사용자 메뉴로 돌아가기 -->
		<div class="dropdown" id="returnUserMain">
			<button class="dropbtn mainMove" onclick="location.href='/userMain'">사용자 메뉴</button>
		</div>

    </div>

	<script th:inline="javascript">
		const message = /*[[${message}]]*/ "전달 메세지";
		const manager = /*[[${session.loginEmp.generalManager}]]*/ "전체 관리자";
		
		if (message != null) {
			alert(message);
		}
	</script>
	
    <script src="/js/admin/left/adminLeftSideBar.js"></script>

	
</body>
</html>