<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/admin/left/adminLeftSideBar.css">
	<link rel="stylesheet" href="/css/employee/userMain/leftSideBar.css">
    <title>leftSideBar</title>
	<th:block th:replace="~{common/common}"></th:block>
</head>
<body>
	
	
	<div id="leftSideBarMini">
		<div>
			<i class="fa-solid fa-circle-chevron-right" id="showLeftSideBarBtn"></i>
		</div>
	</div>

    <div id="leftSideBar">
		
		<div id="closeLeftSideBar">
			<i class="fa-solid fa-x"></i>
		</div>

		<!-- 로고 부분 -->
		<div th:if="${session.loginEmp.comLogo}" id="CompanyLogo">
			<img th:src="${session.loginEmp.comLogo}" id="companyLogoImg">
		</div>
		<div th:unless="${session.loginEmp.comLogo}" id="CompanyLogo">
			<img th:src="${session.loginEmp.comLogo}" id="companyLogoImg">
		</div>
		
		<div id="businessCard">
			<div></div>
		</div>
		<a id="logOutLink">로그아웃</a>
		
		<!-- 직급 관리 -->
		<div class="dropdown" id="positionMenu">
		    <button class="dropbtn" onclick="location.href='/positionManage'">직책 관리</button>
		    <!--<div class="dropdownContent">
		        <a href="#">				직급 관리1 </a>
		        <a href="#">				직급 관리2</a>
		        <a href="#">				직급 관리3</a>
		        <a href="#">				직급 관리4</a>
		    </div>-->
		</div>
		<!-- 직급 관리 -->
		<!-- 권한 관리 -->
		<div class="dropdown" id="authorityMenu">
		    <button class="dropbtn" onclick="location.href='/authorityManage'">권한 관리</button>
		    <!--<div class="dropdownContent">
		        <a href="#">	직급 관리1 </a>
		        <a href="#">	직급 관리2</a>
		        <a href="#">	직급 관리3</a>
		        <a href="#">	직급 관리4</a>
		    </div>-->
		</div>
		<!-- 권한 관리 -->
		<!-- 근태 관리 -->
		<div class="dropdown" id="attendanceMenu">
		    <button class="dropbtn">근태 관리</button>
		    <div class="dropdownContent">
		        <a href="/admin/attendance" id="attendanceSub">	근태 내역 조회 </a>
		        <a href="/admin/attendance/requestManager" id="requestManagerSub">	근태 수정 요청 내역</a>
		    </div>
		</div>
		<!-- 근태 관리 -->
		<!-- 기능 관리 -->
		<div class="dropdown">
		    <button class="dropbtn" id="fncMenu">기능 관리</button>
		    <div class="dropdownContent">
				<a href="/admin/addr" id="addrSub">	주소록 </a>
		        <!--<a href="#">	게시판 </a>-->
		        <a href="/admin/notice/noticeList" id="noticeSub">	공지사항 </a>
		        <a href="/admin/edsm/edsmList" id="edsmSub">	결재문서관리 </a>
		        <a href="/meetingRoom/meetingRoomList" id="meetingSub">	회의실 예약 </a>
		        <a href="#">	설문 </a>
				<a href="/ip" id="meetingSub">	IP 관리 </a>
		    </div>
		</div>
		<!-- 기능 관리 -->
		<!-- 회사 관리 -->
		<div class="dropdown" id="companyMenu">
		    <button class="dropbtn" onclick="location.href='/admin/companyInfo/companyInfo'">회사 정보</button>
		    <!--<div class="dropdownContent">
		        <a href="#">	1 </a>
		    </div>-->
		</div>		
		<!-- 사용자 메뉴로 돌아가기 -->
		<div class="dropdown" id="returnUserMain">
			<button class="dropbtn" onclick="location.href='/userMain'">사용자 메뉴</button>
		</div>

    </div>
	
    <script src="/js/admin/left/adminLeftSideBar.js"></script>

	<script th:inline="javascript">
		const message = /*[[${message}]]*/ "전달 메세지";
		
		if (message != null) {
			alert(message);
		}
	</script>
</body>
</html>