#receiveSurveyTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
}
#receiveSurveyTitleDiv{
	font-size: 25px;
	font-weight: bold;
	color: #426DA7;

}
#listContainer{
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 100vw; 
	height: 4vh;
	margin-top: 10vh;

}
#listContainerInnerDiv{
	display: flex;
	width: 50%; 
	height: 100%; 
	background-color:#426DA7;
	color: white;
	display: flex; 
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
}
#titleDiv{
	color: white;
	flex-basis: 50%; 
	display: flex;
	justify-content: center;
	align-items: center;
}
#writerDiv{
	color: white;
	flex-basis: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#endDateDiv{
	color: white;
	flex-basis: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#receiveSurveyContainer{
	width: 100vw;
	height: 100vh;
	background-color: yellow;
	display: flex; 
	justify-content: center;
}
.oneRowA{
	display: flex; 
	background-color: red;
}



