#insertSurveyContainer{
	display: flex; 
	flex-direction: column;
	align-items: center;
}


#surveyWriteText{
	margin-top: 15vh;
	width: 100%;
	height: 5vh; 
	color: 	#214177;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	font-weight: bold;
}
#conditionDiv{
	width: 40%; 
	margin-top: 3vh;
}
#entire{
	width: 10%;
	height: 4vh;
	border: 1.5px solid #BDD8F1;
	background-color: white;
	border-radius: 5px;
	margin-left: 2vw;
	transition: color 0.3s, background-color 0.3s, border 0.3s;
}
#entire:hover{
	background-color:#426DA7;
	color: white;
	border: 1.5px solid #426DA7;

}
#entire:active{
	background-color: #BDD8F1;
}
#position{
	width: 10%;
	height: 4vh;
	border: 1.5px solid #BDD8F1;
	background-color: white;
	border-radius: 5px;
	margin-left: 0.5vw;
	transition: color 0.3s, background-color 0.3s, border 0.3s;

}
#position:hover{
	background-color:#426DA7;
	color: white;
	border: 1.5px solid #426DA7;
}
#position:active{
	background-color: #BDD8F1;
}
#findEmp{
	width: 13%;
	height: 4vh;
	border: 1.5px solid #BDD8F1;
	background-color: white;
	border-radius: 5px;
	margin-left: 0.5vw;
	transition: color 0.3s, background-color 0.3s, border 0.3s;

}
#findEmp:hover{
	background-color:#426DA7;
	color: white;
	border: 1.5px solid #426DA7;

}
#findEmp:active{
	background-color: #BDD8F1;
}


#surveyTitleDiv{
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5vh;
}

#surveyTitle{
	width: 40%; 
	height: 5vh;
	box-sizing: border-box;
	border: none;
	font-weight: bold;
	padding-left: 10px;
	font-size: 20px;
	border-bottom: 1px solid lightgray;
	transition: border 0.3s;
}
#makeQuestionBtnDiv{
	width: 50%;
	height: 5vh; 
	margin-top: 5vh;
	display: flex;
	padding-left: 9vw;
	align-items: center;
}
#makeMultipleQuestion{
	width: 10%; 
	height: 5vh; 
	background-color: #E5F2FE;
	border: none;
	font-size: 17px;
	font-weight: bold;
	border-radius: 10px;
	margin: 3px;
	transition: color 0.3s, backgroundColor 0.3s;
}
#makeMultipleQuestion:hover{
	color: white;
	background-color: #BDD8F1;
}
#makeSubjectiveQuestion{
	width: 10%; 
	height: 5vh; 
	background-color: #E5F2FE;
	border: none;
	font-size: 17px;
	font-weight: bold;
	border-radius: 10px;
	margin: 3px;
	transition: color 0.3s, backgroundColor 0.3s;

}
#makeSubjectiveQuestion:hover{
	color: white;
	background-color: #BDD8F1;
}

/* 문제들이 들어갈 영역 */
#questionArea{
	display: flex; 
	flex-direction: column;
	width: 100vw; 
	justify-content: center;
	align-items: center;	
}



.addOption{
	display: flex; 
	flex-direction: column; 
}

#questionArea{
	margin-top: 5vh;
}



#dateDiv{
	margin-top: 3vh;
	padding-top: 3vh;
}

/* 대상 관련 css 시작 */
#positionArea{
	display: none;
	width: 50%; 
	height: 5vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	
}
#positionArea > select {
	width: 50%;
	height: 5vh;
}

#empListArea{
	display: none;
	width: 50%;



}
#findEmpInputDiv{
	display: flex; 
	justify-content: center;
	align-items: center;
	border: none; 
}
#findEmpInput{
	width: 100%;
	height: 5vh;
	margin-top: 1vh;
	border-radius: 5px;
	border: 1.5px solid #426DA7;	
	padding-left: 5px;

}

#empList{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#selectedEmpList{
	margin-top: 50px;
	flex-wrap: wrap;
}


/* 대상 관련 css 끝 */


#surveyStartDate{
	margin-left: 2vw;
	width: 30%;
	height: 4vh;
	border-radius: 5px;
	border: 1px solid #426DA7;
	padding-left: 5px;
	
	
}
#surveyEndDate{
	margin-left: 2vw;
	width: 30%;
	height: 4vh;
	border-radius: 5px;
	border: 1px solid #426DA7;
	padding-left: 5px;
}














/* 바닥에 딱 붙는게 싫어서 추가한 빈 공간  */
#embrace{
	width: 100vw; 
	height: 30vh;
	display: flex; 
	justify-content: center;
	align-items: center;
}
#forBottomEmptySpace{
	width: 5%;
	height: 20%;
	display: flex; 
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid #BDD8F1;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}
#forBottomEmptySpace:hover{
	background-color: #BDD8F1;
	color: white;
}


/* 동적으로 추가한 html (객관식, 주관식) 에 대한 css */

.multipleQuestionFullContainer{
	width: 40vw;
	border-radius: 5px;
	padding-top: 3vh;
	border: 3px solid #E5F2FE;
	margin-bottom: 3vh;

}
.questionTitleDivContainer{
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.questionOrder{
	font-size: 20px;
	font-weight: bold;
	margin-right: 1vw;
}
.questionText{
	width: 80%; 
	height: 4vh;
	border: none; 
	border-bottom: 1.5px solid #426DA7;
	margin-right: 1vw;
	padding-left: 5px;
	transition: border 0.3s; 
}


.fa-x {
    cursor: pointer;
    border-radius: 50%;
    transition: border 0.3s;

    padding: 5px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: none;
    transition: color 0.2s;
}
.fa-x:hover{
	color: coral;
}

.optionAddOrRemoveBtnDiv{
	width: 100%; 
	background-color: yellow;
	display: flex; 
	justify-content: center;
	align-items: center;
	margin-top: 2vh;
	background-color: #E5F2FE;

}
.optionAddOrRemoveBtnDiv > button{
	width: 10%; 
	height: 4vh;
	border: none;
	background-color: white;
	margin: 10px;
	border-radius: 5px;
	border: 1.5px solid #426DA7;
	transition: background-color 0.3s, color 0.3s;
	font-weight: bold;
}
.optionAddOrRemoveBtnDiv > button:hover{
	background-color: #426DA7;
	color: #E5F2FE;
}

/* 주관식 */
.subjectiveQuestionFullContainer{
	width: 40vw;
	border-radius: 5px;
	padding-top: 3vh;
	padding-bottom: 3vh;

	border: 3px solid #E5F2FE;
	margin-bottom: 3vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.subjectiveQuestion{
	width: 100%; 
	display: flex;
	justify-content: center;
	align-items: center;
}




.hoverBackgroundColor{

	transition: background-color 0.3s;
	padding-left: 10px;
	display: flex; 
	align-items: center;
}
.hoverBackgroundColor:hover{
	background-color: #BDD8F1;	
}


