.spaceDiv {
    padding-top: 70px;
}

.questionDiv {
    display: flex;
    width: 45%;
}

.questionBox {
    display: flex;
    border: solid 1px black;
    padding: 5px;
    padding-left: 10px;
    flex-basis: 60%;
    border-radius: 5px;
    flex-basis: 100%;
}

.questionBox i {
    font-size: 25px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: coral;
    margin: 0;
    text-align: center;
}

.questionBox input {
    outline: none;
    border: none;
    padding-left: 5px;
    font-size: 20px;
    flex-basis: 90%;
    /* background-color: red; */
}

.surveyAdd {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

/* 객관식 질문 추가, 주관식 질문 추가 버튼 */
#multipleAdd, #subjectiveAdd {
    flex-basis: 49%;
    height: 50px;
    font-size: 16px;
}

.baby-blue-boarder-btn {
    background: white;
    border: 2px solid var(--main5-color);
}

/* 소제목 부분 */
.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.littleTitle {
    flex-direction: column;
    width: 45%;
}

.answerTitle {
    background-color: var(--main4-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

.multipleInput, .subjectiveInput {
    margin-left: 10px;
    width: 80%;
    height: 25px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid var(--main4-color);;
}

.selectAnswerBox {
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.selectSubjectiveBox {
    border: 1px solid #d9d9d9;
}

.answerInput {
    padding: 15px 15px;
    display: flex;
}

.answerInput p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--main3-color);
}

.answerInput input {
    margin-left: 10px;
    width: 90%;
}

.containerSide {
    display: flex;
    justify-content: center;
}

.surveyBtn {
    display: flex;
    width: 45%;
    justify-content: flex-end;
    padding-top: 10px;
}

.surveyBtn div {
    margin-left: 10px;
}

.btnHidden {
    display: none !important;
}