<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직책 관리</title>
    <link rel="stylesheet" href="/css/admin/position/positionManage.css">
</head>
<body>
	
<div th:replace="~{admin/left/adminLeftSideBar}"></div>
<div th:replace="~{common/common}"></div>

<div id="titleContainer">
	<div>
		<h1 >직책 관리</h1>	
	</div>
</div>

<div id="fullContainer">

	<!-- 전체를 감싸는 섹션 -->
	<section class="fullSection">

		<div class="borderDiv">

			<div class="subTitleDiv">
				<div class="firstWidth">
					순서
				</div>
				<div class="secondWidth">
					직책
				</div>
				<div class="thirdWidth">
	
				</div>
			</div>
	
			<div id="positionBlock">

				<th:block th:if="${#lists.isEmpty(positionList)}">
					<div class="emptyDiv">
						<p>
							직책을 추가해주세요.
						</p>
					</div>
				</th:block>

				<th:block th:unless="${#lists.isEmpty(positionList)}">

					<div class="positionDiv" th:each="position : ${positionList}" th:object="${position}">
						<div th:text="*{indexNo}" class="firstWidth"></div>
		
						<div class="secondWidth">
							<input class="inputWidth" type="text" th:value="*{positionNm}" readonly>
							<input hidden th:value="*{positionNo}" name="positionNo">
						</div>
		
						<div class="thirdWidth">
							<button class="default-btn glucose-border-btn updateBtn">수정</button>
							<button class="default-btn deleteBtn">삭제</button>
						</div>
					</div>

				</th:block>

			</div>

		</div>

		<div class="buttonDiv">
			<div class="addPosition default-btn glucose-border-btn">+ 직책 추가</div>
			<th:block th:unless="${#lists.isEmpty(positionList)}">
				<div class="addMiddlePosition default-btn glucose-border-btn">+ 중간 직책 추가</div>
			</th:block>
		</div>

	</section>
		
</div>

<script src="/js/admin/position/positionManage.js"></script>

</body>
</html>
