* {
    /* border: 1px solid blue; */
}

section.container div {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 800px;
}

/* 기간별 조회 select 영역 */
main > :nth-child(1) {
    display: flex;
    align-items: center;
    height: 40px;
}
section.container .year {
    width: 70px;
    height: 25px;
    font-size: 13px;
}
section.container .month {
    width: 45px;
    height: 25px;
    font-size: 13px;
}
section.container .day {
    width: 45px;
    height: 25px;
    font-size: 13px;
}

/* 요청내역, 승인내역, 반려내역 버튼 */
main > :nth-child(2) {
    display: flex;
}
main > :nth-child(2) > :nth-child(1) {
    width: 65px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-left: 1.5px solid var(--main6-color);
    border-top: 1.5px solid var(--main6-color);
    border-right: 1.5px solid var(--main6-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
main > :nth-child(2) > :nth-child(2) {
    width: 65px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1.5px solid var(--main6-color);
    cursor: pointer;
}
main > :nth-child(2) > :nth-child(3) {
    width: 65px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1.5px solid var(--main6-color);
    cursor: pointer;
}
main > :nth-child(2) > :nth-child(4) {
    flex-basis: 75.5%;
    border-bottom: 1.5px solid var(--main6-color);
}

/* 헤드와 바디 */
section.container main > :nth-child(3) {
    display: flex;
    flex-direction: column;
    height: 560px;
    margin-top: 5px;
}

/* 헤드 */
main > :nth-child(3) > :nth-child(1) {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: var(--main6-color);
    color: white;
}
main > :nth-child(3) > :nth-child(1) div {
    display: flex;
    align-items: center;
}

main > :nth-child(3) > :nth-child(1) > :nth-child(1) {
    flex-basis: 11%;
    margin-left: 20px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(2) {
    flex-basis: 9%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(3) {
    flex-basis: 9%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(4) {
    flex-basis: 15%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(5) {
    flex-basis: 8%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(6) {
    flex-basis: 13%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(7) {
    flex-basis: 13%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(8) {
    flex-basis: 8%;
    margin-left: 10px;
}

/* 바디 */
.body {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #d9d9d9;
}

.body > :nth-child(1) {
    flex-basis: 11%;
    margin-left: 20px;
}
.body > :nth-child(2) {
    flex-basis: 9%;
    margin-left: 10px;
}
.body > :nth-child(3) {
    flex-basis: 9%;
    margin-left: 10px;
}
.body > :nth-child(4) {
    flex-basis: 15%;
    margin-left: 10px;
}
.body > :nth-child(5) {
    flex-basis: 8%;
    margin-left: 10px;
}
.body > :nth-child(6) {
    flex-basis: 13%;
    margin-left: 10px;
}
.body > :nth-child(7) {
    flex-basis: 13%;
    margin-left: 10px;
}
.body > :nth-child(8) {
    flex-basis: 8%;
    margin-left: 10px;
}
.body > :nth-child(8) > button {
    width: 60px;
    height: 30px;
    padding: 0;
}

/* 페이지네이션 */
main > :nth-child(4) {
    
}






/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/* 모달 창 스타일 */
.modal {
    display: none; /* 모달 초기에는 숨김 상태 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경 어둡게 */
}

/* 모달 닫기 버튼 스타일 */
.close {
    color: black;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1.5px solid var(--main6-color);
}

.close:hover,
.close:focus {
    color: #d9d9d9;
    text-decoration: none;
    cursor: pointer;
}

/* 모달 내용 스타일 */
.modal-content {
    /* 모달 초기에는 숨김 상태 */
    display: none;  
    position: relative;
    z-index: 2;
    background-color: #fefefe;
    bottom: 0;
    padding: 20px;
    bottom: 250px;
    border: 1px solid #888;
    width: 500px;
    height: 390px;
    border-radius: 10px;
    transition: all 0.4s ease; /* 크기 변경이 빠르게 이루어지도록 트랜지션 적용 */
}

.larger {
    width: 520px !important;
    height: 420px !important;
}

* {
    /* border: 1px solid blue; */
}

.contentHead {
    display: flex;
    justify-content: space-between;
}
.contentHead > :nth-child(1) {
    display: flex;
    align-items: end;
    flex-basis: 14.5%;
    height: 40px;
}
.contentHead > :nth-child(2) {
    flex-basis: 85.5%;
    border-bottom: 1.5px solid var(--main6-color);
}
.contentHead > div > span {
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.contentHead > div > :nth-child(1) {
    border-left: 1.5px solid var(--main6-color);
    border-right: 1.5px solid var(--main6-color);
    border-top: 1.5px solid var(--main6-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section.container .contentBody {
    display: flex;
    flex-direction: column;
    height: 310px;
    margin-top: 10px;
}
.contentBody > div { 
    display: flex;
}
.contentBody > div > span {
    text-align: end;
    background-color: var(--main6-color);
    color: white;
}
.contentBody > :nth-child(1) > span {
    flex-basis: 25%;
    height: 42px;
    line-height: 44px;
    border-bottom: 2px solid white;
    padding-right: 10px;
}
.contentBody > :nth-child(2) > span {
    flex-basis: 25%;
    height: 40px;
    line-height: 42px;
    border-bottom: 2px solid white;
    padding-right: 10px;
}
.contentBody > :nth-child(3) > span {
    flex-basis: 25%;
    height: 180px;
    line-height: 182px;
    border-bottom: 2px solid white;
    padding-right: 10px;
}
.contentBody > :nth-child(4) > span {
    flex-basis: 25%;
    height: 40px;
    line-height: 42px;
    border-bottom-left-radius: 5px;
    border-bottom: 2px solid var(--main6-color);
    padding-right: 10px;
}

.contentBody > div > div {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    background-color: white;
    color: black
}
.contentBody > :nth-child(1) > div {
    flex-basis: 70%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid var(--main6-color);
    border-left: 2px solid var(--main6-color);
    border-top: 2px solid var(--main6-color);
    border-right: 2px solid var(--main6-color);
    margin-left: 2px;
    padding-left: 10px;
}
.contentBody > :nth-child(2) > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 68%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid var(--main6-color);
    border-left: 2px solid var(--main6-color);
    border-right: 2px solid var(--main6-color);
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.contentBody > :nth-child(3) > div {
    display: flex;
    align-items: center;
    flex-basis: 70%;
    height: 180px;
    line-height: 180px;
    border-bottom: 2px solid var(--main6-color);
    border-left: 2px solid var(--main6-color);
    border-right: 2px solid var(--main6-color);
    margin-left: 2px;
    padding-left: 10px;
}
.contentBody > :nth-child(4) > div {
    flex-basis: 70%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid var(--main6-color); 
    border-left: 2px solid var(--main6-color);
    border-right: 2px solid var(--main6-color);
    margin-left: 2px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
}


.contentBody > :nth-child(2) > div > :nth-child(1) {
    width: 95px;
    height: 10px;
    font-size: 12px;
}
.contentBody > :nth-child(2) > div > :nth-child(2),
.contentBody > :nth-child(2) > div > :nth-child(3) {
    width: 90px;
    height: 10px;
    font-size: 12px;
}

.contentBody > :nth-child(3) > div > textarea {
    resize: none;
    outline: none;
    width: 333px;
    height: 155px;
    cursor: auto;
    border: none;
}
/* textarea 스크롤바 */
textarea::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
    background-color: var(--main6-color);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
textarea::-webkit-scrollbar-track:vertical {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}



.contentBody > :nth-child(4) > div > div {
    width: 100px;
    height: 11px;
}

.modal-content > :nth-child(3) {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

section.container #reject {
    margin-left: 10px;
}