* {
    box-sizing: border-box;
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    padding: 20px 30px 20px 30px;
}

.settingTypeDiv {
    display: flex;
    /* 선택적 근무시간으로 설정 옵션 추가 했을 때 적용할 css */
    /* justify-content: space-between; */
    justify-content: start;
}

.settingTypeDiv > div {
    display: flex;
}

/* 선택적 근무시간으로 설정 옵션 추가 했을 때 삭제할 css */
.settingTypeDiv > :nth-child(2) {
    margin-left: 15px;
}

.settingTypeDiv label {
    margin-left: 5px;
    cursor: pointer;
}

.dayOfWeekDiv {
    display: flex;
    margin-top: 15px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         
}
.dayOfWeek {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: 1px solid rgb(131, 131, 131);
    color: black;
}

.dayOfNextWeekDiv {
    display: flex;
    margin-top: 10px;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         
}
.dayOfNextWeekDiv > :nth-child(1){
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.dayOfNextWeekDiv > :nth-child(2){
    margin-right: 5px;
}
.dayOfNextWeek {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: default;
    border: 1px solid rgb(131, 131, 131);
    color: black;
    font-size: 9px;
}

.workTime {
    margin-left: 10px;
}

.startAndEnd {
    display: flex;
    margin-top: 10px;
}
.startAndEnd > * {
    display: flex;
    justify-content: center;
    margin-right: 6px;
}
.work {
    line-height: 22px;
}
.startAndEnd select {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    width: 42px;
    height: 23px;
    padding: 0 0 0 3px;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #d8d8d8;
}

.attendenceTimeCalc > :nth-child(1) {
    font-weight: bold;
}
.attendenceTimeCalc > :nth-child(2),
.attendenceTimeCalc > :nth-child(3) {
    display: flex;
    margin-top: 10px;
}
.attendenceTimeCalc input {
    margin-right: 5px;
}
.info1 {
    margin-top: 15px;
    font-size: 10px;
    line-height: 15px;
}
.info2 {
    margin-top: 5px;
    font-size: 10px;
    line-height: 15px;
}

.btnDiv {
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.btnDiv button {
    background: #82A6CB;
    color: white;
    border: 2px solid #82A6CB;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    padding: 4px 10px 4px 10px;
    margin-left: 10px;
}
.btnDiv button:hover {
    background: white;
    color: #82A6CB;
    border: 2px solid #82A6CB;
}