<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminMeetingRoom</title>
	<link rel="stylesheet" href="/css/admin/meeting/meetingRoom.css">
	<th:block th:replace="~{common/common}"></th:block>

</head>
<body>
	<!-- leftSideBar -->
	<th:block th:replace="~{admin/left/adminLeftSideBar}"></th:block>

	<div id="fullContainer">

		<div id="innerContainer">
			<!-- 제목 부분 -->
			<div>
				 회의실
			</div>

			<!-- 회의실 추가 버튼 -->
			<div class="MeetingRoomDiv">
				<!-- 추가 버튼 클릭시 input 값, controller에 들고 감 -->
				<form action="meetingRoomInsert" method="post" id="meetingRoomAddInputForm">
					<input type="text" id="meetingRoomAddInput">
					<button class="default-btn glucose-btn" id="nonePaddingBtn" style="font-size: 16px;">추가</button>
				</form>
			</div>

			<!-- x 버튼 클릭 시 DB에서도 삭제해줘야함 -->
			<div id="contentContainerInMeeting">
				<div id="contentContainerInMeetingInner">

					<!-- 회의실이 존재하지 않을 때 -->
					<th:block th:if="${#lists.isEmpty(meetingRoomList)}">
						<div>
							회의실이 존재하지 않습니다.
						</div>
					</th:block>

					<!-- 회의실이 존재할 때 -->
					<th:block th:unless="${#lists.isEmpty(meetingRoomList)}">
						<div class="meetingRoomLoop" th:each="meetingRoom : ${meetingRoomList}" th:object="${meetingRoom}">
							<div th:text="*{meetingRoomNm}">회의실 이름</div>
							<button class="deleteXBtn"><i class="fa-solid fa-xmark"></i></button>
						</div>
					</th:block>
					<!-- <div class="meetingRoomLoop">
						<div>1층 00실</div>
						<button class="deleteXBtn"><i class="fa-solid fa-xmark"></i></button>
					</div>
					<div class="meetingRoomLoop">
						<div>1층 00실</div>
						<button class="deleteXBtn"><i class="fa-solid fa-xmark"></i></button>
					</div>
					<div class="meetingRoomLoop">
						<div>1층 00실</div>
						<button class="deleteXBtn"><i class="fa-solid fa-xmark"></i></button>
					</div>
					<div class="meetingRoomLoop">
						<div>1층 00실</div>
						<button class="deleteXBtn"><i class="fa-solid fa-xmark"></i></button>
					</div> -->
				</div>
			</div>
			
		</div>
	</div>
		
	<script src="/js/admin/meeting/meetingRoom.js"></script>
</body>
</html>