<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 게시판</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
    <link rel="stylesheet" href="/css/employee/teamBoard/teamBoard.css">
</head>
<body>

    <div th:replace="~{employee/userMain/leftSideBar}"></div>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span th:text="|${session.loginEmp.teamNm} 게시판|">경영 1팀 게시판</span></div>

        <!--<div class="insBtn">
            <select class="default-line">
                <option>공지</option>
                <option>전달사항</option>
            </select>
        </div>-->
        
        <div class="default-line default-padding">

            <!-- 제목 -->
            <div class="ins-css insertForm">
                <div><label>제목</label></div>
                <input class="default-line listBtn" name="teamBoardTitle" id="teamBoardTitle">
            </div>

            <div class="ins-css insertForm radioFlag">
                <div><label>구분</label></div>
                <label class="radioLabel"><input type="radio" value="N" name="teamFlag">공지</label> 
                <label class="radioLabel"><input type="radio" value="D" name="teamFlag">전달사항</label>
            </div>

            <!-- 파일 -->
            <div class="fileUploadForm">

                <div class="fileType default-btn gray-border-btn">
                    <span class="">파일첨부</span>
                    <span class="fileSelect"><input type="file" name="files" id="fileInput" accept="files/board/*" multiple="multiple"/></span>
                </div>

                <div>
                    <div><button type="button" class="fa-solid fa-chevron-up btnBoarder fileListInfo"></button><label>첨부파일</label><label id="fileCnt">0</label><label>개</label><!--<label class="colorGray">(12.1KB)</label>--></div>
                    <table class="default-line preview">
                        <!--<tr>
                            <td><i class="fa-solid fa-image"></i><label>검색.png</label><label class="colorGray">3.09KB</label></td>
                            <td><a class="fa-solid fa-xmark"></a></td>
                        </tr>-->
                    </table>

                    <div id="smarteditor">
                        <textarea name="teamBoardContent" id="teamBoardContent" rows="10" cols="100"></textarea>
                    </div>
                </div>
                
            </div>

        </div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn" id="teamBoardInsert">등록</button>
            <button class="default-btn glucose-btn margin10" onclick="location.href='/teamBoard/teamBoardList';">취소</button>
        </div>

    </section>

    <!-- 스마트 에디터 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/lib/smarteditor2/se/js/service/HuskyEZCreator.js" data-cfasync="false"></script>

    <script src="/js/employee/teamBoard/teamBoardInsert.js"></script>
    <script src="/js/employee/teamboard/teamboard.js"></script> <!-- Left 메뉴 클릭 -->
</body>
</html>