<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 게시판</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
    <link rel="stylesheet" href="/css/employee/teamBoard/teamBoard.css">
</head>
<body>
    <div th:replace="~{employee/userMain/leftSideBar}"></div>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span th:text="|${session.loginEmp.teamNm} 게시판|">경영 1팀 게시판</span></div>

        <!--<div class="insBtn">
            <select class="default-line">
                <option>공지</option>
                <option>전달사항</option>
            </select>
        </div>-->
        
        <div class="default-line default-padding" th:object="${teamBoard}">

            <!-- 제목 -->
            <div class="ins-css insertForm">
                <div><label>제목</label></div>
                <input class="default-line listBtn" name="teamBoardTitle" id="teamBoardTitle" th:value="*{teamBoardTitle}">
            </div>

            <div class="ins-css insertForm radioFlag">
                <div><label>구분</label></div>
                <label class="radioLabel"><input type="radio" value="N" name="teamFlag" th:checked="*{teamFlag == 'N'}">공지</label> 
                <label class="radioLabel"><input type="radio" value="D" name="teamFlag" th:checked="*{teamFlag == 'D'}">전달사항</label>
            </div>

            <!-- 파일 -->
            <div class="fileUploadForm">

                <div class="fileType default-btn gray-border-btn">
                    <span class="">파일첨부</span>
                    <span class="fileSelect"><input type="file" name="files" id="fileInput" accept="files/board/*" multiple="multiple"/></span>
                </div>

                <div>
                    <div><button type="button" class="fa-solid fa-chevron-up btnBoarder fileListInfo"></button><label>첨부파일</label>&nbsp;<label id="fileCnt" th:text="*{fileCnt}">0</label><label>개</label><!--<label class="colorGray">(12.1KB)</label>--></div>
                    <table class="default-line preview">
                        <tr th:each="file : ${fileList}" th:object="${file}" th:id="|fileOrder*{fileOrder}|">
                            <td><i class="fa-solid fa-paperclip"></i><label th:text="*{fileOriginName}">검색.png</label></td>
                            <td><button type="button" class="fa-solid fa-xmark fileRemove btnBoarder" th:name="*{fileRename}" th:data-index="|fileOrder*{fileOrder}|"></button><label th:text="*{fileOrder}" hidden></label></td>
                        </tr>
                        <!--<tr>
                            <td><i class="fa-solid fa-image"></i><label>검색.png</label><label class="colorGray">3.09KB</label></td>
                            <td><a class="fa-solid fa-xmark"></a></td>
                        </tr>-->
                    </table>

                    <div id="smarteditor">
                        <textarea name="teamBoardContent" id="teamBoardContent" rows="10" cols="100"></textarea>
                    </div>
                </div>
                
            </div>

        </div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn" id="teamBoardUpdate">수정</button>
            <button class="default-btn glucose-btn margin10" id="teamBoardUpdate">취소</button>
        </div>

    </section>

    <script th:inline="javascript">
        let teamBoardContent = /*[[${teamBoard.teamBoardContent}]]*/"게시판 내용";
        const teamBoardFileList = /*[[${fileList}]]*/[]; /* 파일 정보 */
        const teamBoardNo = /*[[${teamBoard.teamBoardNo}]]*/"게시판 번호";
    </script>

    <!-- 스마트 에디터 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/lib/smarteditor2/se/js/service/HuskyEZCreator.js" data-cfasync="false"></script>

    <script src="/js/employee/teamboard/teamboard.js"></script> <!-- Left 메뉴 클릭 -->
    <script src="/js/employee/teamBoard/teamBoardUpdate.js"></script>
</body>
</html>