<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 게시판</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
    <link rel="stylesheet" href="/css/employee/teamBoard/teamBoard.css">
</head>
<body>
    <div th:replace="~{employee/userMain/leftSideBar}"></div>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span th:text="|${session.loginEmp.teamNm} 게시판[${teamBoard.teamFlag == 'N' ? '공지사항' : '전달사항'}]|">경영 1팀 게시판 [공지]</span></div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn"
                th:onclick="|location.href='@{/teamBoard/teamBoardList (cp=${param.cp}, key=${param.key}, query=${param.query}, combo=${param.combo})}'|">
            목록</button>
        </div>

        
        <div class="default-line default-padding" th:object="${teamBoard}">

            <!-- 제목 -->
            <div class="ins-css insertForm">
                <div><label>제목</label></div>
                <label th:text="*{teamBoardTitle}">무슨 기안을 올릴까요 업무 기안서</label>
            </div>

            <!-- 작성자 -->
            <div class="ins-css detailForm">
                <label>작성자</label>
                <div><label th:text="*{empName}">정희윤</label></div>
               <!-- <label>부서명</label>
                <div><label>영업팀</label></div>-->
                <label th:text="*{teamBoardWriteDate}">2024-05-22</label>
            </div>

            <div class="fileUploadForm">

                <div>
                    <!-- 파일 -->
                    <div><button type="button" class="fa-solid fa-chevron-up btnBoarder fileListInfo"></button><label th:text="|첨부파일 *{fileCnt}개|">첨부파일</label><!--<label class="colorGray">(12.1KB)</label>--></div>
                    <table class="default-line preview">
                        <tr th:each="file : ${fileList}" th:object="${file}">
                            <td><i class="fa-solid fa-paperclip"></i><label th:text="*{fileOriginName}">검색.png</label></td>
                            <td></td>
                            <td><a class="fa-solid fa-download" th:href="|*{filePath}*{fileRename}|" th:download="*{fileOriginName}"></a></td>
                        </tr>
                        <!--<tr>
                            <td><i class="fa-solid fa-image"></i><label>검색.png</label><label class="colorGray">3.09KB</label></td>
                            <td><a class="fa-solid fa-download"></a></td>
                        </tr>-->
                    </table>
                    <div class="default-line smarteditorDetail" th:utext="*{teamBoardContent}">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면 됩니다.</div>
                </div>
                
            </div>

            <div class="commentForm">
                
                <div class="commentTitle">
                    <div>
                        <label class="fa-solid fa-comment-dots"></label>
                        <label class="commentNum">0 </label>
                        <label>Commant</label>
                    </div>
                    <div class="commentLabel">
                        <label class="fa-solid fa-chevron-up commentListInfo"></label>
                    </div>
                </div>

                <div class="commentStart">
                    <!--<div class="commentGroup">
                        <div class="profile"></div>
                        <div class="speechBubble">
                            <div>출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??</div>
                            <div class="commentBtn">
                                <div>
                                    <label class="commentIns">송윤지 대리</label>
                                    <label>2024-01-01</label>
                                </div>
                                <div class="commentLabel">
                                    <label>답글</label>
                                    <label class="updBtn">수정</label>
                                    <label>삭제</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="commentGroup2">
                        <div class="speechBubble">
                            <div class="commentEmp">송윤지 대리</div>
                            <div>출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??</div>
                            <div class="commentBtn">
                                <div>
                                    <label class="commentIns">정희윤 대리</label>
                                    <label>2024-01-01</label>
                                </div>
                                <div class="commentLabel">
                                    <label>답글</label>
                                    <label class="updBtn">수정</label>
                                    <label>삭제</label>
                                </div>
                            </div>
                        </div>
                        <div class="profile"></div>
                    </div>

                    <div class="commentGroup2 commentCmt">
                        <div class="speechBubble">
                            <div class="commentEmp">송윤지 대리</div>
                            <div>
                                <div id="commentDiv0">출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??</div>
                                <textarea class="commentText disNone" id="commentText0">출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??</textarea>
                            </div>
                            <div class="commentBtn">
                                <div>
                                    <label class="commentIns">정희윤 대리</label>
                                    <label>2024-01-01</label>
                                </div>
                                <div class="commentLabel">
                                    <label id="commentIns0">답글</label>
                                    <label class="updBtn" id="commentUpd0">수정</label>
                                    <label>삭제</label>
                                </div>
                            </div>
                        </div>
                        <div class="profile"></div>
                    </div>-->

                    <!-- 답글에 답글 -->
                    <!--<div class="commentGroup2 commentComment">
                        <div class="speechBubble">
                            <div>
                                <textarea class="commentText">출처를 남기고 기술면접 관련 자료 블로그에 참고해도될까요??</textarea>
                            </div>
                            <div class="commentBtn">
                                <div>
                                </div>
                                <div class="commentLabel">
                                    <label id="commentIns0">등록</label>
                                </div>
                            </div>
                        </div>
                        <div class="profile"></div>
                    </div>-->
                </div>

                <!-- 댓글입력 -->
                <div class="commentGroup3">
                    <textarea class="commentText" id="commentInsContent"></textarea>
                    <button class="default-btn sapphire-btn" id="commentInsBtn">등록</button>
                </div>
                
            </div>

        </div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn" th:if="${teamBoard.empCode == session.loginEmp?.empCode}">
            <button class="default-btn glucose-btn"
                th:onclick="|location.href='@{/teamBoard/teamBoardUpdate/{teamBoardNo} (teamBoardNo=${teamBoard.teamBoardNo}, cp=${param.cp}, key=${param.key}, query=${param.query}, combo=${param.combo})}'|">수정</button>
            <button class="default-btn glucose-btn margin10" id="teamBoardDelete">삭제</button>
        </div>

    </section>

    <script th:inline="javascript">
        const teamBoardNo = /*[[${teamBoard.teamBoardNo}]]*/ "공지사항 번호";
        const fileCnt = /*[[${teamBoard.fileCnt}]]*/"파일개수";
        const loginEmpCode = /*[[${session.loginEmp.empCode}]]*/"로그인사원키";
    </script>

    <script src="/js/employee/teamboard/teamBoard.js"></script> <!-- Left 메뉴 클릭 -->
    <script src="/js/employee/teamboard/teamBoardDetail.js"></script>
</body>
</html>