#fullContainer {
	display: flex;
	justify-content: center;
}

#rightSideSpace {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
}

#companyTitle {
	padding-top: 70px;
	color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
}

#btnContainerInCompanyInfo {
	margin-top: 25px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.saveBtn {
	margin-left: 5px;
}

.companyNameContainer {
	width: 100%;
	background-color: aliceblue;
	display: flex;
	margin-bottom: 25px;
}

.companyNameContainer > div:nth-child(1) {
	width: 70px;
	height: 25px;
	text-align: center;
	padding-top: 7px;
}

.companyNameContainer > input:nth-child(2) {
	flex-basis: 70%;
	height: 25px;
	border: 1px solid var(--main6-color);
	border-radius: 5px;
}