#fullContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.companyInfoUpdate{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
}

#companyTitle {
	padding-top: 70px;
	color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
}

/* 회사 로고 부분 */
#contentContainerInCompanyInfo {
	height: 170px;
	width: 600px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

/* 로고 이미지 부분 */
#companyLogoImg {
	height: 100%;
}

/* 로고 버튼 부분 */
.logoImgBtnDiv {
	margin-top: 20px;
	margin-bottom: 50px;
}

.logoImgBtn {
	margin-left: 10px;
	margin-right: 10px;
}

#imageInput{ display: none;}

/* 회사 정보 수정 부분 */
.companyContainer {
	width: 100%;
	display: flex;
	margin-bottom: 35px;
}

.companyContainer > div:nth-child(1) {
	width: 10%;
	height: 25px;
	text-align: center;
	padding-top: 9px;
}

.inputCompanyName, .inputCompanyTel, #address, #detailAddress {
	width: 90%;
	border-radius: 5px;
	border: 1px solid var(--main6-color);
}

#postcode {
	width: 75%;
	border-radius: 5px;
	border: 1px solid var(--main6-color);
}

#searchAddress {
	width: 15%;
	margin-left: 10px;
	background: var(--main6-color);
    color: white;
    border: 2px solid var(--main6-color);
	border-radius: 5px;
}

#searchAddress:hover {
	width: 15%;
	margin-left: 10px;
    background: white;
    color: var(--main6-color);
    border: 2px solid var(--main6-color);
	border-radius: 5px;
}


/* 회사 정보 수정 버튼 */
#btnContainerInCompanyInfo {
	margin-top: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.saveBtn {
	margin-left: 5px;
	width: 30%;
}