/* 테이블 수정 */
.tableHead, .tableBody div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 5px !important;
}

.tableHead {
    height: 35px;
    background-color: var(--main5-color);
    font-weight: bold;
}

.tableBody div {
    height: 45px;
    border-bottom: 1px solid #d9d9d9;
    white-space: nowrap;
    overflow: hidden;
}

.tableHead div, .info div {
    width: 100px;
    margin-right: 10px !important;
}

.authorityW {
    width: 70px !important;
}

.authorityW input {
    margin-left: 15px !important;
}

.emailW {
    width: 150px !important;
}