<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find Password</title>

        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/user/login.css">
    </head>
    <body>
        <main>

            <!-- 로고 -->
            <div>
                <img src="/images/coworkLogo.png" class="coworkLogoB">
            </div>

            <section class="findPwFormArea">
                <span id="findPw">비밀번호 찾기</span>
                <div class="inputInfoArea">
                    <div class="findTypeDiv">
                        <input type="radio" class="radio1" name="findType" id="emailType">
                        <label for="emailType"><span>이메일</span></label>
                    </div>

                    <div class="findBox1">
                        <input placeholder="아이디" autocomplete="off" id="findPwByEmail">
                        <div>
                            <input placeholder="이메일" id="empEmailOfFindPw">
                            <button class="findBtn1">인증</button>
                        </div>
                    </div>

                    <div class="findTypeDiv">
                        <input type="radio" class="radio2" name="findType" id="phoneType">
                        <label for="phoneType"><span>휴대폰 번호</span></label>
                    </div>

                    <div class="findBox2">
                        <input placeholder="아이디" autocomplete="off" id="findPwByPhone">
                        <div>
                            <input placeholder="휴대폰 번호" id="phoneOfFindPw">
                            <button class="findBtn2">인증번호 받기</button>
                            <input placeholder="인증번호" id="authKey">
                            <button class="findBtn3">인증</button>
                        </div>
                    </div>                  
                </div>
            </section>
        </main>
        
        <!-- 로고 클릭시 메인페이지 이동 -->
        <script src="/js/user/login.js"> </script>
    </body>
</html>