<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find Id</title>

        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/user/login.css">
    </head>
    <body>
        <main>

            <!-- 로고 -->
            <div>
                <img src="/images/coworkLogo.png" class="coworkLogoB">
            </div>

            <section class="formArea">
                <span id="findId">아이디 찾기</span>
                <div class="inputInfoArea">
                    <input placeholder="이름 (풀네임 공백없이 입력)" id="empName">
                    <div>
                        <input placeholder="이메일" id="empEmail">
                        <button id="authMailBtn">메일 인증</button>
                    </div>
                    <div>
                        <input placeholder="인증번호" id="authKey">
                        <button id="authBtn">인증</button>
                    </div>
                    
                    <!-- 인증 성공 시 보일 아이디 리스트 -->
                    <div id="resultDiv">
                        <!-- <div id="divOne">
                            <input type="radio" id="selectId" name="select">
                            <div id="selectedId">limbit</div>
                            <span id="signUpDate">가입 : 2024-06-05</span>
                        </div> -->
                    </div>

                    <div id="btnDiv">
                        <div>
                            <button id="loginPageMove">로그인</button>
                            <button id="findPwOfSelectedId">비밀번호 찾기</button>
                        </div>
                    </div>

                </div>
            </section>
        </main>

        <script src="/js/user/login.js"></script>

    </body>
</html>