<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>

        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/user/login.css">
    </head>
    <body>
        <main>
            <!-- 로고 -->
            <div>
                <img src="/images/coworkLogoB.png" class="coworkLogoB">
            </div>

            <section class="formArea">
                <span id="loginLetter">로그인</span>
                <form action="/user/login" method="post" id="loginForm">

                    <div class="loginInput">
                        <input th:if="${findEmpId}" th:value="${findEmpId}" autocomplete="off" placeholder="아이디" id="empId" name="empId">
                        <input th:unless="${findEmpId}" autocomplete="off" placeholder="아이디" id="empId" name="empId">
                        <input type="password" placeholder="비밀번호" id="empPw" name="empPw">
                    </div>
                    <button id="loginBtn">로그인</button>
                    <div class="findArea">
                        <a href="/user/findId">아이디 찾기</a>
                        <span>|</span>
                        <a href="/user/findPw">비밀번호 찾기</a>
                    </div>
                    
                </form>
            </section>
        </main>

       
        <script src="/js/user/login.js"></script>

        <script th:inline="javascript">
            const message = /*[[${message}]]*/ "전달 메세지";
			const 	needLoginMakeInInterceptor = /*[[${needLoginMakeInInterceptor}]]*/ "로그인이 필요한 서비스입니다 메세지";
            
            if (message != null) {
                alert(message);
            }
			
			if(needLoginMakeInInterceptor != null){
				alert(needLoginMakeInInterceptor);
			}
			
        </script>
    </body>
</html>