<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoWork Sign up Form</title>

       <link rel="stylesheet" href="/css/user/signUp.css"> 

       <th:block th:replace="~{common/mainCommon}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{common/header}"></th:block>
        
        <main>
            <section class="formArea">
                <span id="signUpLetter">회원 가입</span> 

                <form action="/user/signUp" method="post" id="signUpForm">

                    <div class="inputInfo">
                        <input placeholder="아이디 *" id="empId" name="empId" autocomplete="off">
                        <span id="empIdMessage">영어 대·소문자, 숫자 조합 4~12글자</span>
                        <div class="emailDiv">
                            <input placeholder="개인 이메일 *" id="empEmail" name="empEmail" autocomplete="off">
                            <div id="checkEmailBtnDiv"><button id="checkEmailBtn" type="button">인증</button></div>
                        </div>
                        <span id="emailMessage"></span>
    
                        <div id="authKeyDiv">
                            <input placeholder="인증 번호 *" id="authKey" autocomplete="off">
                            <div id="checkAuthKeyBtnDiv"><button id="checkAuthKeyBtn" type="button">확인</button></div>
                        </div>
                        <span id="authKeyMessage">인증번호 받을 메일을 입력해주세요</span>
    
                        <input type="password" placeholder="비밀번호 *" id="empPw" name="empPw" onkeyup="checkCapsLock(event)">
                        <input type="password" placeholder="비밀번호 확인 *" id="empPwConfirm" onkeyup="checkCapsLock(event)">
                        <span id="pwMessage">영어,숫자,특수문자( !@#$%^&*() ) 포함 8~16글자 사이로 입력해주세요.</span>
                        
                        <input placeholder="이름 *" id="empFirstName" name="empFirstName" autocomplete="off">
                        <input placeholder="성 *" id="empLastName" name="empLastName" autocomplete="off">
                        <input placeholder="휴대전화 *" id="phone" name="phone" autocomplete="off">
                        <span id="telMessage">전화번호를 입력해주세요.(- 제외)</span>
                    </div>
                    <div class="inputAddr">
                        <div id="postcodeArea">
                            <input placeholder="우편번호" id="postcode" readonly name="empAddress">
                            <button id="searchBtn" type="button">찾기</button>
                        </div>
                            <input id="address" placeholder="도로명/지번" readonly name="empAddress">
                            <input id="detailAddress" placeholder="상세주소" name="empAddress" autocomplete="off">
                    </div>     

                    <div class="submitBtnDiv">
                        <button id="signUpBtn">가입하기</button>
                    </div>
                </form>
                
                
            </section>
        </main>

        <script src="/js/user/signUp.js"></script>
        <!-- 다음 주소 API -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <th:block th:replace="~{common/footer}"></th:block>
    </body>
</html>