<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 수정</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/myInfo/myInfoPwUpdate.css">
</head>
<body>
	
	<div th:replace="~{employee/userMain/leftSideBar}"></div>

    <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
    <div id="title">
        <span style="font-size: 25px; padding-bottom: 80px;">비밀번호 변경</span>
		<div id="forBorderBottom"></div>
    </div>

    
    <section class="container topMargin">

            <!-- 비밀번호 변경 -->
            <div class="pwUpdateDiv">
				
                <div id="validateCurPwDiv">
                    <label for="currentPw">현재 비밀번호</label>
                    <input class="default-line" type="password" id="currentPw">
					<div id="submitRow">
						<button type="button" id="submitCurrentPw">
							제출
						</button>	
					</div>
                </div>
				
            </div>

    </section>


    <script src="/js/employee/myInfo/myInfoPwUpdate.js"></script>
</body>
</html>