<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 수정</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/myInfo/myInfoUpdate.css">
</head>
<body>
    
    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="title">
            <span class="">기본 정보</span>
        </div>
		
		<div id="profileImgContainer">
			<div id="profileImgDiv">
				
				<div>
					<img id="profileImgTag" th:src="${loginEmp.profileImg != null} ? ${loginEmp.profileImg} : '/images/user.png'">
				</div>
				<label >
					<i class="fa-solid fa-camera-retro" for="profileInput"></i>
					<input type="file" style="display: none;" id="profileInput">
				</label>
				<div id="changeProfileImgBtnDiv">
				    <button id="changeProfileImgBtn" type="button">변경하기</button>
				</div>
				
			</div>
		</div>

		
		

        <!-- 기본 정보 수정 form 태그 영역 -->
        <form action="" method="post" enctype="multipart/form-data">
			
            <!-- 수정하기 버튼 -->
            <div class="myInfoUpdateBtnDiv">
                <button class="default-btn sapphire-btn">수정하기</button>
            </div>
            
            <!-- 기본 정보 -->
            <div class="myInfo">
    
                <!-- 이름과 성, 프로필 사진 정렬을 위한 div -->
                <div class="row">
                    <!-- 이름, 성 영역 -->
                    <div class="nameDiv">
                        <div class="subRow">
                            <span>이름</span>
                            <input class="default-line" type="text" name="empFirstName" th:value="${loginEmp.empLastName}">
                        </div>
    
                        <div class="subRow">
                            <span>성</span>
                            <input class="default-line" type="text" name="empLastName" 	th:value="${loginEmp.empFirstName}">
                        </div>
    
                        <div class="subRow">
                            <span>아이디</span>
                            <input class="default-line" id="sleepyIdInput" type="text" name="empId" th:value="${loginEmp.empId}">
                        </div>
                        
                        <!-- 중복된 아이디 입력 시 비동기로 중복여부 메시지 띄울 spna 태그 -->
                        <div>
                            <div></div>
                            <div id="idCheckMessage"></div>
                        </div>
                    </div>
                </div>
                


                <!-- 이메일 영역 -->
                <div class="row">
                    <div class="email">
                        <span>이메일</span>
                        <input class="default-line" type="text" name="empEmail" th:value="${loginEmp.empEmail}">
                    </div>
                </div>



                <!-- 생일, 연락처 영역 -->
                <div class="row">
                    <div class="birthAndPhone">
                        <div class="subRow">
                            <span>생일</span>
                            <input class="default-line" type="text" name="empBirth" th:value="${loginEmp.empBirth}">
                        </div>
    
                        <div class="subRow">
                            <span>연락처</span>
                            <input class="default-line" type="text" name="phone" th:value="${loginEmp.phone}">
                        </div>
                    </div>
                </div>
                


                <!-- 주소 영역 -->
                <div class="row subRow">
                    <div class="addrDiv">
                        <span>우편번호</span>
                        <input class="default-line" type="text" name="empAddress" placeholder="우편번호" id="postcode" readonly th:value="${postCode}">
                    </div>
                    <div class="btnDiv">
                        <button class="default-btn glucose-btn" id="searchAddress" type="button">검색</button>
                    </div>
                </div>
                        
                <div class="row column">
                    <div class="addrDiv2 subRow">
                        <span>도로명/지번</span>
                        <input class="default-line" type="text" name="empAddress" placeholder="도로명/지번 주소" id="address" readonly 	th:value="${dorojibun}">
                    </div>
                    
                    <div class="addrDiv2 subRow">
                        <span>상세주소</span>
                        <input class="default-line" type="text" name="empAddress" placeholder="상세 주소" id="detailAddress" 	th:value="${detailAddr}">
                    </div>
                </div>
    
            </div>
        </form>
        
    </section>


    <!-- 회사 정보 -->
    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="title">
            <span class="">직장 정보</span>
        </div>

        <div class="workInfoDiv">

            <div class="row subRow">
                <span>사번</span>
                <input class="default-line" readonly th:value="${loginEmp.empNo}">
            </div>

            <div class="row subRow">
                <span>부서</span>
                <input class="default-line" readonly 	th:value="${loginEmp.deptNm}">
            </div>

            <div class="row subRow">
                <span>직급</span>
                <input class="default-line" readonly 	th:value="${loginEmp.positionNm}">
            </div>

            <div class="row subRow">
                <span>근무처</span>
                <input class="default-line" readonly th:value="${loginEmp.workPlace}">
            </div>

            <div class="row subRow">
                <span>계약 형태</span>
                <input class="default-line" readonly 	th:value="${loginEmp.contractType}">
            </div>

            <div class="row subRow">
                <span>내선 번호</span>
                <input class="default-line" readonly th:value="${loginEmp.empEmail}">
            </div>

            <div class="row subRow">
                <span>입사일</span>
                <input class="default-line" readonly th:value="${loginEmp.hireDate}">
            </div>
        </div>

    </section>


    <!-- 모바일 명함 -->
    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="title">
            <span class="">모바일 명함</span>
        </div>

        <div class="download">
            <a href="">다운로드</a>
        </div>

        <div class="mobileCardDiv">

            <div>
                <input type="radio" name="mobileCard" id="form1">
                <label for="form1"><div class="mobileCard"></div></label>
            </div>

            <div>
                <input type="radio" name="mobileCard" id="form2">
                <label for="form2"><div class="mobileCard"></div></label>
            </div>

            <div>
                <input type="radio" name="mobileCard" id="form3">
                <label for="form3"><div class="mobileCard"></div></label>
            </div>

        </div>

    </section>

    <script src="/js/employee/myInfo/myInfoUpdate.js"></script>
    <!-- 다음 주소 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>