/* 메뉴 넓이 */
.menuW {
    width: 863px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 카테고리 메뉴 */
.kategorie {
    display: flex;
    border-bottom: 1px solid var(--gray-color);
    width: 100%;
}

.kategorie div {
    margin: 5px !important;
    font-size: 16px;
    margin: 0px !important;
    padding: 5px;
}

.kategorie div:hover {
    border-bottom: 3px solid var(--main5-color);
    color: var(--gray-color);
    cursor: pointer;
}

.kategorie div:nth-child(1) {
    border-bottom: 3px solid var(--main5-color);
    color: var(--gray-color);
}

/* 즐겨찾는 메뉴 */
.draftKeepMenu {
    display: flex;
    align-items: center;
    width: 100%;
}

.draftKeepMenu select {
    text-align: center;
    padding: 41px 0;
    height: 102px !important;
    margin-right: 5px;
}

.draftKeepMenu .draftMenu {
    margin: 0px !important;
}

/* 스크롤 */
.drftScroll {
    width: 754px;
    display: ruby;
    overflow: scroll;
    overflow: auto;
    white-space: nowrap;
    margin-right: 10px !important;
    height: 103px;
    overflow-y: hidden;
}

.drftScroll .draftBtn {
    margin: 0 !important;
}

/*즐겨찾기*/
.keep {
    width: 20px;
    cursor: pointer;
}

i.fa-solid.fa-star {
    font-size: 18px;
}

.noStar, .yesStar:hover {
    color: var(--gray-color);
}

.yesStar, .noStar:hover {
    color: #ffe200;
}

/***********************/

@media (max-width: 576px) {
    .drftScroll {
        max-width: 336px;
    } 

    .menuW {
        max-width: 442px;
    }
}

@media (min-width: 576px) {
    .drftScroll {
        max-width: 336px;
    }

    .menuW {
        max-width: 442px;
    }
}

@media (min-width: 600px) {
    /* 기안서 즐겨찾기 목록 */
    .drftScroll {
        max-width: 548px;
    }

    .menuW {
        max-width: 655px;
    }
}

@media (min-width: 768px) {
    .drftScroll {
        max-width: 657px;
    }

    .menuW {
        max-width: 763px;
    }
}

@media (min-width: 992px) {
    .drftScroll {
        max-width: 754px;
    }

    .menuW {
        max-width: 863px;
    }
}