<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoWork main</title>

        <th:block th:replace="~{common/mainCommon}"></th:block>
    </head>
    <body>
        <th:block th:replace="~{common/header}"></th:block>
		
        <main>
            <!-- 메인 배너 영역 -->
            <section>
                <img src="/images/bannerImg.jpg">
            </section>

            <!-- 배너 밑 네비바 영역 -->
            <section>
                <div class="mainNav">
                    <div>할 일</div>
                    <div>게시판</div>
                    <div>주소록</div>
                    <div>메세지</div>
                    <div>캘린더</div>
                    <div>설문</div>
                </div>
            </section>

            <!-- 기능 설명 영역 -->
            <section>
                <div>
                    
                </div>
            </section>

        </main>

        <th:block th:replace="~{common/footer}"></th:block>
    </body>
</html>