<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CoWork main</title>

        <th:block th:replace="~{common/mainCommon}"></th:block>
    </head>
    <body>
        <!-- 헤더 -->
        <th:block th:replace="~{common/header}"></th:block>
		
        <main>
            <!-- 메인 배너 1 영역 -->
            <section class="videoArea">
                <video width="100%" autoplay muted loop id="mainVid">
                    <source src="/images/coworkVideo4.mp4" type="video/mp4">
                    이 문장은 여러분의 브라우저가 video 태그를 지원하지 않을 때 화면에 표시됩니다!
                </video>
              <!--  <div class="thumbnail" id="thumbnail"></div> -->
            </section>

            <!-- 메인 배너 2 영역 -->
            <section class="mainBanner">               
                <div class="functionVid" style="border: none;">
                   <video src="/images/bannerVid.mp4" autoplay loop muted playsinline 
                            style="width: 85%;"></video>
                </div>                       
            </section>


            <!-- 배너 밑 네비바 영역 -->
            <section>
                <div class="mainNav">
                    <div><button class="navBtn" onclick="showSection('addressSection')">주소록</button></div>
                    <div><button class="navBtn" onclick="showSection('edsmSection')">전자 결재</button></div>
                    <div><button class="navBtn" onclick="showSection('mailSection')">메일</button></div> 
                    <div><button class="navBtn" onclick="showSection('calendarSection')">캘린더</button></div>
                    <div><button class="navBtn" onclick="showSection('messengerSection')">메신저</button></div>
                    <div><button class="navBtn" onclick="showSection('todoSection')">할 일</button></div>
                    <div><button class="navBtn" onclick="showSection('boardSection')">게시판</button></div>
                    <div><button class="navBtn" onclick="showSection('surveySection')">설문</button></div>
                    <div><button class="navBtn" onclick="showSection('reservationSection')">예약</button></div>
                </div>
            </section>

            <!-- 기능 설명 영역 -->
            <section class="functionArea">

                 <!-- 주소록 -->
                 <section id="addressSection" class="contentSection">
                  
                    <div class="functionVid">
                        <video src="/images/addressVid1.mp4" autoplay loop muted playsinline 
                                         style="width: 90%;  border: none; outline: none;"></video> 
                    </div>

                    <div class="marginDiv"></div>

                    <div class="functionVid">
                        <video src="/images/addressVid2.mp4" autoplay loop muted playsinline 
                                         style="width: 90%;  border: none; outline: none;"></video> 
                    </div>

                    <div class="marginDiv"></div>

                    <div class="functionVid">
                        <video src="/images/addressVid3.mp4" autoplay loop muted playsinline 
                                         style="width: 90%;  border: none; outline: none;"></video> 
                    </div>

                    <div class="marginDiv"></div>

                    <div class="images">
                        <img src="/images/address1.svg" style="width: 87%;">
                    </div>
                    
                 </section>

                <!-- 전자 결재 -->
                <section id="edsmSection" class="contentSection">

                    <div class="functionVid">
                       <video src="/images/edsmVid1.mp4" autoplay loop muted playsinline 
                                        style="width: 90%;  border: none; outline: none;"></video> 
                    </div>

                    <div class="images">
                        <img src="/images/edsm1.svg" style="width: 85%;">
                    </div>

                    <div class="images">
                        <img src="/images/edsm2.svg" style="width: 85%;">
                    </div>

                    <div class="images"> 
                        <img src="/images/edsm3.svg" style="width: 85%;">
                    </div>

                    <div class="images">
                        <img src="/images/edsm4.svg" style="width: 85%;">
                    </div>

                </section>

                <!-- 메신저 -->
                <section id="messengerSection" class="contentSection">

                    <div class="images">
                        <img src="/images/messenger1.svg" style="width: 86%;">
                    </div>

                    <div class="images">
                        <img src="/images/messenger2.svg" style="width: 86%;">
                    </div>

                    <div class="marginDiv"></div>

                    <div class="images">
                        <img src="/images/messenger3.svg" style="width: 86%;">
                    </div>

                    <div class="marginDiv"></div>

                    <div class="images">
                        <img src="/images/messenger4.svg" style="width: 86%;">
                    </div>

                </section>

                <!-- 게시판 -->
                <section id="boardSection" class="contentSection">

                    <div class="images">
                        <img src="/images/team1.svg" style="width: 85%;">
                    </div>

                    <div class="images">
                        <img src="/images/team2.svg" style="width: 86%;">
                    </div>

                </section>
                
                <!-- 캘린더 -->
                <section id="calendarSection" class="contentSection">

                    <div class="images">
                        <img src="/images/calendar1.svg" style="width: 92%;">
                    </div>

                    <div class="functionVid">
                        <video src="/images/calendarVid1.mp4" autoplay loop muted playsinline 
                                         style="width: 90%;  border: none; outline: none;"></video> 
                    </div>
                  

                </section>

                <!-- 할 일 -->
                <section id="todoSection" class="contentSection">

                    <div class="functionVid">
                        <video src="/images/todoVid.mp4" autoplay loop muted playsinline 
                                         style="width: 90%;  border: none; outline: none;"></video> 
                    </div>

                    <div class="images">
                        <img src="/images/todo1.svg" style="width: 87%;">
                    </div>

                    <div class="functionVid">
                        <video src="/images/todoVid2.mp4" autoplay loop muted playsinline 
                                         style="width: 90%;  border: none; outline: none;"></video> 
                    </div>

                </section>
                <!-- 메일 -->
                <section id="mailSection" class="contentSection">

                    <div class="functionVid">
                        <video src="/images/mailVid1.mp4" autoplay loop muted playsinline 
                                            style="width: 84%; margin-top: 50px; border: none; outline: none;"></video>
                    </div>

                    <div class="functionVid">
                        <video src="/images/mailVid2.mp4" autoplay loop muted playsinline 
                                            style="width: 84%; margin-top: 50px; border: none; outline: none;"></video>
                    </div>
                    
                    <div class="functionVid">
                        <video src="/images/mailVid3.mp4" autoplay loop muted playsinline 
                                            style="width: 84%; margin-top: 50px; border: none; outline: none;"></video>
                    </div>
                       
                </section>
               
                <!-- 설문 -->
                <section id="surveySection" class="contentSection">

                    <div class="images">
                        <img src="/images/survey1.svg" style="width: 86%;">
                    </div>

                    <div class="images">
                        <img src="/images/survey2.svg" style="width: 86%;">
                    </div>
                 
                </section>

                <!-- 예약 -->
                <section id="reservationSection" class="contentSection">
                    
                    <div class="functionVid">
                        <video src="/images/reserveVid1.mp4" autoplay loop muted playsinline 
                                            style="width: 84%; margin-top: 50px; border: none; outline: none;"></video>
                    </div>
      
                </section>

            </section>

            <!-- 챗봇 아이콘 -->
            <div id="icon-container" class="icon-container">
                <div id="chatbot-icon" class="chatbot-icon">
                    💬
                </div>
                <!-- 다른 아이콘 추가 -->
            </div>

            <!-- 챗봇 모달 -->
            <div id="chatbot-modal" class="chatbot-modal">
                <div class="chat-container">
                    <header class="chat-header">
                        <h4>코워크 QnA</h4>
                        <span id="close-btn" class="close-btn">&times;</span>
                    </header>
                    <main class="chat-main" id="chatMain">
                        <div id="respChat" class="chat-box"></div>
                    </main>
                    <footer class="chat-footer">
                        <input type="text" id="inputChat" placeholder="코워크 기능에 대해 물어보세요">
                        <button id="buttonChat">전송</button>
                    </footer>
                </div>
            </div>

            <!-- 이미지 모달 
            <div id="imageModal" class="modal">
                <span class="close" id="imageModalClose">&times;</span>
                <img class="modal-content" id="modalImage">
                <div id="caption"></div>
            </div> -->

        </main>
        <!-- 푸터 -->
        <th:block th:replace="~{common/footer}"></th:block>

        <!-- JS -->
        <script src="/js/common/main.js"></script>
    </body>

</html>