/*검색*/
.ins-css.insertForm div {
    width: 400px !important;
}

.fileUploadForm div {
    margin: 15px 0 !important;
}


.inputContainer {
    position: relative;
    width: 100%;
}

.inputRecipient, .inputReferer {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border: none;
    outline: none;
}

.recipientListContainer, .refererListContainer {
    position: relative;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center !important;
    padding: 5px;
}

.recipientForm, .refererForm {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    width: 100%; /* 가로 길이 넓게 설정 */
    border-bottom: 1px solid #ccc;
}

.default-label {
    margin: 2px;
    padding: 5px;
    background-color: lavender;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.searchTable {
    position: absolute;
    top: 100%; /* 인풋 창 바로 아래에 위치하게 설정 */
    left: 0;
    width: 100%; /* 가로 길이를 넓게 설정 */
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none; /* 초기에는 숨김 상태 */
}

.searchTable div {
    padding: 5px;
    cursor: pointer;
}

.searchTable div:hover {
    background-color: #f0f0f0;
}

.searchTable .searchRow {
    display: flex; /* 각 사원 정보가 가로로 정렬되도록 설정 */
    padding: 5px;
    cursor: pointer;
    font-size: 8px;
}
.searchTable .searchRow div {
    margin-right: 10px;
}

.searchTable .searchRow div[hidden] {
    display: none; /* empCode 숨김 처리 */
}








