<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재신청</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
    <link rel="stylesheet" href="/css/employee/edsm/edsm.css">
</head>
<body>

    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span class="">결재신청</span></div>
        
        <div class="default-line default-padding" th:object="${draft}">

            <!-- 제목 -->
            <div class="ins-css insertForm">
                <div><label>제목</label></div>
                <input class="default-line listBtn" th:value="*{draftTitle}" name="edsmTitle" id="edsmTitle">
            </div>

            <!-- 결재인 -->
            <div class="ins-css insertForm approverForm">
                <div><label>결재자</label></div>
                <input class="default-line inputApprover" id="approver1" placeholder="하위 결재자">
                <input class="inputempCode" id="empCode1" hidden/>
                <!--<datalist id="approver1" th:each="employee : ${employeeList}" th:object="${employee}">
                    <option th:value="*{empFirstName}"></option>
                </datalist>-->
                <input class="default-line inputApprover" id="approver2" placeholder="중간 결재자" disabled>
                <input class="inputempCode" id="empCode2" hidden/>
                <input class="default-line inputApprover" id="approver3" placeholder="최상위 결재자">
                <input class="inputempCode" id="empCode3" hidden/>
                <!--<button class="default-btn glucose-btn">검색</button>-->
            </div>

            <div class="searchTable displayNone searchApp">
                <div class="searchTr trApp" th:each="employee : ${employeeList}" th:object="${employee}"
                    th:onclick="searchtrAppClick([[*{empCode}]], [[*{empFirstName}]])">
                    <div th:text="*{empCode}" hidden>64</div>
                    <div th:text="*{empId}" id="empId">sample1</div>
                    <div th:text="*{deptNm}" id="deptNm">본부팀</div>
                    <div th:text="*{empFirstName}" id="empNm">임성혁</div>
                    <div th:text="*{positionNm}">대리</div>
                </div>
            </div>

            <!-- 참조인 -->
            <div class="ins-css insertForm referrerForm">
                <div><label>참조자</label></div>
                <div class="default-line listBtn">
                    <div class="listLabel"><!--<label>홍길동 &ensp; x</label>--></div>
                    <input id="referrer"><input id="empCode" hidden/>
                </div>
                <!--<button class="default-btn glucose-btn">검색</button>-->
            </div>

            <div class="searchTable displayNone searchRef">
                <div class="searchTr trRef" th:each="employee : ${employeeList}" th:object="${employee}"
                    th:onclick="searchtrReffClick([[*{empCode}]], [[*{empFirstName}]])">
                    <div th:text="*{empCode}" hidden>64</div>
                    <div th:text="*{empId}" id="empId">sample1</div>
                    <div th:text="*{deptNm}" id="deptNm">본부팀</div>
                    <div th:text="*{empFirstName}" id="empNm">임성혁</div>
                    <div th:text="*{positionNm}">대리</div>
                </div>
            </div>


            <!-- 파일 -->
            <div class="fileUploadForm">
                
                <div class="fileType default-btn gray-border-btn">
                    <span class="">파일첨부</span>
                    <span class="fileSelect"><input type="file" name="files" id="fileInput" accept="files/edsm/*" multiple="multiple"/></span>
                </div>

                <div>
                    <div><button type="button" class="fa-solid fa-chevron-up btnBoarder fileListInfo"></button><label>첨부파일</label><label id="fileCnt">0</label><label>개</label><!--<label class="colorGray">(12.1KB)</label>--></div>
                    <table class="default-line preview">
                        <!--<tr>
                            <td><i class="fa-solid fa-image"></i><label>검색.png</label><label class="colorGray">3.09KB</label></td>
                            <td><a class="fa-solid fa-xmark"></a></td>
                        </tr>-->
                    </table>

                    <div id="smarteditor">
                        <textarea name="edsmContentEdit" id="edsmContentEdit" rows="10" cols="100"></textarea>
                        <textarea name="edsmContent" id="edsmContent" rows="10" cols="100" hidden></textarea>
                    </div>
                </div>
                
            </div>

        </div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn" id="edsmRequest">등록</button>
            <button class="default-btn glucose-btn margin10" onclick="location.href='/employee/edsm/edsmDraftList';">취소</button>
        </div>

    </section>

    <script th:inline="javascript">
        const draftContent = /*[[${draft.draftContent}]]*/"양식 내용";
        const draftNo = /*[[${draft.draftNo}]]*/"양식 번호";

        console.log("draftNo : " + draftNo);
    </script>

    <!-- 스마트 에디터 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/lib/smarteditor2/se/js/service/HuskyEZCreator.js" data-cfasync="false"></script>

    <script src="/js/employee/edsm/edsmRequest.js"></script>
    <script src="/js/employee/edsm/edsm.js"></script>
</body>
</html>