<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재문서</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/edsm/edsm.css">
    <link rel="stylesheet" href="/css/employee/edsm/edsmDraftList.css">
</head>
<body>

    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

    <section class="container">

        
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="margin5 title">
            <span class="default-btn baby-blue-span">결재문서</span>
        </div>

        <div class="menuW">
            <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
            <div class="kategorie">
                <div>결재문서</div>
                <div onclick="location.href='edsmHistory'">결재내역</div>
                <div onclick="location.href='edsmApproved'">결재완료</div>
                <div onclick="location.href='edsmConfirm'">결재수신</div>
            </div>

            <!-----------------------------------------------   기안서 선택  ------------------------------------------------------------------>
            <div class="draftKeepMenu">
                <select class="draftBtn" name="key" id="searchKey">
                    <option value="0">전체</option>
                    <option value="1">기안서</option>
                    <option value="2">협조문</option>
                    <option value="3">품의서</option>
                    <option value="4">지출결의서</option>
                    <option value="5">경조사 신청서</option>
                    <option value="6">회의록</option>
                </select>
                
                <div class="draftMenu">
                    <div class="draftMenu drftScroll">
                        <div class="draftBtn" th:each="draftKeep : ${draftKeepList}" th:object="${draftKeep}"
                                th:onclick="|location.href='@{edsmRequest/{draftNo} (draftNo=*{draftNo})}'|">
                            <div>
                                <i class="draftImg"
                                    th:classappend="*{draftFlag eq '2' ? 'fa-solid fa-file-circle-plus' 
                                    : draftFlag eq '3' ? 'fa-regular fa-paste'
                                    : draftFlag eq '4' ? 'fa-regular fa-file-lines'
                                    : draftFlag eq '5' ? 'fa-regular fa-file-word'
                                    : draftFlag eq '6' ? 'fa-regular fa-file'
                                    : 'fa-solid fa-file-signature'}"></i>
                            </div>
                            <label th:text="*{draftTitle}">기안서</label>
                        </div>
                        <!--<div class="draftBtn">
                            <div><i class="fa-solid fa-file-circle-plus draftImg"></i></div>
                            <label>협조문</label>
                        </div>-->
                    </div>
                    <!--<div class="draftBtn addBtn">
                        <div><i class="fa-solid fa-plus draftImg"></i></div>
                        <label>추가</label>
                    </div>-->
                </div>
                
            </div>
        </div>

        <!-----------------------------------------------   기안 목록  ------------------------------------------------------------------>
        <div class="draftList2">
            <div class="default-line" th:each="draft : ${draftList}" th:object="${draft}">
                <div class="keep">
                    <i th:if="*{draftFlag == '7'}"  class="fa-solid fa-star"
                        th:classappend="*{keepYn eq 'N' ? 'noStar':'yesStar'}"
                        th:onclick="|location.href='@{draftKeepYn/{draftNo} (draftNo=*{draftNo}, keepYn=*{keepYn})}'|"
                    ></i>
                </div>
                <div class="draftDiv">
                    <div class="draftImg"
                        th:classappend="*{draftFlag eq '2' ? 'fa-solid fa-file-circle-plus' 
                        : draftFlag eq '3' ? 'fa-regular fa-paste'
                        : draftFlag eq '4' ? 'fa-regular fa-file-lines'
                        : draftFlag eq '5' ? 'fa-regular fa-file-word'
                        : draftFlag eq '6' ? 'fa-regular fa-file'
                        : 'fa-solid fa-file-signature'}"></div>
                    <div><label th:text="*{draftNm}">기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label th:text="*{draftTitle}">무슨 기안을 올릴까요 업무 기안서무슨 기안을 올릴까요</label>
                </div>
                <div class="draftBtn">
                    <label th:onclick="|location.href='@{edsmRequest/{draftNo} (draftNo=*{draftNo})}'|">선택</label>
                </div>
            </div>

            <!--<div class="default-line">
                <div class="draftDiv">
                    <div class="fa-solid fa-file-signature draftImg"></div>
                    <div><label>기안서</label></div>
                </div>
                <div class="draftLabel">
                    <label>무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftBtn">
                    <label>선택</label>
                </div>
            </div>-->

        </div>


    </section>

    <script src="/js/employee/edsm/edsmDraftList.js"></script>
    <script src="/js/employee/edsm/edsm.js"></script>
    
</body>
</html>