<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재상세</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
    <link rel="stylesheet" href="/css/employee/edsm/edsmDetail.css">
</head>
<body>
    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

    <section class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span class="">결재상세</span></div>

        <!-- 버튼 -->
        <div class="defaultBtn insBtn">
            <button class="default-btn glucose-btn"
                th:onClick="|location.href='@{../{hrefName} (hrefName=*{hrefName})}'|"
            >목록</button>
        </div>
        
        <div class="default-line default-padding" th:object="${edsm}">

            <!-- 버튼 -->
            <div class="defaultBtn approveBtn" > 
                <th:block th:if="${edsm.approverCode eq session.loginEmp.empCode}">
                    <button class="default-btn glucose-btn">반려</button>
                    <button class="default-btn sapphire-btn margin10">결재</button>
                </th:block>
                <th:block th:if="${edsm.empCode eq session.loginEmp.empCode and edsm.edsmFlag == '4'}">
                    <button class="default-btn sapphire-btn margin10" id="edsmDelete">회수</button>
                </th:block>
            </div>

            <!-- 결재자 -->
            <div class="approveDiv">
                <th:block th:each="approver : ${approverList}" th:object="${approver}">
                    <div class="approveDiv default-line" th:if="*{approverFlag eq '1'}">
                        <label th:text="*{approverName}">송지윤</label>
                        <label th:text="*{positionNm}">대리</label>
                    </div>    
                </th:block>
                
                <!--<div class="approveDiv proceeding"> 
                    <label class="default-label gade-label">진행중</label>
                    <label>정희윤</label>
                    <label>과장</label>
                </div>

                <div class="approveDiv default-line">
                    <label>최준재</label>
                    <label>차장</label>
                </div>-->
            </div>

            <!-- 제목 -->
            <div class="ins-css insertForm">
                <div><label>제목</label></div>
                <label th:text="*{edsmTitle}">무슨 기안을 올릴까요 업무 기안서</label>
            </div>

            <!-- 참조인 -->
            <div class="ins-css insertForm">
                <div><label>참조인</label></div>
                <label th:text="${referrerList.approverName != 'N' ? referrerList.approverName : ''}">송윤지</label>
            </div>

            <!-- 파일 -->
            <div class="fileUploadForm">
                <label>증빙서류</label>

                <div>
                    <!-- 파일 -->
                    <div><button type="button" class="fa-solid fa-chevron-up btnBoarder fileListInfo"></button><label th:text="|첨부파일 *{fileCnt}개|">첨부파일</label><!--<label class="colorGray">(12.1KB)</label>--></div>
                    <table class="default-line preview">
                        <tr th:each="file : ${fileList}" th:object="${file}">
                            <td><i class="fa-solid fa-paperclip"></i><label th:text="*{fileOriginName}">검색.png</label></td>
                            <td></td>
                            <td><a class="fa-solid fa-download" th:href="|*{filePath}*{fileRename}|" th:download="*{fileOriginName}"></a></td>
                        </tr>
                        <!--<tr>
                            <td><i class="fa-solid fa-image"></i><label>검색.png</label><label class="colorGray">3.09KB</label></td>
                            <td><a class="fa-solid fa-download"></a></td>
                        </tr>-->
                    </table>
                    <div class="default-line smarteditorDetail" th:utext="*{edsmContent}">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면 됩니다.</div>
                </div>
                
            </div>

        </div>

    </section>

    <script th:inline="javascript">
        const edsmNo = /*[[${edsm.edsmNo}]]*/"전자결재번호";
        const fileCnt = /*[[${edsm.edsmNo}]]*/"파일개수";
    </script>

    <!-- 스마트 에디터 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/lib/smarteditor2/se/js/service/HuskyEZCreator.js" data-cfasync="false"></script>

    <script src="/js/employee/edsm/edsmDetail.js"></script>
    <script src="/js/employee/edsm/edsm.js"></script>
</body>
</html>