<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결재내역</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/edsm/edsm.css">
    <link rel="stylesheet" href="/css/employee/edsm/edsmList.css">
    <link rel="stylesheet" href="/css/employee/edsm/edsmConfirm.css">
</head>
<body>

    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

    <section class="container">

        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
        <div class="title"><span class="">결재수신</span></div>

        <div class="menuW">
            <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>
            <div class="kategorie">
                <div onclick="location.href='edsmDraftList'">결재문서</div>
                <div onclick="location.href='edsmHistory'">결재내역</div>
                <div>결재완료</div>
                <div>결재수신</div>
            </div>

            <!-----------------------------------------------   기안서 선택  ------------------------------------------------------------------>
            

        <!-----------------------------------------------   기안 목록  ------------------------------------------------------------------>
        <!-- th:onClick="|location.href='@{edsmDetail/{edsmNo} (edsmNo=*{edsmNo}, approverCode=*{approverCode})}'|" -->
        <div class="draftList2">
            <div class="default-line" th:each="edsm : ${edsmList}" th:object="${edsm}"
                th:onClick="|location.href='@{edsmDetail/{edsmNo} (edsmNo=*{edsmNo}, hrefName=edsmConfirm, approverCode=*{approverCode})}'|">
                <div class="draftDiv">
                    <div class="draftImg "
                        th:classappend="*{draftFlag eq '2' ? 'fa-solid fa-file-circle-plus' 
                            : draftFlag eq '3' ? 'fa-regular fa-paste'
                            : draftFlag eq '4' ? 'fa-regular fa-file-lines'
                            : draftFlag eq '5' ? 'fa-regular fa-file-word'
                            : draftFlag eq '6' ? 'fa-regular fa-file'
                            : 'fa-solid fa-file-signature'}"
                    ></div>
                    <div><label th:text="*{draftNm}">기안서</label></div>
                </div>
                <div class="draftLabel2">
                    <label th:text="*{edsmTitle}">무슨 기안을 올릴까요 업무 기안서</label>
                </div>
                <div class="draftLabel3">
                    <label th:text="|*{empName} *{positionNm}|">영업팀 송윤지</label>
                </div>
                <div class="draftDetail">
                    <i class="detailInfo"
                        th:classappend="${edsm.approverFlag eq '2' ? 'fa-solid fa-user-plus number' 
                            : edsm.approverCode ne session.loginEmp.empCode ? 'fa-solid fa-user-check number' 
                            : edsm.approveFlag eq '1' ? 'fa-regular fa-circle-check check'
                            : edsm.approveFlag eq '2' ? 'fa-solid fa-circle-chevron-left right'
                             : 'fa-regular fa-eye eye' }"></i>
                    <label th:text="${edsm.approverFlag eq '2' ? '참조' 
                                : edsm.approverCode ne session.loginEmp.empCode ? edsm.approverName 
                                : edsm.approveFlag eq '1' ? '승인'
                                : edsm.approveFlag eq '2' ? '반려'
                                : '결재' }">확인</label>
                </div>
            </div>

            <!--<div class="default-line">
                <div class="draftDetail">
                    <i class="fa-regular fa-eye detailInfo eye"></i>
                    <label>확인</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-regular fa-circle-check detailInfo check"></i>
                    <label>완료</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-solid fa-circle-chevron-right detailInfo right"></i>
                    <label>반려</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-solid fa-1 detailInfo number"></i>
                    <label>1차</label>
                </div>
                <div class="draftDetail">
                    <i class="fa-solid fa-2 detailInfo number"></i>
                    <label>2차</label>
                </div>
            </div>-->
        </div>


    </section>

    <script src="/js/employee/edsm/edsm.js"></script>
</body>
</html>