/* 캘린더 버튼 영역 감싸는 div */
.calendarBtnTop {
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.calendarBtnMargin {
    margin-left: 5px;
}

/* 캘린더 크기 축소 및 가운데 정렬 */
.calendarSection {
    display: flex;
    justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center; /* 세로로 가운데 정렬 (옵션) */
    min-height: 100vh; /* 페이지 전체 높이를 차지하도록 설정 */
}

.calendarBox {
    width: 60%; /* 캘린더 너비를 80%로 설정 */
    max-width: 1200px; /* 최대 너비 설정 (옵션) */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

#calendar {
    width: 100%; /* 부모 요소의 너비에 맞게 설정 */
}

/* 캘린더 년, 월 글씨 색 지정 */
#fc-dom-1 {
    color: var(--main-color);
}

/* 내용 입력 모달창 */
.calendarModal {
    width: 30vw;
    height: 50vh;
    background-color: #f9f9f9;
}

.titleColor div {
    height: 5vh;
    width: 5vh;
}

/* pop-up */
#updateLayer{
	width: 400px;
	height: 400px;
	background-color: var(--main4-color);
	position: fixed; /* 브라우저에서 위치 고정 */
	/* 브라우저 정가운데 배치 */
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
    border-radius: 10px;
    z-index: 5;
}
/* 
.first-line{
	background-color: darkslategray;
} */

.popup-row{
	padding: 10px;
	margin: 10px;
	/* 위치의 상대적 기준점 */
	position : relative;
	width: 90%;
}
.popup-row > span {
	color: gray;
}
.popup-hidden{ 
	display: none !important; 
}

#popupClose{
  /* 절대적인 위치 지정(기준 내에서 아무곳에나 배치 가능) */
  position: absolute; 
  top: 0px;   /* 위쪽으로    부터 0px 떨어진 위치 */
  right: 10px; /* 오른쪽으로 부터 10px 떨어진 위치 */
  font-size: 30px;
  font-weight: bold;
  user-select: none; /* 드래그 방지 */
  cursor: pointer; /* 커서 손가락 모양 */
}
  
#popupClose:hover{ color :grey; }

#popupClose:active{ color : darkslategray; }