/* 캘린더 버튼 영역 감싸는 div */
.calendarBtnTop {
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.calendarBtnMargin {
    margin-left: 5px;
}

/* 캘린더 크기 축소 및 가운데 정렬 */
.calendarSection {
    display: flex;
    justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center; /* 세로로 가운데 정렬 (옵션) */
    min-height: 100vh; /* 페이지 전체 높이를 차지하도록 설정 */
}

.calendarBox {
    width: 60%; /* 캘린더 너비를 80%로 설정 */
    max-width: 1200px; /* 최대 너비 설정 (옵션) */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

#calendar {
    width: 100%; /* 부모 요소의 너비에 맞게 설정 */
}

/* 캘린더 년, 월 글씨 색 지정 */
#fc-dom-1 {
    color: var(--main-color);
}