/* 제목 밑 버튼 부분 */
.reservationBtnTop {
    display: flex;
    width: 100%;
    justify-content: center;
}

.reservationBtnInner {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

/* a 태그 밑줄 삭제 */
.reservationBtnInner a {
    text-decoration: none;
}

/* 캘린더 API 부분 */
.calendarSection {
    display: flex;
    justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center; /* 세로로 가운데 정렬 (옵션) */
    min-height: 100vh; /* 페이지 전체 높이를 차지하도록 설정 */
}

.calendarBox {
    width: 60%; /* 캘린더 너비를 80%로 설정 */
    max-width: 1200px; /* 최대 너비 설정 (옵션) */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

#calendar {
    width: 100%; /* 부모 요소의 너비에 맞게 설정 */
}

#fc-dom-1 {
    color: var(--main-color);
}

/* 제목 클릭 시 보여지는 모달창 부분 */
#reservationModal, #reservationInsertModal {
	width: 30%;
    height: 40%;
	background-color: white;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 5;
}

.reservationModalSpace {
    background-color: var(--main4-color);
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.spanX {
    padding-top: 2px;
    padding-right: 2px;
    cursor: pointer;
    font-weight: bold;
}

.reservationHidden {
    display: none !important;
}

.paddingDiv {
    width: 90%;
    height: 100%;
}

.reservationDiv {
    width: 100%;
    height: 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservationDiv p {
    width: 20%;
    color: var(--main2-color);
}

.reservationDiv input {
    border: none;
    width: 65%;
}

.reservationDiv i {
    width: 5%;
    color: var(--main2-color);
}

.borderDiv {
    border-bottom: 2px solid var(--main2-color);
}