/* 제목 밑 버튼 부분 */
.reservationBtnTop {
    display: flex;
    width: 100%;
    justify-content: center;
}

.reservationBtnInner {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

/* a 태그 밑줄 삭제 */
.reservationBtnInner a {
    text-decoration: none;
}

/* 캘린더 API 부분 */
.calendarSection {
    display: flex;
    justify-content: center; /* 가로로 가운데 정렬 */
    align-items: center; /* 세로로 가운데 정렬 (옵션) */
    min-height: 100vh; /* 페이지 전체 높이를 차지하도록 설정 */
}

.calendarBox {
    width: 60%; /* 캘린더 너비를 80%로 설정 */
    max-width: 1200px; /* 최대 너비 설정 (옵션) */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

#calendar {
    width: 100%; /* 부모 요소의 너비에 맞게 설정 */
}

#fc-dom-1 {
    color: var(--main-color);
}

/* 예약하기 제목 클릭 시 보여지는 모달창 부분 */
#reservationModal {
	width: 30%;
    height: 40%;
	background-color: white;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 5;
}

#reservationInsertModal {
	width: 30%;
    height: 60%;
	background-color: white;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 5;
}

/* 예약 수정 모달창 */
#reservationUpdateModal {
    width: 30%;
    height: 50%;
	background-color: white;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-bottom: 30px;
    z-index: 5;
}

/* 예약하기 모달창 윗 부분 */
.reservationModalSpace {
    background-color: var(--main4-color);
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* 예약하기 모달창 x 버튼 */
.spanX {
    padding-top: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* 예약 수정 모달창 x 버튼 */
.updateX {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* 예약하기 색 선택 부분 */
.titleColor {
    margin-top: 15px;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.clickColor {
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
}

.addBorder {
    border: 1px solid black !important; 
}

.clickColor:hover {
    border: 1px solid black;
}

/* select option 부분 */
.selectSection {
    margin-top: 15px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.selectCompany {
    background-color: white;
}

.selectCompany:hover {
    background-color: var(--main6-color);
    color: white;
    transition:0.2s;
}

.selectSection select, .selectCompany, .selectMeetingRoom {
    padding: 5px;
    border: 1px solid var(--main6-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

/* selectView 부분 */
.selectView, .meetingRoomSelectView {
    display: flex;
    width: 75%;
    height: 15%;
    border: 1px solid var(--main6-color);
    box-sizing: border-box;
    overflow-y: auto;
    scroll-behavior: smooth;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.selectedDiv {
    display: flex;
    border: 1px solid var(--main6-color);
    box-sizing: border-box;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 5px;
    height: 40%;
}

.selectedDiv > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedDiv p {
    margin: 0; /* 문단의 기본 여백 제거 */
    white-space: nowrap;
}

.selectedDiv span {
    cursor: pointer; /* 포인터 커서 설정 */
    flex-shrink: 0;
}

/* 회의실 예약하기 버튼 부분 */
.reservationModalBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Full Calendar API 자체 시간 보여주는 거 숨김 */
.fc-event-time {
    display: none !important;
}

.fc-timegrid-event-harness {
    width: 15%;
}

.fc-event-title {
    padding: 5px;
}

/* 예약 숨기기 */
.reservationHidden {
    display: none !important;
}

/* 예약 현황 모달창 부분 */
.paddingDiv {
    width: 90%;
    height: 100%;
}

.reservationDiv {
    width: 100%;
    height: 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservationDiv p {
    width: 20%;
    color: var(--main2-color);
}

.reservationDiv input {
    border: none;
    /* width: 65%; */
    width: 35%;
}

.reservationDiv i {
    width: 5%;
    color: var(--main2-color);
}

.borderDiv {
    border-bottom: 2px solid var(--main2-color);
}

.reservationUpdateBtn {
    display: flex;
    justify-content: flex-end;
}

.reservationUpdateBtn button {
    margin-left: 10px;
}

/* 일정 수정 시 예약 날짜 선택하는 부분 */
.reservationUpdateDate {
    width: 75%;
}

.reservationUpdateDate div {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.reservationUpdateDate p {
    width: 30%;
}

.reservationUpdateDate input {
    width: 70%;
    border: 1px solid var(--main6-color);
    padding: 3px;
    border-radius: 5px;
}