<!DOCTYPE html>
<html lang="ko">
<head>
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>권한 관리</title>
    
	<th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/addr/userAddr.css">
	<link rel="stylesheet" href="/css/admin/authority/authorityManage.css">
	
</head>
<body>
	
	<div th:replace="~{admin/left/adminLeftSideBar}"></div>
	
	<div class="container">
        <!-----------------------------------------------   타이틀  ------------------------------------------------------------------>

        <div class="title"><span>권한 관리</span></div>

        <div class="mainBtnList">
            <button class="default-btn glucose-btn" id="saveGroup">권한등록</button>
        </div>

        <main>

            <!-- 왼쪽 영역(주소록 그룹) -->
            <div class="left">

                <!-- 회사 주소록 -->
                <ul>
                    <li class="company">
                        
                        <div class="li-hover">
                            <i class="fa-solid fa-angle-down"></i>
                            <div class="comp" th:onclick="|comSelect()|">
                                <i class="fa-solid fa-building"></i>
                                <span th:text="${session.loginEmp.comNm}"></span>
                            </div>
                        </div>

                        <ul>    

                            <th:block th:if="${session.comAddrList}">

                                <li class="department" th:each="deptList : ${session.comAddrList}" th:object="${deptList}">
    
                                    <div class="li-hover">
                                        <i class="fa-solid fa-angle-down"></i>
                                        <div class="dept" th:data-dept-no="*{deptNo}" th:onclick="|deptSelect(*{deptNo})|">
                                            <i class="fa-solid fa-network-wired"></i>
                                            <span th:text="*{deptNm}"></span>
                                        </div>
                                    </div>
    
                                    <ul>
                                        
                                        <th:block th:if="*{teamList}">

                                            <li class="team" th:each="t : *{teamList}">
                                                <div class="li-hover"> 
                                                    <i class="fa-solid fa-angle-down"></i>
                                                    <div class="tim" th:onclick="|teamSelect(${t.teamNo}, *{deptNo})|">
                                                        <i class="fa-solid fa-people-group"></i>
                                                        <span id="teamName" th:text="${t.teamNm}" ></span>
                                                    </div>
                                                </div>
                                            </li>
                                            
                                        </th:block>
    
                                    </ul>
    
                                </li>
                                
                            </th:block>

                        </ul>

                    </li>
                    
                </ul>

            </div>

            <!-- 오른쪽 영역(구성원 목록) -->
            <div class="right">

                <!-- 검색창 -->
                <div>
                    <div class="default-line">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" placeholder="이름 검색" id="findEmp" autocomplete="off" spellcheck="false">
                    </div>
                </div>

                <!-- 체크박스 체크 시 노출되는 버튼(이동, 삭제) -->
                <div class="subBtnDiv">
                    <button class="default-btn glucose-btn" id="addToMyAddr">추가</button>
                    <button class="default-btn glucose-btn" id="deleteToMyAddr">삭제</button>

                    <div th:if="${groupList}" class="selectGroup">
                        <select name="" id="selectValue" class="default-line">
                            <th:block th:each="group : ${groupList}">
                                <option th:value="${group.addrBookNo}" class="selectOption">[[${group.addrName}]]</option>
                            </th:block>
                        </select>
                        <button class="default-btn glucose-btn" id="saveMyAddr">저장</button>
                        <button class="default-btn glucose-btn" id="cancelMyAddr">취소</button>
                    </div>
                </div>
                
                <!-- 구성원 목록 -->
                <div class="authorityList" id="authorityForm">
                    <div class="tableHead">
                        <div>부서 / 팀</div>
                        <div>이름</div>
                        <div>직급</div>
                        <div class="emailW">이메일</div>
						<div class="authorityW">근태관리</div>
						<div class="authorityW">기능관리</div>
						<div class="authorityW">팀게시판</div>
                    </div>
					<div class="tableBody">
						<!--<div id="authorityForm" th:each="authority, stat : ${authorityList}" th:object="${authority}">
							<div class="info">
								<div><span th:text="|*{deptNm} / *{teamNm}|">운영팀</span></div>
								<div>
                                    <span th:text="|*{empLastName}*{empFirstName}|">박은별</span>
                                    <input th:value="*{empCode}" id="empCode" hidden>
                                </div>
								<div><span th:text="*{positionNm}">팀장</span></div>
								<div class="emailW"><span th:text="*{empEmail}">park@naver.com</span></div>
								<div class="authorityW"><input id="attendanceYn" type="checkbox" th:checked="*{attendanceYn == 'Y'}"></div>
								<div class="authorityW"><input id="functionYn" type="checkbox" th:checked="*{functionYn == 'Y'}"></div>
								<div class="authorityW"><input id="teamBoardYn" type="checkbox" th:checked="*{teamBoardYn == 'Y'}"></div>
							</div>
						</div>-->
					</div>

                </div>
                
                <!-----------------------------------------------   페이지  ------------------------------------------------------------------>

                <div class="pagination-area">
        
                    <!-- 검색 X-->
                    <ul class="pagination">

                        <!-- 첫 페이지로 이동 
                        <li><a th:href="@{/authority/authorityManage(cp=1, key=${param.key}, query=${param.query})}">&lt;&lt;</a></li>
-->
                        <!-- 이전 목록 마지막 번호로 이동 
                        <li><a th:href="@{/authority/authorityManage(cp=*{prevPage}, key=${param.key}, query=${param.query})}">&lt;</a></li>
-->
                        <!-- 특정 페이지로 이동 
                        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                            -->
                        <!-- 현재 보고있는 페이지 
                            <li th:if="${i} == *{currentPage}">
                                <a class="current" th:text="${i}">1</a>
                            </li>
                            -->
                            <!-- 보고있지 않은 페이지 
                            <li th:unless="${i} == *{currentPage}">
                                <a th:text="${i}"
                                    th:href="@{/authority/authorityManage(cp=${i}, key=${param.key}, query=${param.query})}"
                                >2</a>
                            </li>

                        </th:block>-->

                        <!-- 다음 목록 시작 번호로 이동 
                        <li><a th:href="@{/authority/authorityManage(cp=*{nextPage}, key=${param.key}, query=${param.query})}">&gt;</a></li>
-->
                        <!-- 끝 페이지로 이동
                        <li><a th:href="@{/authority/authorityManage(cp=*{maxPage}, key=${param.key}, query=${param.query})}">&gt;&gt;</a></li>-->
                    </ul>
                
            </div>

        </main>

    </div>

	<script src="/js/admin/authority/authorityManage.js"></script>

    <!-- 드롭다운 -->
    <!--<div class="dropdown-menu" id="contextMenu">
        <div id="addDeptgroup">그룹 추가</div>
        <div id="groupNameChange">그룹명 변경</div>
        <div id="deleteGroup">그룹 삭제</div>
    </div>-->

    <!---->
    <!--<script th:inline="javascript">
        const loginEmpCode = /*[[${session.loginEmp.empCode}]]*/ "로그인 사원";
        const groupCode = /*[[${groupCode}]]*/ "로그인 사원";
        const backPageLocation = /*[[${session.backPageLocation}]]*/ "뒤로 돌아갈 주소";
    </script>-->
    
</body>
</html>
