section.container .accordion {
    margin: 50px;
    overflow: hidden;
}

/* 아코디언 전체 영역 */
section.container .accordion {
    border-bottom: 1px solid #ddd;
}
/* 아코디언 */
section.container .accordion-item {
    width: 1000px;
    border-top: 1px solid #ddd;
    margin: 0;
}
/* 아코디언 헤드 */
.accordion-header {
    background-color: #fff;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    padding: 25px 15px 25px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
}
.accordion-header:hover {
    background-color: var(--main4-color);
}

/* 아코디언 내용 (공통 속성) */
section.container .accordion-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    margin: 0;
}



/* 비밀번호 생성 방식 */
section.container .type1 {
    padding: 40px;
}
/* 라디오 담는 div */
section.container .type1 > :nth-child(1) {
    padding: 0 0 10px 0;
    font-weight: bold;
    font-size: 15px;
}
section.container .type1 > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 380px;
}

* {
    border: 1px solid green;
}


/* 아코디언 내용 */
section.container .type2 {
}
/* 아코디언 내용 */
section.container .type3 {
}
