section.container .accordion {
    margin: 50px;
    overflow: hidden;
}
.title {
    display: flex;
    align-items: center;
}
.title > :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 50px;
    width: 17px;
    height: 18px;
    color: rgb(204, 204, 204);
    cursor: pointer;
    font-size: 10px;
}
section.container .title > :nth-child(3) {
    color: rgb(204, 204, 204);
    margin-left: 5px;
    font-weight: 100;
    font-size: 22px;
}
#backPage {
    color: #767676;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 100;
    cursor: pointer;
}

/* 아코디언 전체 영역 */
section.container .accordion {
    border-bottom: 1px solid #ddd;
}
/* 아코디언 */
section.container .accordion-item {
    width: 1000px;
    border-top: 1px solid #ddd;
    margin: 0;
}
/* 아코디언 헤드 */
.accordion-header {
    background-color: #fff;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    padding: 25px 15px 25px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
}
.accordion-header:hover {
    background-color: var(--main4-color);
}

/* 아코디언 내용 (공통 속성) */
section.container .accordion-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-top: 1px solid #e9e9e9;
    margin: 0;
}



/* 비밀번호 생성 방식 */
section.container .type1 {
    display: flex;
    padding: 40px;
}
section.container .type1 label {
    cursor: pointer;
}
/* 라디오 담는 div */
section.container .type1 > :nth-child(1) {
    padding: 0 0 10px 0;
    font-weight: bold;
    font-size: 15px;
}
section.container .type1 > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 360px;
}
section.container .type1 > :nth-child(2) > div {
    display: flex;
    align-items: center;
}
section.container .type1 > :nth-child(2) > div input {
    margin-right: 5px;
    cursor: pointer;
}

/* 라디오 속성 */
/* [type="radio"] {
    vertical-align: middle;
    appearance: none;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    width: 13px;
    height: 13px;
}
[type="radio"]:checked {
    border: 0.5em solid var(--main-color);
}
[type="radio"]:focus-visible {
    outline: max(2px, 0.1em) dotted var(--main6-color);
    outline-offset: max(2px, 0.1em);
  }
[type="radio"]:hover {
    border: 2px solid var(--main6-color);
    cursor: pointer;
} */

/* 파일 등록 */
.accordion > :nth-child(2) > :nth-child(1) {
    color: rgba(0, 0, 0, 0.479);
}
section.container .type2 {
    display: none;
    padding: 40px;
}
section.container .type2 > :nth-child(1) {
    padding: 0 0 10px 0;
    font-weight: bold;
    font-size: 15px;
}
#sample {
    display: flex;
    align-items: center;
    width: 100px;
    height: 12px;
    padding: 10px;
    border: 1px solid #acabab;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-top: 10px;
}
#sample:visited {
    color: none;
}
.fa-solid.fa-file-excel {
    margin-right: 10px;
    font-size: 16px;
    color: green;
}
#fileUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.container #uploadBtn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid #acabab;
    border-radius: 5px;
    width: 50px;
    height: 14px;
    padding: 8px;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}
section.container #uploadBtn:hover {
    background-color: #e0e0e0;
}
section.container #fileUpload > input::content {
    color: white;
}
#dragAndDrop { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 950px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #e5e5e6;
}
#fileInput {
    display: none;
}
.fa-sharp.fa-regular.fa-square-plus {
    color: #767676;
    font-size: 16px;
}
#fileName {
    margin-top: 10px;
}
.sapphire-btn2:hover {
    background: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}



/*구성원 일괄 추가 */
.accordion > :nth-child(3) > :nth-child(1) {
    color: rgba(0, 0, 0, 0.479);
}
section.container .type3 {
    display: none;
}
#addInBulk {
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
}
.employeeList {
    display: flex;
    flex-direction: column;
    width: 900px;
    border-top: 1px solid #ddd;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 30px;
    background-color: white;
}

section.container .subBtnDiv {
    display: flex;
    justify-content: start;
    width: 900px;
    height: 30px;
    margin: 0;
}
#deleteBtn {
    display: none;
}

/* 구성원 리스트 헤드 */
section.container .head {
    display: flex;
    margin: 0;
    width: 1900px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    background-color: #f3efef;
}
/* 헤드 바로 하위 div 공통 속성 */
section.container .head > div {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 10px;
    font-weight: bold;
    box-sizing: border-box;
}
section.container .head > div span {
    padding-left: 10px;
}
/* 체크박스 */
.head > :nth-child(1) {
    
}
/* 성 */
.head > :nth-child(2) {
    width: 120px;
    color: #118dff;
}
/* 이름 */
.head > :nth-child(3) {
    width: 120px;
    color: #118dff;
}
/* ID */
.head > :nth-child(4) {
    width: 120px;
    color: #118dff;
}
/* 비밀번호 */
.head > :nth-child(5) {
    width: 120px;
    color: #118dff;
}
/* 휴대폰 번호 */
.head > :nth-child(6) {
    width: 120px;
}
/* 개인 이메일 */
.head > :nth-child(7) {
    width: 150px;
}
/* 생일 */
.head > :nth-child(8) {
    width: 100px;
}
/* 부서 */
.head > :nth-child(9) {
    width: 120px;
}
/* 팀 */
.head > :nth-child(10) {
    width: 120px;
}
/* 직급 */
.head > :nth-child(11) {
    width: 120px;
}
/* 계약 형태 */
.head > :nth-child(12) {
    width: 120px;
}
/* 근무처 */
.head > :nth-child(13) {
    width: 180px;
}
/* 내선 번호 */
.head > :nth-child(14) {
    width: 120px;
}
/* 입사일 */
.head > :nth-child(15) {
    width: 100px;
}
/* 사번 */
.head > :nth-child(16) {
    width: 120px;
}


/* 구성원 */
section.container .employee {
    display: flex;
    margin: 0;
    width: 1900px;
    height: 55px;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
section.container .employee > div {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 0 0 10px;
    font-size: 14px;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
section.container .employee > div span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}
/* 체크박스 */
.employee > :nth-child(1) {
    
}
/* 성 */
.employee > :nth-child(2) {
    width: 120px;
}
/* 이름 */
.employee > :nth-child(3) {
    width: 120px;
}
/* ID */
.employee > :nth-child(4) {
    width: 120px;
}
/* 비밀번호 */
.employee > :nth-child(5) {
    width: 120px;
}
/* 휴대폰 번호 */
.employee > :nth-child(6) {
    width: 120px;
}
/* 개인 이메일 */
.employee > :nth-child(7) {
    width: 150px;
}
/* 생일 */
.employee > :nth-child(8) {
    width: 100px;
}
/* 부서 */
.employee > :nth-child(9) {
    width: 120px;
}
/* 팀 */
.employee > :nth-child(10) {
    width: 120px;
}
/* 직급 */
.employee > :nth-child(11) {
    width: 120px;
}
/* 계약 형태 */
.employee > :nth-child(12) {
    width: 120px;
}
/* 근무처 */
.employee > :nth-child(13) {
    width: 180px;
}
/* 내선 번호 */
.employee > :nth-child(14) {
    width: 120px;
}
/* 입사일 */
.employee > :nth-child(15) {
    width: 100px;
}
/* 사번 */
.employee > :nth-child(16) {
    width: 120px;
}

/* 인풋창 */
section.container .employee input[type='text'],
section.container .employee input[type='password'] {
    width: 70px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid red;
    text-align: start;
    padding-left: 10px;
}
.employee input[type='text']::placeholder,
.employee input[type='password']::placeholder {
    color: red;
}
#idPattern {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 50px;
    width: 14px;
    height: 14px;
    color: rgb(172, 172, 172);
    cursor: pointer;
    font-size: 8px;
}
#idPatternInfo {
    display: none;
    width: 150px;
    height: 52px;
    padding: 13px 15px 13px 15px;
    text-align: start;
    line-height: 18px;
    z-index: 2;
    border: 1px solid #a4a4a4;
    background-color: white;
    position: absolute;
    color: rgb(42, 42, 42);
    font-size: 11px;
    margin-top: 120px;
    margin-left: 28px;
}
#closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    color: #a4a4a4;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 3px;
}

#showPw {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-radius: 50px;
    color: rgb(172, 172, 172);
    cursor: pointer;
    font-size: 15px;
    margin-right: 0p;
}

#deptList {
    width: 90px;
    height: 30px;
}
#teamList {
    width: 90px;
    height: 30px;
}
section.container .positionList {
    width: 90px;
    height: 30px;
}


* {
    /* border: 1px solid green; */
}



/* 모달창1 */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 320px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content p {
    margin: 0 0 20px;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
#btnDiv {
    display: flex;
    justify-content: end;
}
/* #confirmBtn:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
} */
/* 모달창2 */
.modal2 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 320px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content2 > :nth-child(1) {
    margin: 0 0 5px;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
.modal-content2 > :nth-child(2) {
    margin: 0 0 15px;
    font-size: 13px;
    text-align: start;
    line-height: 25px;
}
#btnDiv2 {
    display: flex;
    justify-content: end;
}
/* #confirmBtn2:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
} */
.sapphire-btn2 {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}
.blur {
    background: #426ea747;
    border: 2px solid #426ea700;
    color: white;
}
.blur:hover {
    background: #426ea747;
    border: 2px solid #426ea700;
    color: white;
}

/* 모달창3 */
.modal3 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 320px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content3 > :nth-child(1) {
    margin: 0 0 5px;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
.modal-content3 > :nth-child(2) {
    margin: 0 0 15px;
    font-size: 13px;
    text-align: start;
    line-height: 25px;
}
#btnDiv3 {
    display: flex;
    justify-content: end;
}
/* #confirmBtn3:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
} */
#cancelBtn3 {
    background: white;
    color: black;
    margin-left: 10px;
}
#cancelBtn3:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}

/* 모달창4 */
.modal4 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 320px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content4 > :nth-child(1) {
    margin: 0 0 5px;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
.modal-content4 > :nth-child(2) {
    margin: 0 0 15px;
    font-size: 13px;
    text-align: start;
    line-height: 25px;
}
#btnDiv4 {
    display: flex;
    justify-content: end;
}
#confirmBtn4:hover {
    /* background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color); */
    cursor: pointer;
}
#cancelBtn4 {
    background: white;
    color: black;
    margin-left: 10px;
}
#cancelBtn4:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}

/* 모달창5 */
.modal5 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content5 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 320px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content5 > :nth-child(1) {
    margin: 0 0 5px;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
.modal-content5 > :nth-child(2) {
    margin: 0 0 15px;
    font-size: 13px;
    text-align: start;
    line-height: 25px;
}
#btnDiv5 {
    display: flex;
    justify-content: end;
}
#confirmBtn5:hover {
    /* background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color); */
    cursor: pointer;
}
#cancelBtn5 {
    background: white;
    color: black;
    margin-left: 10px;
}
#cancelBtn5:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}

/* 모달창6 */
.modal6 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}
.modal-content6 {
    background-color: #fefefe;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 500px;
    height: 550px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.modal-content6 > :nth-child(1) {
    margin: 0 0 5px;
    font-size: 20px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
.modal-content6 > :nth-child(2) {
    margin: 15px 0 15px 0;
    font-size: 14px;
    text-align: start;
    line-height: 20px;
}
#btnDiv6 {
    display: flex;
    justify-content: end;
}
#cancelBtn6 {
    background: white;
    color: black;
    margin-left: 10px;
}
#cancelBtn6:hover {
    background: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
}
.list {
    width: 447px;
    height: 350px;
    border: 1px solid #d3d3d3c2;
    border-radius: 2px;
    margin: 20px 0 20px 0;
}
.list-head {
    display: flex;
    align-items: center;
    height: 45px;
    background-color: #e4e4e44b;
}
.list-head > :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.list-head > :nth-child(2) {
    display: flex;
    justify-content: start;
    width: auto;
}
.list-head > :nth-child(2) > :nth-child(1) {
    margin-left: 5px;
    color: var(--main-color);
    font-weight: 900;
}
.list-head > :nth-child(2) > :nth-child(2) {
    color: #d3d3d3c2;
}
.list-head > :nth-child(3) {
    display: flex;
    justify-content: start;
    width: auto;
}
.list-head > :nth-child(3) > :nth-child(1) {
    margin-left: 5px;
    color: var(--main-color);
    font-weight: 900;
}



.list-content {
    box-sizing: border-box;
    width: 100%;
    height: 305px;
    overflow: auto;
    overflow-x: hidden;
}

.listOne {
    display: flex;
    height: 75px;
    border-bottom: 1px solid #d3d3d379;
}
.listOne > :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.listOne > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 7px;
}
.listOne > :nth-child(2) > :nth-child(1) {
    display: flex;
    height: 30px;
    line-height: 30px;
}
.listOne > :nth-child(2) > :nth-child(1) > :nth-child(1) {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.listOne > :nth-child(2) > :nth-child(1) > :nth-child(2) {
    margin-left: 5px;
}
.listOne > :nth-child(2) > :nth-child(2) {
    display: flex;
    width: 380px;
}
/* 인풋창 */
.listOne > :nth-child(2) > :nth-child(2) > :nth-child(1) {
    width: 150px;
    height: 10px;
}
/* 메시지 */
.listOne > :nth-child(2) > :nth-child(2) > :nth-child(2) {
    width: 200px;
    line-height: 30px;
    font-size: 12px;
    text-align: start;
    padding-left: 10px;
}
#spanEmail {
    height: 20px;
    text-align: start;
    margin-left: 5px;
    font-size: 14px;
}


/* 모달창7 */
.modal7 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content7 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 320px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content7 > :nth-child(1) {
    margin: 0 0 5px;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
.modal-content7 > :nth-child(2) {
    margin: 0 0 15px;
    font-size: 13px;
    text-align: start;
    line-height: 25px;
}
#btnDiv7 {
    display: flex;
    justify-content: end;
}


/* 모달창7 */
.modal8 {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content8 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    width: 320px;
    height: 100px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content8 > :nth-child(1) {
    margin: 0 0 5px;
    font-size: 17px;
    text-align: start;
    line-height: 25px;
    font-weight: bold;
}
.modal-content8 > :nth-child(2) {
    margin: 0 0 15px;
    font-size: 13px;
    text-align: start;
    line-height: 25px;
}
#btnDiv8 {
    display: flex;
    justify-content: end;
}

