* {
    /* border: 1px solid blue; */
}

section.container div {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 800px;
}

/* 기간별 조회 select 영역 */
main > :nth-child(1) {
    display: flex;
    align-items: center;
    height: 40px;
}
section.container .year {
    width: 70px;
    height: 25px;
    font-size: 13px;
}
section.container .month {
    width: 45px;
    height: 25px;
    font-size: 13px;
}
section.container .day {
    width: 45px;
    height: 25px;
    font-size: 13px;
}

/* 요청내역, 승인내역 버튼 */
main > :nth-child(2) {
    display: flex;
    cursor: pointer;
}
main > :nth-child(2) > :nth-child(1) {
    width: 65px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1.5px solid var(--main5-color);
}
main > :nth-child(2) > :nth-child(2) {
    width: 65px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1.5px solid var(--main5-color);
}
main > :nth-child(2) > :nth-child(3) {
    width: 65px; 
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-left: 1.5px solid var(--main5-color);
    border-top: 1.5px solid var(--main5-color);
    border-right: 1.5px solid var(--main5-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
main > :nth-child(2) > :nth-child(4) {
    flex-basis: 74.5%;
    border-bottom: 1.5px solid var(--main5-color);
}

/* 헤드와 바디 */
section.container main > :nth-child(3) {
    display: flex;
    flex-direction: column;
    height: 560px;
    margin-top: 5px;
}

/* 헤드 */
main > :nth-child(3) > :nth-child(1) {
    display: flex;
    align-items: center;
    height: 35px;
    background-color: var(--main5-color);
}
main > :nth-child(3) > :nth-child(1) div {
    display: flex;
    align-items: center;
    background-color: var(--main5-color);
}

main > :nth-child(3) > :nth-child(1) > :nth-child(1) {
    flex-basis: 11%;
    margin-left: 20px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(2) {
    flex-basis: 9%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(3) {
    flex-basis: 9%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(4) {
    flex-basis: 15%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(5) {
    flex-basis: 8%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(6) {
    flex-basis: 13%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(7) {
    flex-basis: 13%;
    margin-left: 10px;
}
main > :nth-child(3) > :nth-child(1) > :nth-child(8) {
    flex-basis: 8%;
    margin-left: 10px;
}

/* 바디 */
.body {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1.5px solid #d9d9d9;
}

.body > :nth-child(1) {
    flex-basis: 11%;
    margin-left: 20px;
}
.body > :nth-child(2) {
    flex-basis: 9%;
    margin-left: 10px;
}
.body > :nth-child(3) {
    flex-basis: 9%;
    margin-left: 10px;
}
.body > :nth-child(4) {
    flex-basis: 15%;
    margin-left: 10px;
}
.body > :nth-child(5) {
    flex-basis: 8%;
    margin-left: 10px;
}
.body > :nth-child(6) {
    flex-basis: 13%;
    margin-left: 10px;
}
.body > :nth-child(7) {
    flex-basis: 13%;
    margin-left: 10px;
}
.body > :nth-child(8) {
    flex-basis: 8%;
    margin-left: 10px;
}
.body > :nth-child(8) > button {
    width: 60px;
    height: 30px;
    padding: 0;
}

/* 페이지네이션 */
main > :nth-child(4) {
    
}


* {
    /* border: 1px solid blue; */
}



/* ------------------------------------------------------------------------------------------- */
/* 모달 내용 스타일 */
.modal-content2 {
    display: flex;  
    width: 500px;
    height: 390px;
    border-radius: 5px;
}

.contentHead2 {
    display: flex;
    justify-content: space-between;
}
.contentHead2 > :nth-child(1) {
    display: flex;
    align-items: end;
    width: 140px;
    height: 40px;
}
.contentHead2 > :nth-child(2) {
    display: flex;
    align-items: end;
    width: 100%;
    border-bottom: 1.5px solid var(--main6-color);
}
.contentHead2 > div > span {
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}
.contentHead2 > div > :nth-child(1) {
    border-bottom: 1.5px solid var(--main6-color);
}
.contentHead2 > div > :nth-child(2) {
    border-left: 1.5px solid var(--main6-color);
    border-right: 1.5px solid var(--main6-color);
    border-top: 1.5px solid var(--main6-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



/* 
section.container .contentBody2 {
    display: flex;
    flex-direction: column;
    height: 340px;
    margin-top: 10px;
}

.contentBody2 > :nth-child(1) {
    display: flex;
    height: 30px;
    text-align: center;
    line-height: 32px;
}
.contentBody2 > :nth-child(1) > span {
    background-color: var(--main6-color);
    color: white;
    font-size: 14px;
    border-right: 1.5px solid white;
}
.contentBody2 > :nth-child(1) > :nth-child(1) {
    border-left: 1.5px solid var(--main6-color);
    flex-basis: 23%;
}
.contentBody2 > :nth-child(1) > :nth-child(2) {
    flex-basis: 15%;
}
.contentBody2 > :nth-child(1) > :nth-child(3) {
    flex-basis: 23%;
}
.contentBody2 > :nth-child(1) > :nth-child(4) {
    flex-basis: 23%;
}
.contentBody2 > :nth-child(1) > :nth-child(5) {
    flex-basis: 16%;
    border-right: 1.5px solid var(--main6-color);
} */


/* 요청 내역 리스트 디테일 */
.RequestDetail  {
    display: flex;
    height: 40px;
    text-align: center;
    line-height: 42px;
}
.RequestDetail > span {
    border-bottom: 1.5px solid var(--main6-color);
    border-right: 1.5px solid var(--main6-color);
    color: black;
    font-size: 14px;
}
.RequestDetail > :nth-child(1) {
    border-left: 1.5px solid var(--main6-color);
    flex-basis: 23%;
}
.RequestDetail > :nth-child(2) {
    flex-basis: 15%;
}
.RequestDetail > :nth-child(3) {
    flex-basis: 23%;
}
.RequestDetail > :nth-child(4) {
    flex-basis: 23%;
}
.RequestDetail > :nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 16%;
}
.default-label {
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 15px;
    line-height: 17px;
}
.proceeding {
    background-color: var(--sub-color);
}
.complete {
    background-color: var(--sub3-color);
}
.reject {
    background-color: var(--main5-color);
}