<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>받은메일함</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/mail/mail.css">

</head>
<body>
    
    <section class="container">

        <div class="mailHeader">
            <div class="mailLabel">
                <label>받은메일함</label>
                <div class="cntLabel">
                    <a th:text="${inMailNoReadCount}">0</a> 
                    / <span th:text="${inMailCount}">전체 메일 개수</span>
                </div>
                <div><button class="default-btn glucose-btn"
                    th:onclick="location.href='/mail/mailInsert'">메일쓰기</button></div>
            </div>
            <div class="search">
                <select class="default-line">
                    <option>제목</option>
                    <option>내용</option>
                    <option>보낸 사람</option>
                </select>
    
                <form th:action="@{/mail/inBoxSearch}" method="get" class="default-line" id="searchForm">
                    <input type="text" name="mailQuery" id="SearchQuery" placeholder="검색">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
                
            </div>
        </div>

        <!-----------------------------------------------   테이블  ------------------------------------------------------------------>

        <div class="board">

            <div class="table-body">
                <div class="checkDiv">
                    <input type="checkbox">
                    <i class="fa-solid fa-sort-down"></i>
                    <label class="delBtn" id="deleteBtn">삭제</label>
                </div>
                <div></div>
                <div></div>
                <div class="menuDiv">
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <i class="fa-solid fa-sort-down"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-bars"></i>
                        <i class="fa-solid fa-sort-down"></i>
                    </div>
                </div>
            </div>

            <div class="table-body row" th:each="inMail : ${inMail}" th:object="${inMail}" 
                th:onclick="|location.href='@{/mail/mailDetail/{mailNo} (mailNo=*{mailNo})}'|">
                <div class="checkDiv">
                    <input type="checkbox" th:attr="data-mail-id=${inMail.mailNo}" >
                    <div><span th:text="${inMail.senderTeamNm}" id="senderTeamNm">보낸 사람 팀이름</span>&nbsp;<span th:text="${inMail.sender}">이름</span></div>
                </div>
                <div th:attr="data-mail-id=${inMail.mailNo}" th:text="${inMail.mailTitle}" id="mailTitle" class="mailTitle">
                    메일 제목
                </div>
                
                <div th:text="${inMail.mailWriteDate}" id="mailWriteDate">메일 보낸 시각</div>
            </div>

        

            <!-----------------------------------------------   페이지  ------------------------------------------------------------------>

            <div class="pagination-area">
        
                <ul class="pagination" th:object="${pagination}">

                    <!-- 첫 페이지로 이동 -->
                    <li><a th:href="@{/mail/sentBox(cp=1, key=${param.key}, query=${param.query})}">&lt;&lt;</a></li>
                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a th:href="@{/mail/sentBox(cp=*{prevPage}, key=${param.key}, query=${param.query})}">&lt;</a></li>
                    <!-- 특정 페이지로 이동 -->
                    <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">                       
                    <!-- 현재 보고있는 페이지 -->
                    <li th:if="${i} == *{currentPage}">
                        <a class="current" th:text="${i}">1</a>
                    </li>                       
                    <!-- 보고있지 않은 페이지 -->
                    <li th:unless="${i} == *{currentPage}">
                        <a th:text="${i}" th:href="@{/mail/sentBox(cp=${i}, key=${param.key}, query=${param.query})}">2</a>
                    </li>
                    </th:block>
                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a th:href="@{/mail/sentBox(cp=*{nextPage}, key=${param.key}, query=${param.query})}">&gt;</a></li>
                    <!-- 끝 페이지로 이동 -->
                    <li><a th:href="@{/mail/sentBox(cp=*{maxPage}, key=${param.key}, query=${param.query})}">&gt;&gt;</a></li>
                    
                </ul>
            </div>
        </div>
    </section>
</body>
</html>