<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체메일</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/board/board.css">
    <link rel="stylesheet" href="/css/employee/mail/mail.css">

</head>
<body>
    
    <section class="container">

        <div class="mailHeader">

            <div class="mailLabel">
                <label>메일</label>
            </div>
            <div></div>
        </div>

        <!-----------------------------------------------   테이블  ------------------------------------------------------------------>

        <div class="board">

            <div class="table-body">
                <div class="checkDiv">
                    <label class="delBtn">답장</label>
                    <label class="delBtn">전달</label>
                    <label class="delBtn">삭제</label>
                </div>
                <div></div>
                <div></div>
                <div class="menuDiv checkDiv">
                    <div><label class="delBtn">목록</label></div>
                    <i class="fa-solid fa-angle-up"></i>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>

            <div class="table-body2">
                <!-- 제목 -->
                <div class="ins-css insertForm">
                    <div><label>제목</label></div>
                    <span th:text="${mail.mailTitle}" class="mailTitle"></span>
                </div>

                <!-- 보낸사람 -->
                <div class="ins-css insertForm mailInfo">
                    <div><label>보낸 사람</label></div>
                    <div th:text="${mail.sender}"></div>
                    <div th:text="${mail.senderMail}" class="default-label lavenderLabel"></div>
                </div>

                <!-- 받는사람 -->
                <div class="ins-css insertForm mailInfo" > <!-- th:each="${mail.recipientList}" -->
                    <div><label>받는 사람</label></div>
                    <div th:text="${mail.recipient}">받는사람</div>
                    <div th:text="${mail.recipientMail}" class="default-label lavenderLabel"></div>
                </div>

                <!-- 참조 -->
                <div class="ins-css insertForm mailInfo"> <!-- th:each="${mail.referenceList}" -->
                    <div><label>참조</label></div>
                    <div th:text="${mail.reference}"></div>
                    <div class="default-label lavenderLabel" th:text="${mail.referenceMail}">메일주소</div>
                </div>

                <!-- 날짜 -->
                <div class="ins-css insertForm mailInfo">
                    <div><label>보낸 시각</label></div>
                    <div th:text="${mail.mailWriteDate}" class="delBtn">2024년 05월 23일 16시 49분</div>
                </div>

                <!-- 파일 -->
                <div class="ins-css">

                    <div class="">
                        <button type="button" class="fa-solid fa-chevron-up btnBoarder fileListInfo"></button>
                       <!-- <label th:text="|첨부파일 *{fileCnt}개|">첨부파일</label><label class="colorGray">(12.1KB)</label>-->
                    </div>
                    <table class="default-line preview">
                        <tr th:each="file : ${fileList}" th:object="${file}">
                            <td><i class="fa-solid fa-paperclip"></i><label th:text="*{fileOriginName}">검색.png</label></td>
                            <td></td>
                            <td><a class="fa-solid fa-download" th:href="|*{filePath}*{fileRename}|" th:download="*{fileOriginName}"></a></td>
                        </tr>
                    </table>
                    
                </div>
            </div>

            <div class="default-line smarteditorDetail">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면 됩니다.</div>

            <div class="table-body row">
                <div class="checkDiv">
                    <i class="fa-solid fa-caret-up"></i>
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>

            <div class="table-body row">
                <div class="checkDiv">
                    <i class="fa-solid fa-caret-down"></i>
                    <div>개발팀</div>
                </div>
                <div>[받은 메일함] 중간 만족도 조사</div>
                <div></div>
                <div>2024-05-22 12:20</div>
            </div>


        </div>
    </section>
</body>
</html>