<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>

    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/employee/mail/mail.css">
    <link rel="stylesheet" href="/css/employee/mail/mailDetail.css">

</head>
<body>
    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

    <section class="container">

        <div class="mailHeader">

            <div class="mailLabel">
                <label>메일</label>
            </div>
            <div></div>
        </div>

        <!-----------------------------------------------   테이블  ------------------------------------------------------------------>

        <div class="board">

            <div class="table-body">
                <div class="checkDiv" th:if="${mail.mailFlag == '1'}">
                    <label class="delBtn" id="reBtn" th:attr="data-mail-id=${mail.mailNo}" 
                            th:onclick="|location.href='/mail/reply/' + ${mail.mailNo}|">답장</label>
                    <label class="delBtn" id="fwBtn" th:attr="data-mail-id=${mail.mailNo}" 
                            th:onclick="|location.href='/mail/forward/' + ${mail.mailNo}|">전달</label>
                    <label class="delBtn" id="deleteBtn">삭제</label>
                </div>
                <div class="checkDiv" th:unless="${mail.mailFlag == '1'}">
                    <label class="delBtn" id="restoreBtn">복구</label>
                    <label class="delBtn" id="eliminateBtn">영구삭제</label>
                </div>
                <div></div>
                <div></div>
                <div class="menuDiv checkDiv">
                    <div th:if="${mail.mailFlag == '1'}"><label class="delBtn" id="mailListBtn">목록</label></div>
                    <div th:unless="${mail.mailFlag == '1'}"><label class="delBtn" id="mailListBtn">목록</label></div>
                    <i class="fa-solid fa-angle-up"></i>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
            </div>

            <div class="table-body2">
                <!-- 제목 -->
                <div class="ins-css insertForm" id="detailTitle">
                    <div><label>제목</label></div>
                    <input type="hidden" th:attr="data-mail-id=${mail.mailNo}" id="mailNo">
                    <span th:text="${mail.mailTitle}" class="mailTitle" id="mailTitle"></span>
                </div>

                <!-- 보낸사람 -->
                <div class="ins-css insertForm mailInfo" id="senderArea">
                    <div><label>보낸 사람</label></div>
                    <div th:text="${mail.sender}" id="senderName"></div>
                    <div th:text="${mail.senderMail}" class="default-label lavenderLabel" id="senderMail"></div>
                </div>

                <!-- 받는사람 -->
                <div class="ins-css insertForm mailInfo" id="recipientArea">
                    <div style="width: 80px;"><label>받는 사람</label></div>
                    <div th:each="recipient : ${recipientList}" id="recipientList">
                        <div th:text="${recipient.recipient}" id="recipientName">받는사람</div>
                        <div th:text="${recipient.recipientMail}" class="default-label lavenderLabel" id="recipientMail"></div>
                    </div>
                </div>

                <!-- 참조 -->
                <div class="ins-css insertForm mailInfo" id="refererArea"> 
                    <div style="width: 80px;">
                        <label>참조</label> 
                    </div>
                    <div th:each="referer : ${refererList}" id="refererList">
                        <div th:text="${referer.referer}" id="refererName"></div>
                        <div class="default-label lavenderLabel" th:text="${referer.refererMail}" id="refererMail">메일주소</div>
                    </div>
                </div>

                <!-- 날짜 -->
                <div class="ins-css insertForm mailInfo" id="mailWriteDateArea">
                    <div style="width: 80px;"><label>보낸 시각</label></div>
                    <div th:text="${mail.mailWriteDate}" class="delBtn">2024년 05월 23일 16시 49분</div>
                </div>

                <!-- 파일 -->
                <div class="ins-css">
                    <div><label>첨부파일</label></div>
                    <div class="">
                        <button type="button" class="fa-solid fa-chevron-up btnBoarder fileListInfo"></button>
                    </div>
                    <table class="default-line preview">
                        <tr th:each="file : ${fileList}" th:object="${file}">
                            <td><i class="fa-solid fa-paperclip"></i><label th:text="*{fileOriginName}">검색.png</label></td>
                            <td></td>
                            <td><a class="fa-solid fa-download" th:href="|*{filePath}*{fileRename}|" th:download="*{fileOriginName}"></a></td>
                        </tr>
                    </table>
                    
                </div>
            </div>

            <div class="default-line smarteditorDetail" th:utext="${mail.mailContent}"></div>

                        <!--         <div class="table-body row">
                                        <div class="checkDiv">
                                            <i class="fa-solid fa-caret-up"></i>
                                            <div>개발팀</div>
                                        </div>
                                        <div>[받은 메일함] 중간 만족도 조사</div>
                                        <div></div>
                                        <div>2024-05-22 12:20</div>
                                    </div>

                                    <div class="table-body row">
                                        <div class="checkDiv">
                                            <i class="fa-solid fa-caret-down"></i>
                                            <div>개발팀</div>
                                        </div>
                                        <div>[받은 메일함] 중간 만족도 조사</div>
                                        <div></div>
                                        <div>2024-05-22 12:20</div>
                                    </div>
                        --> 

        </div>
    </section>

    <script th:inline="javascript">
        const mailbox = /*[[${mailbox}]]*/ 'default';
    </script>

    <script src="/js/employee/mail/detail.js"></script>
    <script src="/js/employee/mail/binDetail.js"></script>
</body>
</html>