a{
    text-decoration: none;
    text-decoration-style: none;
    color: #000;
}
a:hover {
    color: #fff;
}


/* ------ 파일 업로드 영역 ----- */


.fileInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
}

.uploadFileLabel{
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 12px;
    width: 60px;
    text-align: center;
    height: 18px;
    padding-top: 4px;
    margin-top: 3px;
    cursor: pointer;
}

/* 파일 리스트 보여주는 영역 */
.fileList, .detailFileList {
    list-style-type: none;
    width: 278px;
    min-height: 120px !important;
    border: 1px solid #d9d9d9;
    overflow-y: auto;
    padding: 10px;
    margin-top: 0 !important;
  /*  box-sizing: border-box;
    margin-left: 65px !important; */
}

.fileList ul, .detailFileList ul {
    padding: 0;
    margin: 0;
}

.fileList li, .detailFileList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.fileList button, .detailFileList button {
    background-color: #82A6CB;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 6px;
    margin-left: 10px;
    height: 18px;
    display: flex;
    align-items:center; 
}

.fileList button:hover, .detailFileList button:hover {
    background-color: #d9d9d9;
}

.show {
    display: block !important;
}


/* 첨부파일 div */
#fileArea {
    align-items: center;
}



/* 검색 */
#searchTodo{
    margin-top: 0 !important;
}

/* 할일 헤드 + 목록 전체 감싸는 div */
.todoArea{
    display: flex;
    flex-direction: column;
    min-width: 1000px;
}

/* 목록 + 상세 전체 감싸는 div */
.todoListArea {
    display: flex;
    margin: 0 !important;
}

/* ! 목록 !*/
.todoList {
    margin: 0 !important;
    min-height: 700px;
    max-height: 780px;
    overflow-y: auto;
}

/* 할 일 초기 아무것도 등록되어있지 않을때  투두리스트 영역*/
#noTodosMessage {
    width: 680px;
}


/* ------ 할 일 헤드 영역 ------ */
.todoHead {
    display: flex;
    align-items: center;
    background-color: #82A6CB;
    margin-bottom: 0 !important;
    font-size: 15px;
    font-weight: bold;
}

.todoHead div:nth-of-type(1){
    margin-left: 20px;
    margin-right: 10px;
}
.todoHead div:nth-of-type(2){
    margin-right: 20px;
}
.todoHead div:nth-of-type(3){
    margin-right: 20px;
}
.todoHead div:nth-of-type(4){
    width: 55%;
}
.todoHead div:nth-of-type(5){
    margin-left: 20px;
    margin-right: 20px;
}

#doneList {
    margin-right: 7px;
}


/* ------ 할 일 목록 영역 ----- */
/* 할 일 목록 영역 등록이나 수정 등 옆에 창 생기기 전에는 넓이 1000px 줄어들때 680px */
/* 영역은 옆에 창 생길 때 
.todo div:nth-of-type(1){
    margin-left: 20px;
    width: 20px;
}
.todo div:nth-of-type(2){
    margin-left: 10px;
    width: 77%;
}
.todo div:nth-of-type(3){
    margin-left: 30px;
    width: 100px;
}
*/

#todoInsertArea.fixed {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

#todoInsertArea.normal {
    position: static;
    width: auto;
    box-shadow: none;
}

.todo {
    width: 1000px;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
}

.todo div:nth-of-type(1){
    margin-left: 20px;
    width: 20px;
}
.todo div:nth-of-type(2){
    margin-left: 10px;
    width: 86%;
    cursor: pointer;
}


/* ! select ! */
ul{
    list-style-type: none;
    padding-left: 0px;
}

.select{
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.selected {
    border-radius: 10px;
    text-align: center;
    width: 50px !important;
    margin: 0 !important;
    padding: 8px;
}

/* 진행중 */
.select .selected.in-progress {
    background-color: #CEEEC3; 
    z-index: 1;
}

/* 완료 색상 */
.select .selected.completed {
    background-color: #FFE0E6; 
    z-index: 1;
}

.optionList {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: #fff;
    display: none;
    z-index: 1;
    overflow: hidden;
}

.optionItem {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
}

.optionItem:hover {
    background-color: #f1f1f1;
}

/*.select ul {
    position: absolute;
    width: 100%;
    cursor: pointer;
    top: 30px;
    left: 0;
}

.select ul li {
    padding: 10px;
    font-size: 12px;
}

.selected{
    font-size: 12px;
} */



/* ---------------- 할 일 등록 ---------------- */
.todoDetailArea, .todoInsertArea {
    border: 1px solid #d9d9d9;
    width: 340px;
    min-height: 733px;
    margin: 15px 0 15px 20px !important;
    padding: 15px;
    transition: opacity 0.3s, display 0s 0.3s;
}

.todoDetailArea.show, .todoInsertArea.show {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
}

/* ------------ 상세 내부 ------------ */
.todoDetailArea div, .todoInsertArea div  {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 9px !important;
}

/*
.todoDetailArea div:first-child, 
.todoInsertArea div:first-child  {
    margin-left: 15px !important;
} */

/* 담당자 입력하는 인풋 */
#inChargeInputbox {
    margin: 0 !important;
}

/* 기한 / 요청자 부분 높이 */


.inCharge {
    height: 40px;
}

/* 할 일 상세 내부 input창 */
#todoTitle {
    border: 0px;
    border-bottom: 1px solid var(--gray-color);
    padding: 5px;
    width: 210px;
   /* margin-left: 8px; */
}

#todoTitle:hover {
    border-bottom: 1px solid #214177;
}

/* 요청 내용 박스 부분 */
#requestContent {
    border: 1px solid #d9d9d9;
    padding: 10px;
    resize: none;
    height: 180px !important;
    width: 278px;
    overflow-y: auto;
    margin-left: 9px;
    margin-top: 15px;
}

#requestContent:focus {
    outline: none;
}



/* 목록 내부 제목 부분 */
.detailTitle {
    font-weight: bold;
    font-size: 14px;
    color: #214177;
    width: 60px;
    margin-left: 25px !important;
}

/* 목록 내부 내용 부분 */
.detailContent {
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
/*
.inCharge > div {
    min-height: 30px !important;
}*/

/* 기한 input */
input[type="date"] {
    border: none;
}

/* 기한 부분 */
input[type="date"]:hover {
    border: none !important;
    cursor: pointer;
}

.request {
    height: 25px;
}

/*
#requestName {
    margin-left: 10px;
} */


/* --------- 버튼 ---------*/

/* 등록 버튼 */
#btnArea {
    margin: 0 0 0 770px;
    display: flex;
}

#insertBtn {
    margin-left: 70px;
}

#deleteBtn {
    margin-left: 10px;
}

#insertBtn2 {
    margin-left: 280px;
    border: none;
    background-color: transparent;
    color: #214177;
    font-weight: bold;
    margin-top: 0;
}

#updateBtn {
    border: none;
    background-color: transparent;
    color: #214177;
    font-weight: bold;
    margin-top: 0;
}

#cancelBtn {
    border: none;
    background-color: transparent;
    color: #214177;
    font-weight: bold;
    margin-top: 0;
}

/* 버튼 영역 */
#insertBtn2Area {
    margin-bottom: 0 !important;
}

#updateBtnArea {
    justify-content: end;
    gap: 5px;
}

#insertBtn2:hover, #updateBtn:hover, #cancelBtn:hover {
    border-bottom: 1px solid ;
    padding: 6px;
}

/* 모달 스타일 */
.modal {
    display: none; 
    position: absolute;
    z-index: 1;
   /*  left: 75%;
    top: 18%;
    transform: translate(-50%, -50%); */
    width: 200px;
    height: 50px;
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #82A6CB;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(156, 156, 156, 0.2), 0 2px 10px 0 rgba(156, 156, 156, 0.19);
}

.arrow {
    position: absolute;
    bottom: -20px;  
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fefefe; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* 사원 검색 */

/* 담당자 */

#tagsWrapperRegister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    white-space: nowrap; 
    border-bottom: 1px solid #d9d9d9 ;
    width: 287px;
    overflow-x: auto;
    /*max-height: 30px;
    margin: 0 0 0 13px !important; */
}

#tagsWrapperEdit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    white-space: nowrap; 
    border-bottom: 1px solid #d9d9d9 ;
    width: 287px;
    overflow-x: auto;
}

#tagsWrapperEdit:hover, #tagsWrapperRegister:hover {
    border-bottom: 1px solid #214177;
}

.inchargeinput {
    display: flex;
    flex-direction: column;
}

#inCharge, #inChargeDetail {
    position: relative;
}

.inChargeDetail, .detailContent {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.inChargeDetail {
    margin-bottom: 0 !important;
}

.inChargeDetail input:focus {
    outline: none;
}

.inChargeDetail .tag {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
 /*   background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px; */
}

.inChargeDetail .delete-button {
    margin-left: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.searchTable {
    position: absolute;
    top: calc(60% + 5px); /* tagsWrapper div 바로 아래에 위치 */
    width: 215px;
    background-color: white;
    border: 1px solid var(--gray-color);
    z-index: 1000;
    display: none;  /* 초기에는 숨김 */
    max-height: 200px; /* 필요 시 추가 */
    overflow-y: auto; /* 세로 스크롤 추가 */
}

.searchRow {
    display: flex;
    justify-content: space-around;
    padding: 5px; /* 내부 여백 추가 */
    cursor: pointer;
    margin: 5px 5px 5px 15px !important; 
    height: 15px !important;
}

.searchTable .searchRow div[hidden] {
    display: none; /* empCode 숨김 처리 */
}

#inChargeEmpInput2, #inChargeEmpInput1, 
#inChargeInput1, #inChargeInput2 {
    border: none;
    outline: none;
    /*flex-shrink: 0;*/
    white-space: nowrap; 
   /* padding-left: 18px; */
}

#inChargeEmpInput2 {
    width: 216px;
    border-bottom: 1px solid #d9d9d9;
    padding: 5px;
}

#inChargeEmpInput1 {
    width: 207px;
    border-bottom: 1px solid #d9d9d9;
    padding: 5px;
}

#inChargeEmpInput2:hover, #inChargeEmpInput1:hover {
    border-bottom: 1px solid #214177;
}

.tag {
    display: inline-block;
    margin-right: 5px;
}

.delete-button {
    margin-left: 5px;
    cursor: pointer;
}

#recipient:focus + .searchTable,
#referer:focus + .searchTable {
    display: block;
}


.searchTr {
   display: flex; 
    margin: 0px !important;
}

.searchTr:hover {
    background-color: var(--gray-color);
    cursor: pointer;
}

.searchTr div {
    margin: 0 !important;
}

#searchForm {
    height: 35px;
    align-items: center;
}

#searchIcon {
    background-color: transparent;
    border: none;
}

.delete-button:hover {
    cursor: pointer;
}

.putRecipient, .putReferer{
    justify-content: space-between;
    width: 100px;
    max-height: 20px;
    padding: 10px;

}


/* 파일 영역 */
.preview {
    max-height: 300px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤바 표시 */
    border: 1px solid #ccc; /* 경계선 */
    padding: 10px; /* 패딩 */
    box-sizing: border-box; /* 박스 모델 설정 */
}

/* 버튼 호버시 */
.delBtn {
    cursor: pointer;
}

.lavenderLabel {
    background: var(--main4-color);
    margin-right: 10px;
    border-bottom: 1px solid var(--gray-color);
}


