ul{
    list-style-type: none;
    padding-left: 0px;
}

.select{
    display: inline-block;
    width: 120px;
    border-radius: 10px;
}

.select, .selected {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    background-color: bisque;
}

.select, .selected, .selectedValue {
    max-width: 90px;
} 

.select ul {
    width: 120px;
    border-radius: 20px;
    position: absolute;
    border-top: 0;
    margin: 1px 0 0 -1px;
    cursor: pointer;
}

.select ul li {
    padding: 8px 5px;
}