<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyList</title>

    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/employee/survey/mySurvey.css">
    
</head>
<body>
    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>
    
    <section class="container" id="surveyContainer">
        <!-- 설문조사 목록 제목 -->
        <div class="title"><span>내가 쓴 설문</span></div>

        <!-- 설문 추가 버튼 -->
        <div id="surveyBtnTop">
            <a href="surveyInsert" class="default-btn sapphire-border-btn">설문 추가</a>
        </div>
    </section>


    <!-- 설문 목록 보여질 곳 -->
    <section class="container">

        <div class="boardDiv">

            <div class="table-head">
                <div>제목</div>
                <div>작성자</div>
                <div>작성일</div>
				<th:block th:each="survey : ${surveyList}">
				    <a th:href="@{/survey/calculate/{surveyNo}(surveyNo=${survey.surveyNo})}">Calculate</a>
				    <div th:text="${survey.surveyMainTitle}"></div> <!-- survey.someField 를 원하는 필드로 교체 -->
				</th:block>
            </div>

			


            
        </div>
        
    </section>
	
   <!-- <script src="/js/employee/survey/surveyList.js"></script>-->
    <script src="https://kit.fontawesome.com/247c6d7026.js" crossorigin="anonymous"></script>
</body>
</html>