<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyList</title>

    <link rel="icon" href="/images/favicon.png">
	<link rel="stylesheet" href="/css/employee/survey/mySurvey.css">
    
</head>
<body>
	<th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>
	
	<div id="surveyMenuBar">
		<a href="/survey/receiveSurvey" type="button" id="receiveSurveyBtn">
				받은 설문 			
		</a>
		<a href="/survey/mySurvey" type="button" id="mySurveyBtn">
				내가 쓴 설문			
		</a>
	</div>
	

	<div id="receiveSurveyTitle">
		<div id="receiveSurveyTitleDiv">내가 쓴 설문</div>
	</div>
	
	<div id="surveyInsertDivContainer">
		<div id="surveyInsertDiv">
			<a href="/survey/surveyInsert" id="surveyInsertA" >
				&nbsp;
				<i class="fa-regular fa-pen-to-square"></i>	
				&nbsp;
				설문 쓰기
				&nbsp;
			</a>			
		</div>
	</div>
	
	<div id="listContainer">
		<div id="listContainerInnerDiv">
			<div id="titleDiv">
				제목
			</div>
			<div id="writerDiv">
				작성자
			</div>
			<div id="endDateDiv">
				기한 
			</div>
			<div id="totalResponseCountDiv">
				응답자 수 	
			</div>
		</div>
	</div>
	
	<div id="receiveSurveyContainer">
		<!-- 잘 들어갈려나? -->
		<th:block th:each="survey : ${surveyList}">
			<a th:href="@{/survey/calculate/{surveyNo}(surveyNo=${survey.surveyNo})}"
			class="oneRowA"
			>
			<div th:text="${survey.surveyMainTitle}" class="innerContent"></div>
			<div th:text="${survey.fullName}" class="innerContent" >asdfadf</div>
			<div th:if="${survey.restDaysNoExist}==null" th:text="${survey.restDays} +  ' 일' " 	class="innerContent"></div>
			<div th:if="${survey.restDaysNoExist}!=null" th:text="${survey.restDaysNoExist}" 	class="innerContent" style="color: coral"></div>
			<div th:text="${survey.totalResponseCount}"></div>
			</a>	
		</th:block>
		<!-- 잘 들어갈려나? -->
	</div>
	
	<!-- 페이지네이션 조각 시작 -->
	<div id="paginationContainer">
		
	<div id="pagination">
		
	    <!-- 처음 -->
	    <a th:if="${currentGroupFirstPage != 1}" th:href="@{/survey/mySurvey}" id="first-page-a"		style="font-weight: bold; text-decoration: none; color: black;">&lt;&lt;</a>
		&nbsp; &nbsp;
		<a th:if="${currentGroupFirstPage != 1}" th:href="@{/survey/mySurvey(currentPage=${currentGroupFirstPage}-1)}" id="previous-a"		style="font-weight: bold; text-decoration: none; color: black;">&lt;</a>
		&nbsp; &nbsp; 		&nbsp;
	    <!-- 중간 -->
	    <div th:if="${currentGroupLastPage != 0}" id="paginationMiddleContainer">
	        <div th:each="i : ${#numbers.sequence(currentGroupFirstPage, currentGroupLastPage)}" class="pagination-element">
	            <span th:if="${i == currentPage}" th:text="${i}" class="current-page-span" style="font-weight: bold; text-decoration: underline;">Current Page</span>
	            <a th:if="${i != currentPage}" th:href="@{/survey/mySurvey(currentPage=${i})}" class="pagination-a"
	                th:text="${i}"
					style="text-decoration: none; color: black;"
					>Page Link</a>
	            &nbsp;&nbsp;
	        </div>
	    </div>
	    
	    <div th:if="${currentGroupLastPage == 0}">
	        <span style="color:#e06500;" class="current-page-span">1</span>
	    </div>
	
	    <!-- 끝 -->
	    <a th:if="${currentGroupLastPage < totalPages}" th:href="@{/survey/mySurvey(currentPage=${currentGroupLastPage}+1)}" id="next-a" style="font-weight: bold; text-decoration: none; color: black;"> &gt;</a>
		&nbsp; &nbsp;
	    <a th:if="${currentGroupLastPage < totalPages}" th:href="@{/survey/mySurvey(currentPage=${totalPages})}" id="last-page-a"		style="font-weight: bold;		text-decoration: none; color: black;">&gt;&gt;</a>
	</div>
	
	</div>
	
	<!-- 페이지네이션 조각 끝 -->
	
    <script th:inline="javascript">
        const noAuthority = /*[[${noAuthority}]]*/ "전달 받은 message";
        if (noAuthority != null) alert(noAuthority);        
    </script>

    <script src="/js/employee/survey/surveyList.js"></script>
    <script src="https://kit.fontawesome.com/247c6d7026.js" crossorigin="anonymous"></script>
</body>
</html>












