<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyDetail</title>

    <link rel="stylesheet" href="/css/employee/survey/surveyDetail.css">
</head>
<body>
    <section class="container" id="surveyContainer">
        <!-- 설문조사 상세 제목 -->
        <div class="title"><span>명절 선물 조사</span></div>

        <!-- 설문조사 작성한 사람이 로그인한 경우 -->
        <div id="surveyBtnTop">
            <a href="surveyInsert" class="default-btn sapphire-border-btn">삭제</a>
        </div>
    </section>
</body>
</html>