<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyList</title>

    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/employee/survey/surveyList.css">
    
</head>
<body>
    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>
    
    <section class="container" id="surveyContainer">
        <!-- 설문조사 목록 제목 -->
        <div class="title"><span>받은 설문</span></div>
    </section>

    <!-- 설문 목록 보여질 곳 -->
    <section class="container">
        <div class="boardDiv">
            <div class="table-head">
                <div>제목</div>
                <div>작성자</div>
                <div>기한</div>
            </div>

            <div class="table-body">
                <th:block th:each="survey : ${newSurveyList}">
                    <div class="oneRowDiv">
                        <a th:href="@{/survey/surveyDetail/{surveyNo}(surveyNo=${survey.surveyNo})}" class="oneRowA">
                            <div th:text="${survey.surveyMainTitle}" 
                                 th:classappend="${survey.answerFl} ? 'title-true' : 'title-false'"></div>
                            <div th:text="${survey.fullName}"
                                 th:classappend="${survey.answerFl} ? 'writer-true' : 'writer-false'"></div>    
                            <div th:text="${survey.restDays} + ' 일'"
                                 th:classappend="${survey.answerFl} ? 'gihan-true' : 'gihan-false'"></div>
                        </a>    
                    </div>
                </th:block>
            </div>
            
            <div id="pagination">
                <!-- 처음 -->
                <a th:if="${currentGroupFirstPage != 1}" th:href="@{/survey/receiveSurvey}" id="first-page-a">&lt;&lt;</a>
                <a th:if="${currentGroupFirstPage != 1}" th:href="@{/survey/receiveSurvey(currentPage=${currentGroupFirstPage}-1)}" id="previous-a">&lt;</a>
                
                <!-- 중간 -->
                <div th:if="${currentGroupLastPage != 0}" id="paginationMiddleContainer">
                    <div th:each="i : ${#numbers.sequence(currentGroupFirstPage, currentGroupLastPage)}" class="pagination-element">
                        <span th:if="${i == currentPage}" th:text="${i}" class="current-page-span">Current Page</span>
                        <a th:if="${i != currentPage}" th:href="@{/survey/receiveSurvey(currentPage=${i})}" class="pagination-a"
                            th:text="${i}">Page Link</a>
                        &nbsp;&nbsp;
                    </div>
                </div>
                
                <div th:if="${currentGroupLastPage == 0}">
                    <span style="color:#e06500;" class="current-page-span">1</span>
                </div>

                <!-- 끝 -->
                <a th:if="${currentGroupLastPage < totalPages}" th:href="@{/survey/receiveSurvey(page=${currentGroupLastPage}+1)}" id="next-a">&gt;</a>
                <a th:if="${currentGroupLastPage < totalPages}" th:href="@{/survey/receiveSurvey(page=${totalPages})}" id="last-page-a">&gt;&gt;</a>
            </div>
        </div>
    </section>

    <script th:inline="javascript">
        const noAuthority = /*[[${noAuthority}]]*/ "전달 받은 message";
        if (noAuthority != null) alert(noAuthority);        
    </script>

    <script src="/js/employee/survey/surveyList.js"></script>
    <script src="https://kit.fontawesome.com/247c6d7026.js" crossorigin="anonymous"></script>
</body>
</html>
