<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyDetail</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/employee/survey/surveyDetail.css">
</head>
<body>
    <section class="container" id="surveyContainer">
        <!-- 설문조사 상세 대제목 -->
        <div class="title"><span>명절 선물 설문 조사</span></div>

    </section>
    
    <!-- 설문조사 작성한 사람이 로그인한 경우 -->
    <section class="container">
        <div id="surveyBtnTop">
            <button href="surveyInsert" class="default-btn sapphire-border-btn">삭제</ㅠ>
        </div>
    </section>
</body>
</html>