<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurveyDetail</title>

    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/employee/survey/surveyDetail.css">
</head>
<body>
    <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

    <section class="container" id="surveyTitleBtn">
        <!-- 설문조사 상세 대제목 -->
        <div class="title"><span th:text="${mainTitle}"></span></div>
    </section>

    <!-- 객관식 선택할 경우 -->
    <form class="submitForm" action="/survey/submitAnswer" method="post">
        
        <!-- 소제목 시작 -->
        <th:block th:each="surveySub : ${surveySubList}" class="questionArea">
            <div th:if="${surveySub.questionType == '1'}" class="multipleQuestion">
                
                <!-- 객관식인 경우 -->
                <div th:text="'Q. ' + ${surveySub.surveySubTitle}" class="multipleQuestionTitle"></div>
                
                <th:block th:each="option : ${surveySub.options}" class="option" style="background-color: aqua; display: flex;">
                        <input 
							type="radio"
							th:name="${surveySub.surveySubNo}"
							th:value="${option.surveyMultipleNo}"
							th:id="${option.surveyMultipleNo}"
						/>
						<label th:for="${option.surveyMultipleNo}" th:text="${option.multipleQuestion}"></label>
                </th:block>
                
            </div>
            <div th:if="${surveySub.questionType == '2'}" class="subjectiveQuestion">
                <!-- 주관식인 경우 -->
                <div th:text="'Q. ' + ${surveySub.surveySubTitle}" class="subjectiveQuestionTitle"></div>
                <textarea th:name="${surveySub.surveySubNo}" 
				
				></textarea>
                
            </div>
        </th:block>        
        <!-- 소제목 끝 -->
		
		<button type="submit"> 제출 </button>
    </form>
	
	

    <script src="/js/employee/survey/surveyDetail.js"></script>
</body>
</html>
