<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Insert</title>
   <link rel="stylesheet" href="/css/employee/survey/surveyCalculate.css">
</head>
<body>
   <th:block th:replace="~{employee/userMain/leftSideBar}"></th:block>

   	<div id="insertSurveyContainer">
		<div id="surveyWriteText">
		 설문 결과 
		</div>		
		<div id="surveyMainTitleDiv">
			<div th:text="'제목 : ' + ${survey.surveyMainTitle}" id="surveyMainTitle"></div>
			<div id="highlight"></div>
		</div>
		
		<div id="conditionDiv">
			<div th:each="surveySub : ${surveySubList}" class="conditionDivInnerDiv">
				<div class="conditionDivInnerInnerDiv">
					<div th:text="'Q.  ' +${surveySub.surveySubTitle}" class="surveySubTitle"></div>
		
					<!-- 객관식인 경우 -->
					<div th:if="${surveySub.questionType} == '1'" 					class="optionContainer">
						<!-- 선택지 수만큼 반복 -->
						<div  th:each="i : ${#numbers.sequence(0, surveySub.options.size() - 1)}"> 
						      <!--선택지-->
							  <div th:text="'- ' + ${surveySub.options[i].multipleQuestion}" class="optionTitle"></div>
						      <!-- 몇퍼센트인지 -->
							  <div class="gageBarContainer">
								<div th:data-ratio="${surveySub.ratioList[i]}" 
								class="gageBar"
								></div>
							  </div>
							  <div class="additionalData">
							  	<span th:text="${surveySub.ratioList[i]} + '%'" style="color: coral;"></span>
								,&nbsp; <i class="fa-regular fa-user"></i>
							  	<span th:text="': ' + ${surveySub.optionCount[i] + '명이 선택하였습니다'}"></span>
							  </div>
						</div>
					</div>
					
					<!-- 주관식인 경우 -->
					<div th:if="${surveySub.questionType} == '2'">
						<a th:href="@{/survey/showSubjectiveAnswer(surveySubNo=${surveySub.surveySubNo},surveySubTitle=${surveySub.surveySubTitle},surveyMainTitle=${survey.surveyMainTitle})}" class="more"> 자세히 보기 &nbsp;</a>
							<i class="fa-solid fa-plus"></i> 
						</a>
					</div>
				
				</div>
			</div >		
		</div>
		

		


   </div>
   

   
   
   <!— 바닥에 딱 붙는게 싫어서 추가한 빈 공간  —>
   <div id="embrace">
       <div id="forBottomEmptySpace">
			 완료
	  </div>
  </div>
   
      <script src="/js/employee/survey/surveyCalculate.js"></script>

    
</body>
</html>
